<div class="container">
  <section>
    <div class="page-header">
      <h1>
        {{#language_en}}
          Source Code
        {{/language_en}}
        {{#language_ja}}
          ソースコード
        {{/language_ja}}
      </h1>
    </div>
    <p>
      {{#strip_html}}
        <a class="btn btn-large"
          href="files/vulkanon-2.1.tar.gz">
          {{#language_en}}
            Download Source Code
          {{/language_en}}
          {{#language_ja}}
            ソースコードをダウンロード
          {{/language_ja}}
        </a>
      {{/strip_html}}
    </p>
  </section>

  <section>
    <div class="page-header">
      <h1>
        {{#language_en}}
          How to build
        {{/language_en}}
        {{#language_ja}}
          ビルド方法
        {{/language_ja}}
      </h1>
    </div>
    <h2>
      {{#language_en}}
        Requirements
      {{/language_en}}
      {{#language_ja}}
        必要な環境
      {{/language_ja}}
    </h2>
    <ul>
      <li>
        <a href="http://sourceforge.net/projects/devkitpro/" target="_blank">devkitPro r18 (buildscripts 20060412)</a>
        {{#language_en}}
          (You need to use version r18. Do not use the latest release!)
        {{/language_en}}
        {{#language_ja}}
          （最新版ではなく、r18を使う必要があります。）
        {{/language_ja}}
      </li>
    </ul>
    <h2>
      {{#language_en}}
        Steps
      {{/language_en}}
      {{#language_ja}}
        手順
      {{/language_ja}}
    </h2>
    <p>
      {{#language_en}}
        Execute the following commands in Terminal.
      {{/language_en}}
      {{#language_ja}}
        以下のコマンドをターミナルから実行してください。
      {{/language_ja}}
    </p>
    <pre>{{#strip_lines}}
      % tar ztf vulkanon-2.1.tar.gz
      % cd vulkanon-2.1/vulkanon/
      % make
    {{/strip_lines}}</pre>
  </section>
</div>
