<div class="container">
  <header>
    <div class="jumbotron">
      <h1>Disable DragAndDrop</h1>
      <div class="row">
        <div class="col-lg-6">
          <p>
            A Thunderbird extension which disables drag and drop in the folder pane.
            This extension prevents unintended folder movement.
          </p>
          <p>
            <a class="btn btn-primary btn-lg" target="_blank"
              href="https://addons.mozilla.org/thunderbird/addon/disable-draganddrop-tb-v2/">
              Download from Thunderbird Add-ons for Thunderbird 68+
            </a>
          </p>

          <p>
            <a class="btn btn-primary btn-sm" target="_blank"
              href="https://addons.mozilla.org/thunderbird/addon/disable-draganddrop-tb/">
              Download from Thunderbird Add-ons for Thunderbird 60 or prior.
            </a>
          </p>

          <p>
            <a href="https://github.com/tekezo/disable_dnd_tb/blob/master/LICENSE.md" target="_blank">
            <img src="/img/icon/license-public-domain.svg" alt="Public Domain" />
            </a>
          </p>
        </div>
        <div class="col-lg-4">
          <img src="img/logo.png" style="width: 100%; border: 1px solid gray;" />
        </div>
      </div>
    </div>
  </header>

  <div class="row">
    <div class="col-md-9 pqrs-docs-container">
      <section>
        <div class="page-header">
          <h1 id="development">
            Development
          </h1>
        </div>
        <p>
          <a href="https://github.com/tekezo/disable_dnd_tb" target="_blank">https://github.com/tekezo/disable_dnd_tb</a>
        </p>
      </section>

      <section>
        <div class="page-header">
          <h1 id="history">
            Version History
          </h1>
        </div>
        {{#histories}}
          <h2>
            Version {{version}}
            {{#updated}}
              <small>
                {{#format_date}}
                  {{updated}}
                {{/format_date}}
              </small>
            {{/updated}}
          </h2>
          <div style="margin-left: 2em">
            {{{body}}}
          </div>
        {{/histories}}
      </section>
    </div>
    <div class="col-md-3">
      {{> ../../pqrs_tabs }}
    </div>
  </div>
</div>
