<div class="container">
  <header>
    <div class="jumbotron">
      <h1>Disable DragAndDrop</h1>
      <div class="row">
        <div class="col-lg-6">
          <p>
            {{#language_en}}
              A Thunderbird extension which disables drag and drop in the folder pane.
              This extension prevents unintended folder movement.
            {{/language_en}}
            {{#language_ja}}
              フォルダペインでのドラッグを禁止するThunderbird拡張。
              意図せぬドラッグアンドドロップによるフォルダ移動を防ぎます。
            {{/language_ja}}
          </p>
          <p>
            {{#strip_html}}
              <a class="btn btn-primary btn-lg" target="_blank"
                href="https://addons.mozilla.org/thunderbird/addon/disable-draganddrop-thunderbir/">
                {{#language_en}}
                  Download from Thunderbird ADD-ONS
                {{/language_en}}
                {{#language_ja}}
                  Thunderbird ADD-ONSからダウンロード
                {{/language_ja}}
              </a>
            {{/strip_html}}
          </p>

          <p>
            {{#strip_html}}
              <a class="btn btn-default btn-small"
                href="files/disable_dnd_tb-3.0.0.xpi">
                {{#language_en}}
                  Download from this site
                {{/language_en}}
                {{#language_ja}}
                  このサイトからダウンロード
                {{/language_ja}}
                &nbsp;<small>(Version 3.0.0)</small>
              </a>
            {{/strip_html}}
          </p>
        </div>
        <div class="col-lg-4" style="height: 250px; background: url(img/logo.png) no-repeat right">
        </div>
      </div>
    </div>
  </header>

  <div class="row">
    <div class="col-md-9 pqrs-docs-container">
      <section>
        <div class="page-header">
          <h1 id="development">
            {{#language_en}}
              Development
            {{/language_en}}
            {{#language_ja}}
              開発
            {{/language_ja}}
          </h1>
        </div>
        <p>
          <a href="https://github.com/tekezo/disable_dnd_tb" target="_blank">https://github.com/tekezo/disable_dnd_tb</a>
        </p>
      </section>

      <section>
        <div class="page-header">
          <h1 id="history">
            {{#language_en}}
              Version History
            {{/language_en}}
            {{#language_ja}}
              更新履歴
            {{/language_ja}}
          </h1>
        </div>
        {{#histories}}
          <h2>
            Version {{version}}
            {{#updated}}
              <small>
                {{#format_date}}
                  {{updated}}
                {{/format_date}}
              </small>
            {{/updated}}

            {{#link}}
              <a class="btn btn-default" href="{{link}}">
                {{#language_en}}
                  Download
                {{/language_en}}
                {{#language_ja}}
                  ダウンロード
                {{/language_ja}}
              </a>
            {{/link}}
          </h2>
          <div style="margin-left: 2em">
            {{{body_l10n}}}
          </div>
        {{/histories}}
      </section>
    </div>
    <div class="col-md-3">
      {{> ../../pqrs_tabs }}
    </div>
  </div>
</div>
