<div class="container">
  <section>
    <div class="page-header">
      <h1>
        Controls
      </h1>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h2>
          At Main Menu
        </h2>
        <dl class="dl-horizontal">
          <dt>A Button</dt>
          <dd>Choose.</dd>

          <dt>B Button</dt>
          <dd>Cancel.</dd>

          <dt>Control Pad</dt>
          <dd>Move cursor.</dd>
        </dl>
      </div>
      <div class="col-lg-6">
        <img alt="Title"
        {{#imgsrc}}
          img/title.png
        {{/imgsrc}}
        />
      </div>
    </div>

    <hr width="50%" />

    <div class="row">
      <div class="col-lg-6">
        <h2>
          In Game
        </h2>
        <dl class="dl-horizontal">
          <dt>A,B Button</dt>
          <dd>Shot.</dd>

          <dt>L,R Button</dt>
          <dd>Laser.</dd>

          <dt>Select</dt>
          <dd>Back to Main Menu.</dd>

          <dt>Control Pad</dt>
          <dd>Move.</dd>
        </dl>
      </div>
      <div class="col-lg-6">
        <img alt="Game"
        {{#imgsrc}}
          img/ss-main.png
        {{/imgsrc}}
        />
      </div>
    </div>
  </section>

  <section>
    <div class="page-header">
      <h1>
        Manual
      </h1>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h2>
          Playing the game
        </h2>
        Defeat the boss within three minutes time limits.
      </div>
      <div class="col-lg-6">
        <img alt="Boss"
        {{#imgsrc}}
          img/bosscore.png
        {{/imgsrc}}
        />
      </div>
    </div>

    <hr width="50%" />

    <h2>
      Enemy Bullets
    </h2>

    <table class="table table-bordered">
      <tbody>
        <tr>
          <th>
            Destroyable Bullet
          </th>
          <th>
            Suicide Bullet
          </th>
          <th>
            Aimed Suicide Bullet
          </th>
        </tr>
        <tr>
          <td>
            <img alt="Destroyable Bullet"
            {{#imgsrc}}
              img/spr_bullet.png
            {{/imgsrc}}
            />
          </td>
          <td>
            <img alt="Suicide Bullet"
            {{#imgsrc}}
              img/spr_suicide_bullet_original_direction.png
            {{/imgsrc}}
            />
          </td>
          <td>
            <img alt="Aimed Suicide Bullet"
            {{#imgsrc}}
              img/spr_suicide_bullet_target_self.png
            {{/imgsrc}}
            />
          </td>
        </tr>
      </tbody>
    </table>

    <p>
      Suicide Bullets and Aimed Suicide Bullets are generated when you shot Destroyable Bullet.
    </p>

    <hr width="50%" />

    <div class="row">
      <div class="col-lg-6">
        <h2>
          Laser
        </h2>
        <p>
          Laser destroys all enemy bullets.
        </p>
        <p>
          You can use Laser when Power is 100%.
        </p>
      </div>
      <div class="col-lg-6">
        <img alt="Boss"
        {{#imgsrc}}
          img/laser.png
        {{/imgsrc}}
        />
      </div>
    </div>
  </section>
</div>
