<div class="container">
  <section>
    <div class="page-header">
      <h1>
        Source Code
      </h1>
    </div>
    <p>
      {{#strip_html}}
        <a class="btn btn-default btn-small"
          href="files/vulkanon-2.1.tar.gz">
          Download Source Code
        </a>
      {{/strip_html}}
    </p>
  </section>

  <section>
    <div class="page-header">
      <h1>
        How to build
      </h1>
    </div>
    <h2>
      Requirements
    </h2>
    <ul>
      <li>
        <a href="http://sourceforge.net/projects/devkitpro/" target="_blank">devkitPro r18 (buildscripts 20060412)</a>
        (You need to use version r18. Do not use the latest release!)
      </li>
    </ul>
    <h2>
      Steps
    </h2>
    <p>
      Execute the following commands in Terminal.
    </p>
    <pre>{{#strip_lines}}
      % tar ztf vulkanon-2.1.tar.gz
      % cd vulkanon-2.1/vulkanon/
      % make
    {{/strip_lines}}</pre>
  </section>
</div>
