<div class="container">
  <section>
    <div class="page-header">
      <h1>{{title}}</h1>
    </div>

    <div class="col-lg-2">
      <img
      {{#imgsrc}}
        img/profile.jpg
      {{/imgsrc}}
      alt="Profile Photo"
      class="img-responsive" />
    </div>
    <div class="col-lg-10">
      <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>
          Takayama Fumihiko<br />
          ("高山 扶美彦" in kanji)
        </dd>
        <dt>Email</dt><dd>tekezo@pqrs.org</dd>
        <dt>SNS</dt>
        <dd>
          <a target="_blank" href="https://plus.google.com/+FumihikoTakayama">Google+</a><br />
          <a target="_blank" href="https://twitter.com/tekezo">Twitter</a><br />
        </dd>
      </dl>
    </div>
  </section>
</div>
