<div class="container">
  <header>
    <div class="hero-unit">
      <h1>BulletGBA</h1>
      <p>
        {{#language_en}}
          A homebrew bullet hell simulator for Gameboy Advance.
        {{/language_en}}
        {{#language_ja}}
          ゲームボーイアドバンス用の弾幕シミュレーター
        {{/language_ja}}
      </p>
      <p>
        {{#strip_html}}
          <a class="btn btn-primary btn-large"
            href="files/bulletgba-5.0.rom.gba.zip">
            {{#language_en}}
              Download GBA ROM
            {{/language_en}}
            {{#language_ja}}
              GBA ROMをダウンロード
            {{/language_ja}}
          </a>
        {{/strip_html}}
      </p>
      <p>
        <small>
          {{#language_en}}
            (64 Mbit Cartridge + 256 Kbit SRAM)
          {{/language_en}}
          {{#language_ja}}
            (64 Mbit カートリッジ + 256 Kbit SRAM)
          {{/language_ja}}
        </small>
      </p>
    </div>
  </header>

  <section>
    <div class="page-header">
      <h1>
        {{#language_en}}
          Movie &amp; Screenshots
        {{/language_en}}
        {{#language_ja}}
          ムービー &amp; スクリーンショット
        {{/language_ja}}
      </h1>
    </div>
    <iframe width="320" height="240" src="https://www.youtube.com/embed/2rI0Sw1bHLM" frameborder="0"></iframe>
    <hr />
    <div class="row">
      <div class="span3">
        {{#lightbox}}
          img/photo.jpg photo
        {{/lightbox}}
      </div>
      <div class="span3">
        {{#lightbox}}
          img/title.png title
        {{/lightbox}}
      </div>
      <div class="span3">
        {{#lightbox}}
          img/normal.png simulator
        {{/lightbox}}
      </div>
      <div class="span3">
        {{#lightbox}}
          img/shooting.png shooting mode
        {{/lightbox}}
      </div>
    </div>
  </section>
</div>
