<div class="container">
  <section>
    <div class="page-header">
      <h1>
        {{#language_en}}
          Controls
        {{/language_en}}
        {{#language_ja}}
          操作方法
        {{/language_ja}}
      </h1>
    </div>
    <div class="row">
      <div class="span6">
        <h2>
          {{#language_en}}
            At Main Menu
          {{/language_en}}
          {{#language_ja}}
            メインメニュー
          {{/language_ja}}
        </h2>
        <dl class="dl-horizontal">
          {{#language_en}}
            <dt>A Button</dt>
            <dd>Choose.</dd>

            <dt>B Button</dt>
            <dd>Cancel.</dd>

            <dt>Control Pad</dt>
            <dd>Move cursor.</dd>
          {{/language_en}}
          {{#language_ja}}
            <dt>Aボタン</dt>
            <dd>選択</dd>

            <dt>Bボタン</dt>
            <dd>キャンセル</dd>

            <dt>十字キー</dt>
            <dd>カーソル移動</dd>
          {{/language_ja}}
        </dl>
      </div>
      <div class="span6">
        <img alt="Title" {{#imgsrc}}img/title.png{{/imgsrc}} />
      </div>
    </div>
    <hr width="50%" />
    <div class="row">
      <div class="span6">
        <h2>
          {{#language_en}}
            In Game
          {{/language_en}}
          {{#language_ja}}
            ゲーム中
          {{/language_ja}}
        </h2>
        <dl class="dl-horizontal">
          {{#language_en}}
            <dt>B Button</dt>
            <dd>Back to Main Menu.</dd>

            <dt>R Button</dt>
            <dd>Skip to next barrage. (You cannot skip in Shooting Mode.)</dd>

            <dt>Start,Select</dt>
            <dd>Toggle slow mode.</dd>

            <dt>Control Pad</dt>
            <dd>Move.</dd>
          {{/language_en}}
          {{#language_ja}}
            <dt>Bボタン</dt>
            <dd>メインメニューに戻る</dd>

            <dt>Rボタン</dt>
            <dd>次の弾幕へスキップ（シューティングモードではスキップできません）</dd>

            <dt>スタート、セレクト</dt>
            <dd>スローモードの切り替え</dd>

            <dt>十字キー</dt>
            <dd>移動</dd>
          {{/language_ja}}
        </dl>
      </div>
      <div class="span6">
        <img alt="Game" {{#imgsrc}}img/normal.png{{/imgsrc}} />
      </div>
    </div>
  </section>

  <section>
    <div class="page-header">
      <h1>
        {{#language_en}}
          Modes
        {{/language_en}}
        {{#language_ja}}
          モード
        {{/language_ja}}
      </h1>
    </div>
    <div class="row">
      <div class="span6">
        <dl class="dl-horizontal">
          <dt>Select Barrage</dt>
          <dd>
            {{#language_en}}
              Select the barrage from the list.
            {{/language_en}}
            {{#language_ja}}
              弾幕リストから選択
            {{/language_ja}}
          </dd>

          <dt>
            Shooting Level 1-4
          </dt>
          <dd>
            {{#language_en}}
              Destroy the boss.
            {{/language_en}}
            {{#language_ja}}
              ボスを破壊
            {{/language_ja}}
          </dd>

          <dt>BulletsMorph</dt>
          <dd>
            {{#language_en}}
              Generate the barrage automatically.
            {{/language_en}}
            {{#language_ja}}
              自動的に弾幕を生成
            {{/language_ja}}
          </dd>
        </dl>
      </div>
      <div class="span6">
        <img alt="Title" {{#imgsrc}}img/title.png{{/imgsrc}} />
      </div>
    </div>
  </section>

  <section>
    <div class="page-header">
      <h1>
        {{#language_en}}
          Slow Mode
        {{/language_en}}
        {{#language_ja}}
          スローモード
        {{/language_ja}}
      </h1>
    </div>
    <div class="row">
      <div class="span6">
        <p>
          {{#language_en}}
            You can toggle slow mode by START or SELECT.
          {{/language_en}}
          {{#language_ja}}
            スタートボタンやセレクトボタンでスローモードを切り替えることができます。
          {{/language_ja}}
        </p>
        <ul>
          {{#language_en}}
            <li>Bullets will be slowed down to 1/4 speed.</li>
            <li>The color of the bullets becomes purple.</li>
          {{/language_en}}
          {{#language_ja}}
            <li>弾速が1/4になります</li>
            <li>弾の色が紫色になります</li>
          {{/language_ja}}
        </ul>
        <p>
          {{#language_en}}
            You need "Jewel" to enter slow mode.
            Slow mode will be canceled when jewel becomes zero or you are bombarded.
          {{/language_en}}
          {{#language_ja}}
            スローモードにするにはJewelが必要です。Jewelがゼロになったときや被弾したときはスローモードが解除されます。
          {{/language_ja}}
        </p>
      </div>
      <div class="span6">
        <img alt="Normal"
        {{#imgsrc}}
          img/shooting.png
        {{/imgsrc}}
        />
        <img alt="Slow"
        {{#imgsrc}}
          img/slowmode.png
        {{/imgsrc}}
        />
      </div>
    </div>
  </section>
</div>
