/* variables */

$header-nav-height: 50px;
$zindex-modal: 1050;
$page-top-fixed-alert-height: 72px;

/* --------------------------------------------------
 * for bootstrap
 * -------------------------------------------------- */

body {
  padding: 50px;

  > header.navbar.bs-docs-nav {
    border-bottom: 2px solid #614788;

    .navbar-brand {
      border-right: 1px solid #614788;
      font-size: 90%;
    }

    .navbar-nav {
      li.active > a {
        color: white;
        background-color: #614788;
      }
    }
  }

  > div.container {
    section {
      margin-bottom: 40px;
    }

    b {
      padding: 2px 4px;
      font-size: 90%;
      color: #c7254e;
      background-color: #f9f2f4;
      border-radius: 4px;
    }

    img.border {
      border: 1px solid gray;
    }

    div.instruction {
      padding: 5px 10px 5px 10px;
      border: 2px solid #614788;
      border-radius: 5px;
    }

    hr.horizontal-separator {
      border-color: #614788;
      border-width: 15px;
      margin-top: 40px;
      margin-bottom: 40px;

      &.thin {
        border-width: 3px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

    .update-description {
      .update-description-item {
        .update-description-body {
          img.img {
            max-width: 600px;
          }
        }
      }
    }
  }
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

div.jumbotron {
  margin-top: 20px;
  position: relative;

  div.github-link {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
  }
}

div.pqrs-docs-container {
  border-right: 1px solid #614788;
}

ol.steps a.thumbnail {
  margin: 8px 0;
}

.col-show-grid {
  background-color: #f8f8f8;
  min-height: 120px;
  border-radius: 6px;
  margin: 0 5px 20px 5px;
  padding: 10px;
}

.page-header {
  border-bottom-width: 5px;
}

.label-beta {
  background-color: #5bc0de;
}

.js-id-link-wrapper {
  position: relative;
}

.js-id-link {
  color: inherit;
  position: absolute;
  top: 0;
  left: -1em;
}

code.required {
  color: #3c763d;
  background-color: #dff0d8;
}

code.optional {
  color: #254ec7;
  background-color: #f2f4f9;
}

.bs-docs-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

div.container {
  h1[id],
  h2[id],
  h3[id],
  h4[id],
  div[id] {
    padding-top: $header-nav-height + 20px !important;
    margin-top: -($header-nav-height + 20px) !important;
  }

  div.pre-shell {
    background-color: #ccc;
    border-radius: 4px;
    margin-top: 15px;

    pre {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }
  }
  div.pre-shell:before {
    content: 'Terminal';
    font-weight: bold;
    padding: 3px 10px;
    display: block;
  }
}

body.with-page-top-fixed-alert {
  header {
    margin-top: $page-top-fixed-alert-height;
    z-index: $zindex-modal - 1;
  }

  #page-top-fixed-alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $page-top-fixed-alert-height;
    z-index: $zindex-modal - 1;
    text-align: center;
  }

  > div.container {
    margin-top: $page-top-fixed-alert-height - $header-nav-height;

    h1[id],
    h2[id],
    h3[id],
    h4[id],
    div[id] {
      padding-top: $header-nav-height + $page-top-fixed-alert-height + 20px !important;
      margin-top: -($header-nav-height + $page-top-fixed-alert-height + 20px) !important;
    }
  }
}

.bs-docs-sidebar {
  position: fixed;
}

/* --------------------------------------------------
 * for jquery.collapse.js
 * -------------------------------------------------- */

.jqcNode {
  font-weight: bold;
  color: green;
}

#collapser li {
  white-space: pre-wrap;
}

#collapser ul {
  margin-bottom: 10px;
}

/* --------------------------------------------------
 * common
 * -------------------------------------------------- */

.clickable {
  cursor: pointer;
}
