<div class="container">
  <header>
    <div class="jumbotron">
      <h1>
        ShowyEdge
        <img src="/img/icon/osx/ShowyEdge.png" alt="ShowyEdge" width="128" height="128" style="margin-left: 20px" />
      </h1>

      <p>
        <img
        alt="menu bar"
        {{#imgsrc}}
          img/menubar@2x.png
        {{/imgsrc}}
        style="border: 1px solid black; margin: 20px"
        />
      </p>

      <p>
        ShowyEdge displays a color bar at the top edge of the screen depending on the current input source.<br />
        You can recognize the current input source very easily even if you are using fullscreen apps.<br />
        <br />
      </p>

      <p>
        {{#strip_html}}
          <a class="btn btn-primary btn-lg"
            href="files/ShowyEdge-3.2.0.dmg">
            Download ShowyEdge-3.2.0
            &nbsp;
            <span class="label label-default">
              For OS X 10.9+
            </span>
          </a>
        {{/strip_html}}
      </p>

      <p>
        <a href="https://github.com/tekezo/ShowyEdge/blob/master/LICENSE.md" target="_blank">
        <img src="/img/icon/license-public-domain.svg" alt="Public Domain" />
        </a>
      </p>

      <div class="alert alert-warning" role="alert">
        About Sparkle Updater Vulnerability:<br />
        ShowyEdge is safe from <a href="https://sparkle-project.org/documentation/security/" class="alert-link" target="_blank">the Sparkle Updater Vulnerability</a>
        because ShowyEdge uses HTTPS for feeds and files.
      </div>

      <hr />

      <p>
        {{#strip_html}}
          <a class="btn btn-default"
            href="files/ShowyEdge-2.2.0.dmg">
            Download ShowyEdge-2.2.0
            &nbsp;
            <span class="label label-default">
              For OS X 10.8, 10.7
            </span>
          </a>
        {{/strip_html}}
      </p>

      <p>
        {{#strip_html}}
          <a class="btn btn-default"
            href="files/ShowyEdge-1.8.0.dmg">
            Download ShowyEdge-1.8.0
            &nbsp;
            <span class="label label-default">
              For OS X 10.6
            </span>
          </a>
        {{/strip_html}}
      </p>
    </div>
  </header>

  <div class="row">
    <div class="col-md-9 pqrs-docs-container">
      <section>
        <div class="page-header">
          <h1 id="installation">
            Installation
          </h1>
        </div>

        <ol class="steps">
          <li>
            <p>
              Open a downloaded dmg file.
            </p>
            <p>
              <img
              alt="dmg"
              {{#imgsrc}}
                ../images/dmg-icon@2x.png
              {{/imgsrc}}
              />
            </p>
          </li>

          <li>
            <p>
              Move ShowyEdge icon into Applications icon.<br />
              Then, ShowyEdge will be installed into Applications.
            </p>
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/install@2x.png Install ShowyEdge
                {{/lightbox}}
              </div>
            </div>
          </li>

          <li>
            <p>
              Open ShowyEdge from Launchpad.
            </p>
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/launchpad@2x.png Launchpad
                {{/lightbox}}
              </div>
            </div>
          </li>

          <li>
            <p>
              Preferences will be opened.<br />
              Change values if needed and then close the window.<br />
            </p>
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/preferences@2x.png Preferences
                {{/lightbox}}
              </div>
            </div>
          </li>
        </ol>
      </section>

      <section>
        <div class="page-header">
          <h1 id="usage">
            Usage
          </h1>
        </div>

        <p>
          ShowyEdge provides preset colors for many input sources.<br />
          Therefore you can use ShowyEdge without any configuration.
        </p>

        <p>
          For example, a color bar becomes blue-white-red when you change input source to French.
        </p>

        <p>
          <img
          alt="menu bar"
          {{#imgsrc}}
            img/menubar@2x.png
          {{/imgsrc}}
          style="border: 1px solid black; margin: 20px"
          />
        </p>

        <h2>
          Color configuration
        </h2>

        <p>
          You can configure colors by following procedures if there is no preset colors for your input source or you want to change the color.
        </p>

        <ol class="steps">
          <li>
            Open ShowyEdge from Launchpad.
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/launchpad@2x.png Launchpad
                {{/lightbox}}
              </div>
            </div>
          </li>
          <li>
            Preferences will be opened. Then, press "Add custom color" button on Preferences.
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/add-color@2x.png Finder
                {{/lightbox}}
              </div>
            </div>
          </li>
          <li>
            Change colors of input source.
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/change-color@2x.png Finder
                {{/lightbox}}
              </div>
            </div>
          </li>
        </ol>
      </section>

      <section>
        <div class="page-header">
          <h1 id="quit">
            How to quit
          </h1>
        </div>

        <ol class="steps">
          <li>
            Open ShowyEdge from Launchpad.
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/launchpad@2x.png Launchpad
                {{/lightbox}}
              </div>
            </div>
          </li>
          <li>
            Press "Quit ShowyEdge" button.
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/quit@2x.png Launchpad
                {{/lightbox}}
              </div>
            </div>
          </li>
        </ol>
      </section>

      <section>
        <div class="page-header">
          <h1 id="uninstall">
            Uninstall
          </h1>
        </div>

        <ol class="steps">
          <li>
            First, <a href="#quit">quit ShowyEdge.</a>
          </li>
          <li>
            Open Applications in Finder and then delete ShowyEdge.
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/uninstall@2x.png Uninstall
                {{/lightbox}}
              </div>
            </div>
          </li>
        </ol>
      </section>

      <section>
        <div class="page-header">
          <h1 id="development">
            Development
          </h1>
        </div>
        <p>
          <a href="https://github.com/tekezo/ShowyEdge" target="_blank">https://github.com/tekezo/ShowyEdge</a>
        </p>
      </section>

      <section>
        <div class="page-header">
          <h1 id="history">
            Version History
          </h1>
        </div>

        {{#histories}}
          <h2>
            Version {{version}}
            {{#updated}}
              <small>
                {{#format_date}}
                  {{updated}}
                {{/format_date}}
              </small>
            {{/updated}}

            {{#link}}
              <a class="btn btn-default btn-small" href="{{link}}">
                Download
              </a>
            {{/link}}
          </h2>
          <div style="margin-left: 2em">
            {{{body}}}
          </div>
        {{/histories}}
      </section>
    </div>
    <div class="col-md-3">
      {{> ../../pqrs_tabs }}
    </div>
  </div>
</div>
