<div class="container">
  <header>
    <div class="jumbotron">
      <h1>
        ShowyEdge
        <img src="/img/icon/osx/ShowyEdge.png" alt="ShowyEdge" width="128" height="128" style="margin-left: 20px" />
      </h1>

      <p>
        <img src="img/menubar.png" alt="menu bar" style="border: 1px solid black; margin: 20px" />
      </p>

      <p>
        {{#language_en}}
          ShowyEdge displays a color bar at the top edge of the screen depending on the current input source.<br />
          You can recognize the current input source very easily even if you are using fullscreen apps.
        {{/language_en}}
        {{#language_ja}}
          ShowyEdgeは現在の入力ソースに応じて画面の上端にカラーバーを表示して、入力ソースを視認しやすくします。
        {{/language_ja}}
      </p>

      <p style="margin: 40px 0">
        {{#strip_html}}
          <a class="btn btn-primary btn-lg"
            href="files/ShowyEdge-1.5.0.dmg">
            {{#language_en}}
              Download ShowyEdge-1.5.0
            {{/language_en}}
            {{#language_ja}}
              ShowyEdge-1.5.0をダウンロード
            {{/language_ja}}
            &nbsp;
            <span class="label label-default">
              {{#language_en}}
                For OS X 10.6+
              {{/language_en}}
              {{#language_ja}}
                OS X 10.6以降で動作します。
              {{/language_ja}}
            </span>
          </a>
        {{/strip_html}}
      </p>
    </div>
  </header>

  <div class="row">
    <div class="col-lg-3">
      {{> ../../pqrs_tabs }}
    </div>
    <div class="col-lg-9">
      <section id="installation">
        <div class="page-header">
          <h1>
            {{#language_en}}
              Installation
            {{/language_en}}
            {{#language_ja}}
              インストール方法
            {{/language_ja}}
          </h1>
        </div>

        <ol class="steps">
          <li>
            <p>
              {{#language_en}}
                Open a downloaded dmg file.
              {{/language_en}}
              {{#language_ja}}
                ダウンロードしたdmgファイルを開きます。
              {{/language_ja}}
            </p>
            <p>
              <img
              alt="dmg"
              {{#imgsrc}}
                img/dmg.png
              {{/imgsrc}}
              />
            </p>
          </li>

          <li>
            <p>
              {{#language_en}}
                Move ShowyEdge icon into Applications icon.<br />
                Then, ShowyEdge will be installed into Applications.
              {{/language_en}}
              {{#language_ja}}
                ShowyEdgeのアイコンをApplicationsに移動してください。<br />
                すると、ShowyEdgeがApplicationsにインストールされます。
              {{/language_ja}}
            </p>
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/install.png Install ShowyEdge
                {{/lightbox}}
              </div>
            </div>
          </li>

          <li>
            <p>
              {{#language_en}}
                Open Applications.<br />
                Then, Control-click or right click ShowyEdge,
                select "Open" from the top of contextual menu that appears.
              {{/language_en}}
              {{#language_ja}}
                Applicationsを開いてください。<br />
                そうしたら、ShowyEdgeを「Controlを押しながらクリック」もしくは「右クリック」して、
                メニューの一番上の「開く」を選択します。
              {{/language_ja}}
            </p>
            <p>
              <span class="label label-info">Important</span>
              {{#language_en}}
                You must open the pkg file from contextual menu in order to pass through Gatekeeper
              {{/language_en}}
              {{#language_ja}}
                Gatekeeperを通過するために、メニューからpkgファイルを開く必要があります。
              {{/language_ja}}
            </p>
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/open.png Open ShowyEdge
                {{/lightbox}}
              </div>
            </div>

            <p>
              {{#language_en}}
                A warning of Gatekeeper will be shown.
                Click "Open" in the dialog box.
              {{/language_en}}
              {{#language_ja}}
                Gatekeeperの警告が表示されますので、「開く」を選択してください。
              {{/language_ja}}
            </p>
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/gatekeeper.png Gatekeeper.
                {{/lightbox}}
              </div>
            </div>
          </li>

          <li>
            <p>
              {{#language_en}}
                Preferences will be opened.<br />
                Check "Start ShowyEdge on system startup".
              {{/language_en}}
              {{#language_ja}}
                設定画面が開きますので、「Start ShowyEdge on system startup」をチェックしてください。
              {{/language_ja}}
            </p>
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/preferences.png Preferences
                {{/lightbox}}
              </div>
            </div>
          </li>

          <li>
            <p>
              {{#language_en}}
                Close Preferences.
              {{/language_en}}
              {{#language_ja}}
                設定画面を閉じてください。
              {{/language_ja}}
            </p>
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/close.png Preferences
                {{/lightbox}}
              </div>
            </div>
          </li>
        </ol>
      </section>

      <section id="usage">
        <div class="page-header">
          <h1>
            {{#language_en}}
              Usage
            {{/language_en}}
            {{#language_ja}}
              使い方
            {{/language_ja}}
          </h1>
        </div>

        <p>
          {{#language_en}}
            ShowyEdge provides preset colors for many input sources.<br />
            Therefore you can use ShowyEdge without any configuration.
          {{/language_en}}
          {{#language_ja}}
            ShowyEdgeは多くの入力ソースに対して、あらかじめ色の設定が行われていますので、
            設定を行わなくても使用することができます。
          {{/language_ja}}
        </p>

        <p>
          {{#language_en}}
            For example, a color bar becomes blue-white-red when you change input source to French.
          {{/language_en}}
          {{#language_ja}}
            例えば、入力ソースをフランス語にするとカラーバーの色が「青、白、赤」になります。
          {{/language_ja}}
        </p>

        <div class="row">
          <div class="col-lg-4">
            {{#lightbox}}
              img/french.png French
            {{/lightbox}}
          </div>
        </div>

        <h2>
          {{#language_en}}
            Color configuration
          {{/language_en}}
          {{#language_ja}}
            色の設定
          {{/language_ja}}
        </h2>

        <p>
          {{#language_en}}
            You can configure colors by following procedures if there is no preset colors for your input source or you want to change the color.
          {{/language_en}}
          {{#language_ja}}
            あなたの入力ソースが設定されていなかったり、入力ソースの色を変更したい場合は、以下の手順で行います。
          {{/language_ja}}
        </p>

        <ol class="steps">
          <li>
            {{#language_en}}
              Open ShowyEdge from Launchpad.
            {{/language_en}}
            {{#language_ja}}
              LaunchpadからShowyEdgeを開いてください。
            {{/language_ja}}
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/launchpad.png Launchpad
                {{/lightbox}}
              </div>
            </div>
          </li>
          <li>
            {{#language_en}}
              Preferences will be opened. Then, press "+" button on Preferences.
            {{/language_en}}
            {{#language_ja}}
              設定画面が開きますので、「＋」ボタンを押してください。
            {{/language_ja}}
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/color1.png Finder
                {{/lightbox}}
              </div>
            </div>
          </li>
          <li>
            {{#language_en}}
              Change colors of input source.
            {{/language_en}}
            {{#language_ja}}
              入力ソースの設定が追加されますので、色を変更してください。
            {{/language_ja}}
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/color2.png Finder
                {{/lightbox}}
              </div>
            </div>
          </li>

          <li>
            <p>
              {{#language_en}}
                Close Preferences.
              {{/language_en}}
              {{#language_ja}}
                設定画面を閉じてください。
              {{/language_ja}}
            </p>
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/close.png Preferences
                {{/lightbox}}
              </div>
            </div>
          </li>
        </ol>
      </section>

      <section id="quit">
        <div class="page-header">
          <h1>
            {{#language_en}}
              How to quit
            {{/language_en}}
            {{#language_ja}}
              終了する方法
            {{/language_ja}}
          </h1>
        </div>

        <ol class="steps">
          <li>
            <p>
              {{#language_en}}
                Open Activity Monitor from Launchpad.
              {{/language_en}}
              {{#language_ja}}
                LaunchpadからActivity Monitorを起動してください。
              {{/language_ja}}
            </p>
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/launchpad-activitymonitor.png Launchpad
                {{/lightbox}}
              </div>
            </div>
            <p>
              {{#language_en}}
                Quit ShowyEdge processes.
              {{/language_en}}
              {{#language_ja}}
                ShowyEdgeプロセスを終了させてください。
              {{/language_ja}}
            </p>
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/activitymonitor.png Activity Monitor
                {{/lightbox}}
              </div>
            </div>
          </li>
        </ol>
      </section>

      <section id="uninstall">
        <div class="page-header">
          <h1>
            {{#language_en}}
              Uninstall
            {{/language_en}}
            {{#language_ja}}
              アンインストール方法
            {{/language_ja}}
          </h1>
        </div>

        <ol class="steps">
          <li>
            {{#language_en}}
              First, <a href="#quit">quit ShowyEdge.</a>
            {{/language_en}}
            {{#language_ja}}
              まず、<a href="#quit">ShowyEdgeを終了させてください。</a>
            {{/language_ja}}
          </li>
          <li>
            {{#language_en}}
              Open Applications in Finder. Then, delete ShowyEdge.
            {{/language_en}}
            {{#language_ja}}
              FinderでApplicationsを開いてください。そしてShowyEdgeを削除してください。
            {{/language_ja}}
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/finder.png Finder
                {{/lightbox}}
              </div>
            </div>
          </li>
        </ol>
      </section>

      <section id="development">
        <div class="page-header">
          <h1>
            {{#language_en}}
              Development
            {{/language_en}}
            {{#language_ja}}
              開発
            {{/language_ja}}
          </h1>
        </div>
        <p>
          <a href="https://github.com/tekezo/ShowyEdge" target="_blank">https://github.com/tekezo/ShowyEdge</a>
        </p>
      </section>

      <section id="history">
        <div class="page-header">
          <h1>
            {{#language_en}}
              Version History
            {{/language_en}}
            {{#language_ja}}
              更新履歴
            {{/language_ja}}
          </h1>
        </div>

        {{#histories}}
          <h2>
            Version {{version}}
            {{#updated}}
              <small>
                {{#format_date}}
                  {{updated}}
                {{/format_date}}
              </small>
            {{/updated}}

            {{#link}}
              <a class="btn btn-default btn-small" href="{{link}}">
                {{#language_en}}
                  Download
                {{/language_en}}
                {{#language_ja}}
                  ダウンロード
                {{/language_ja}}
              </a>
            {{/link}}
          </h2>
          {{{body_l10n}}}
        {{/histories}}
      </section>
    </div>
  </div>
</div>
