<div class="container">
  <section>
    <div class="page-header">
      <h1>
        {{#language_en}}
          Contact
        {{/language_en}}
        {{#language_ja}}
          連絡先
        {{/language_ja}}
      </h1>
    </div>
    <h2>
      {{#language_en}}
        Reporting Bugs, Feature requests
      {{/language_en}}
      {{#language_ja}}
        バグ報告や要望など
      {{/language_ja}}
    </h2>
    <p>
      {{#language_en}}
        Please post to <a target="_blank" href="https://groups.google.com/forum/#!forum/keyremap4macbook">Google Groups</a>.
      {{/language_en}}
      {{#language_ja}}
        <a target="_blank" href="https://groups.google.com/forum/#!forum/keyremap4macbook-ja">Google グループ</a>に投稿してください。
      {{/language_ja}}
    </p>
    <h2>
      {{#language_en}}
        Other
      {{/language_en}}
      {{#language_ja}}
        その他
      {{/language_ja}}
    </h2>
    <p>
      {{#language_en}}
        Send a mail to <a href="/profile.html.en">me</a>.
      {{/language_en}}
      {{#language_ja}}
        <a href="/profile.html.ja">私宛</a>にメールをください。
      {{/language_ja}}
    </p>
  </section>
</div>
