<div class="container">
  <section>
    <div class="page-header">
      <h1>
        {{#language_en}}
          Additional Apps
        {{/language_en}}
        {{#language_ja}}
          追加アプリ
        {{/language_ja}}
      </h1>
    </div>
    <ul>
      <li><a href="pckeyboardhack.html">PCKeyboardHack</a></li>
      <li><a href="noejectdelay.html">NoEjectDelay</a></li>
    </ul>
  </section>
</div>
