<div class="container">
  <header>
    <div class="hero-unit">
      <h1>KeyRemap4MacBook</h1>
      <p>
        {{#language_en}}
          A powerful and stable keyboard customizer for OS X.
        {{/language_en}}
        {{#language_ja}}
          高機能で安定性も極めて高いOS X用のキーボードカスタマイズツール。
        {{/language_ja}}
      </p>

      <ul style="margin-bottom: 20px">
        <li>
          {{#language_en}}
            <a href="document.html.{{language}}">You can easily customize</a> from prepared settings.
          {{/language_en}}
          {{#language_ja}}
            既存の設定が多数用意されているので、<a href="document.html.{{language}}">容易にカスタマイズできます。</a>
          {{/language_ja}}
        </li>
        <li>
          {{#language_en}}
            You can also <a href="document-private-xml.html.{{language}}">add your own settings by XML</a>.
          {{/language_en}}
          {{#language_ja}}
            また、<a href="document-private-xml.html.{{language}}">XMLであなた専用の設定を追加できます。</a>
          {{/language_ja}}
        </li>
      </ul>

      <p>
        {{#strip_html}}
          <a class="btn btn-primary btn-large"
            href="files/KeyRemap4MacBook-8.0.0.dmg">
            {{#language_en}}
              Download KeyRemap4MacBook-8.0.0
            {{/language_en}}
            {{#language_ja}}
              KeyRemap4MacBook-8.0.0をダウンロード
            {{/language_ja}}
            &nbsp;
            <span class="label">
              {{#language_en}}
                For OS X 10.8, 10.7, 10.6
              {{/language_en}}
              {{#language_ja}}
                OS X 10.8、10.7、10.6用
              {{/language_ja}}
            </span>
          </a>
        {{/strip_html}}
      </p>
      <p>
        {{#strip_html}}
          <a class="btn"
            href="files/KeyRemap4MacBook-5.1.0.pkg.tar.gz">
            {{#language_en}}
              Download KeyRemap4MacBook-5.1.0
            {{/language_en}}
            {{#language_ja}}
              KeyRemap4MacBook-5.1.0をダウンロード
            {{/language_ja}}
            &nbsp;
            <span class="label">
              {{#language_en}}
                For OS X 10.5, 10.4
              {{/language_en}}
              {{#language_ja}}
                OS X 10.5、10.4用
              {{/language_ja}}
            </span>
          </a>
        {{/strip_html}}
      </p>
      <hr />
      <p>
        {{#language_en}}
          KeyRemap4Macbook works on all Mac such as MacBook series, iMac, Mac mini and Mac Pro.
        {{/language_en}}
        {{#language_ja}}
          KeyRemap4MacbookはMacBookシリーズ、iMac、Mac mini、Mac Proなど全てのMacで動作します。
        {{/language_ja}}
      </p>
      <p>
        <span class="label label-important">Important</span>
        {{#language_en}}
          You cannot use KeyRemap4Macbook with DoubleCommand or other key remapper.
          Please uninstall other remapper before installing KeyRemap4MacBook.
        {{/language_en}}
        {{#language_ja}}
          DoubleCommandやTeslaなどの他のリマッパーとの併用は出来ません。
          KeyRemap4MacBookをインストールする前にこれらのソフトウェアをアンインストールして下さい。
        {{/language_ja}}
      </p>
    </div>
  </header>

  <section>
    <div class="page-header">
      <h1>
        {{#language_en}}
          Installation
        {{/language_en}}
        {{#language_ja}}
          インストール方法
        {{/language_ja}}
      </h1>
    </div>
    <div class="row show-grid">
      <div class="span4">
        <h2>Step1</h2>

        <p>
          {{#language_en}}
            Open a downloaded dmg file.
          {{/language_en}}
          {{#language_ja}}
            ダウンロードしたdmgファイルを開きます。
          {{/language_ja}}
        </p>
        <p>
          <img
          alt="dmg"
          {{#imgsrc}}
            img/dmg.png
          {{/imgsrc}}
          />
        </p>
      </div>
      <div class="span4">
        <h2>Step2</h2>

        <p>
          {{#language_en}}
            Control-click or right click the pkg file,
            then select "Open" from the top of contextual menu that appears.
          {{/language_en}}
          {{#language_ja}}
            pkgファイルを「Controlを押しながらクリック」もしくは「右クリック」して、
            メニューの一番上の「開く」を選択します。
          {{/language_ja}}
        </p>
        <p>
          <span class="label label-important">Important</span>
          {{#language_en}}
            You must open the pkg file from contextual menu in order to pass through Gatekeeper
          {{/language_en}}
          {{#language_ja}}
            Gatekeeperを通過するために、メニューからpkgファイルを開く必要があります。
          {{/language_ja}}
        </p>
        {{#lightbox}}
          img/open-pkg.png Open pkg.
        {{/lightbox}}
        <br />
        <p>
          {{#language_en}}
            A warning of Gatekeeper will be shown.
            Click "Open" in the dialog box.
          {{/language_en}}
          {{#language_ja}}
            Gatekeeperの警告が表示されますので、「開く」を選択してください。
          {{/language_ja}}
        </p>
        {{#lightbox}}
          img/gatekeeper.png Gatekeeper.
        {{/lightbox}}
      </div>
      <div class="span4">
        <h2>Step3</h2>

        <p>
          {{#language_en}}
            Installer is launched. Install KeyRemap4MacBook.
          {{/language_en}}
          {{#language_ja}}
            インストーラが起動しますので、KeyRemap4MacBookをインストールします。
          {{/language_ja}}
        </p>
        {{#lightbox}}
          img/installer.png installer
        {{/lightbox}}
        <br />

        <p>
          {{#language_en}}
            After restarting OS X, you can enable key remappings from KeyRemap4MacBook Prefs.
            <a href="document.html.en">Learn more.</a>
          {{/language_en}}
          {{#language_ja}}
            OS Xを再起動したら、KeyRemap4MacBookの設定画面からリマッピングを有効にします。
            <a href="document.html.ja">詳しくはこちら。</a>
          {{/language_ja}}
        </p>
      </div>
    </div>
  </section>
</div>
