<div class="container">
  <header>
    <div class="hero-unit">
      <h1>KeyRemap4MacBook</h1>
      <p>
        {{#language_en}}
          A powerful and stable keyboard customizer for OS X.
        {{/language_en}}
        {{#language_ja}}
          高機能で安定性も極めて高いOS X用のキーボードカスタマイズツール。
        {{/language_ja}}
      </p>
      <p>
        {{#strip_html}}
          <a class="btn btn-primary btn-large"
            href="files/KeyRemap4MacBook-7.8.0.dmg">
            {{#language_en}}
              Download KeyRemap4MacBook-7.8.0
            {{/language_en}}
            {{#language_ja}}
              KeyRemap4MacBook-7.8.0をダウンロード
            {{/language_ja}}
            &nbsp;
            <span class="label">
              {{#language_en}}
                For OS X 10.7, 10.6
              {{/language_en}}
              {{#language_ja}}
                OS X 10.7、10.6用
              {{/language_ja}}
            </span>
          </a>
        {{/strip_html}}
      </p>
      <p>
        {{#strip_html}}
          <a class="btn"
            href="files/KeyRemap4MacBook-5.1.0.pkg.tar.gz">
            {{#language_en}}
              Download KeyRemap4MacBook-5.1.0
            {{/language_en}}
            {{#language_ja}}
              KeyRemap4MacBook-5.1.0をダウンロード
            {{/language_ja}}
            &nbsp;
            <span class="label">
              {{#language_en}}
                For OS X 10.5, 10.4
              {{/language_en}}
              {{#language_ja}}
                OS X 10.5、10.4用
              {{/language_ja}}
            </span>
          </a>
        {{/strip_html}}
      </p>
      <hr />
      <p>
        {{#language_en}}
          KeyRemap4Macbook works on all Mac such as MacBook series, iMac, Mac mini and Mac Pro.
        {{/language_en}}
        {{#language_ja}}
          KeyRemap4MacbookはMacBookシリーズ、iMac、Mac mini、Mac Proなど全てのMacで動作します。
        {{/language_ja}}
      </p>
      <p>
        <span class="label label-important">Important</span>
        {{#language_en}}
          You cannot use KeyRemap4Macbook with DoubleCommand or other key remapper.
          Please uninstall other remapper before installing KeyRemap4MacBook.
        {{/language_en}}
        {{#language_ja}}
          DoubleCommandやTeslaなどの他のリマッパーとの併用は出来ません。
          KeyRemap4MacBookをインストールする前にこれらのソフトウェアをアンインストールして下さい。
        {{/language_ja}}
      </p>
    </div>
  </header>
</div>
