<div class="container">
  <header>
    <div class="jumbotron">
      <h1>NoEjectDelay</h1>

      <ul>
        {{#language_en}}
          <li>NoEjectDelay eliminates the eject key delay.</li>
          <li>NoEjectDelay disables F12Eject feature.</li>
        {{/language_en}}
        {{#language_ja}}
          <li>NoEjectDelayはEjectキーの遅延を無効化します。</li>
          <li>NoEjectDelayはF12Eject機能を無効化します。</li>
        {{/language_ja}}
      </ul>

      <div class="alert alert-warning">
        NEWS:
        <small>
          {{#format_date}}
            2014-02-27
          {{/format_date}}
        </small>
        <br />
        <br />
        {{#language_en}}
          Please upgrade to NoEjectDelay-5.4.0.
          <a href="#show-version">(How to know the installed version.)</a><br />
          <br />

          (NoEjectDelay-5.3.0 causes kernel panic on OS X 10.9.2.)<br />
          (KeyRemap4MacBook and PCKeyboardHack do not have that issue. They works fine on OS X 10.9.2.)<br />
        {{/language_en}}
        {{#language_ja}}
          NoEjectDelay-5.4.0にアップグレードしてください。
          <a href="#show-version">（インストール済みのバージョンを知る方法。）</a><br />

          <br />
          （NoEjectDelay-5.3.0はOS X 10.9.2にてカーネルパニックを引き起こします。）<br />
          （KeyRemap4MacBookとPCKeyboardHackではこの問題は発生しません。これらはOS X 10.9.2で正常に動作します。）<br />
        {{/language_ja}}
      </div>

      <p>
        {{#strip_html}}
          <a class="btn btn-primary btn-lg"
            href="files/NoEjectDelay-5.4.0.dmg">
            {{#language_en}}
              Download NoEjectDelay-5.4.0
            {{/language_en}}
            {{#language_ja}}
              NoEjectDelay-5.4.0をダウンロード
            {{/language_ja}}
            &nbsp;
            <span class="label label-default">
              {{#language_en}}
                For OS X 10.9, 10.8
              {{/language_en}}
              {{#language_ja}}
                OS X 10.9、10.8用
              {{/language_ja}}
            </span>
          </a>
        {{/strip_html}}
      </p>
      <p>
        {{#strip_html}}
          <a class="btn btn-default btn-small"
            href="files/NoEjectDelay-4.1.0.dmg">
            {{#language_en}}
              Download NoEjectDelay-4.1.0
            {{/language_en}}
            {{#language_ja}}
              NoEjectDelay-4.1.0をダウンロード
            {{/language_ja}}
            &nbsp;
            <span class="label label-default">
              {{#language_en}}
                For OS X 10.7
              {{/language_en}}
              {{#language_ja}}
                OS X 10.7用
              {{/language_ja}}
            </span>
          </a>
        {{/strip_html}}
      </p>
      <p>
        {{#strip_html}}
          <a class="btn btn-default btn-small"
            href="files/NoEjectDelay-3.6.0.dmg">
            {{#language_en}}
              Download NoEjectDelay-3.6.0
            {{/language_en}}
            {{#language_ja}}
              NoEjectDelay-3.6.0をダウンロード
            {{/language_ja}}
            &nbsp;
            <span class="label label-default">
              {{#language_en}}
                For OS X 10.6
              {{/language_en}}
              {{#language_ja}}
                OS X 10.6用
              {{/language_ja}}
            </span>
          </a>
        {{/strip_html}}
      </p>
      <p>
        {{#strip_html}}
          <a class="btn btn-default btn-small"
            href="files/NoEjectDelay-1.1.0.pkg.tar.gz">
            {{#language_en}}
              Download NoEjectDelay-1.1.0
            {{/language_en}}
            {{#language_ja}}
              NoEjectDelay-1.1.0をダウンロード
            {{/language_ja}}
            &nbsp;
            <span class="label label-default">
              {{#language_en}}
                For OS X 10.5, 10.4
              {{/language_en}}
              {{#language_ja}}
                OS X 10.5、10.4用
              {{/language_ja}}
            </span>
          </a>
        {{/strip_html}}
      </p>
      <p>
        <small>
          <a href="#history">
            {{#language_en}}
              old versions and version history
            {{/language_en}}
            {{#language_ja}}
              古いバージョンのダウンロード・更新履歴
            {{/language_ja}}
          </a>
        </small>
      </p>

      <hr />
      <p>
        {{#strip_html}}
          <a class="btn btn-default btn-small"
            href="files/NoEjectDelayUninstaller.dmg">
            {{#language_en}}
              Download NoEjectDelay Uninstaller
            {{/language_en}}
            {{#language_ja}}
              NoEjectDelayアンインストーラをダウンロード
            {{/language_ja}}
          </a>
        {{/strip_html}}
      </p>
    </div>
  </header>

  <div class="row">
    <div class="col-md-9 pqrs-docs-container">
      <section id="installation">
        <div class="page-header">
          <h1>
            {{#language_en}}
              Installation
            {{/language_en}}
            {{#language_ja}}
              インストール方法
            {{/language_ja}}
          </h1>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="col-show-grid">
              <h2>Step1</h2>

              <p>
                {{#language_en}}
                  Open a downloaded dmg file, and then open a pkg file in dmg.
                {{/language_en}}
                {{#language_ja}}
                  ダウンロードしたdmgファイルを開き、dmgの中のpkgファイルを開きます。
                {{/language_ja}}
              </p>
              <p>
                <img
                alt="dmg"
                {{#imgsrc}}
                  img/dmg.png
                {{/imgsrc}}
                />
                <img
                alt="pkg"
                {{#imgsrc}}
                  img/pkg.png
                {{/imgsrc}}
                />
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="col-show-grid">
              <h2>Step2</h2>

              <p>
                {{#language_en}}
                  Installer is launched. Install NoEjectDelay.
                {{/language_en}}
                {{#language_ja}}
                  インストーラが起動しますので、NoEjectDelayをインストールします。
                {{/language_ja}}
              </p>
              {{#lightbox}}
                img/noejectdelay-installer.png installer
              {{/lightbox}}
              <br />
            </div>
          </div>
        </div>
      </section>

      <section id="usage">
        <div class="page-header">
          <h1>
            {{#language_en}}
              Usage
            {{/language_en}}
            {{#language_ja}}
              使い方
            {{/language_ja}}
          </h1>
        </div>

        <p>
          {{#language_en}}
            No configuration required.
            <br />
            NoEjectDelay becomes effective immediately after installation has completed and OS X has been restarted.
          {{/language_en}}
          {{#language_ja}}
            設定は必要ありません。インストールが完了しOS Xを再起動した直後に有効になります。
          {{/language_ja}}
        </p>
      </section>

      <section id="show-version">
        <div class="page-header">
          <h1>
            {{#language_en}}
              How to know the installed version
            {{/language_en}}
            {{#language_ja}}
              インストール済みのバージョンを知る方法
            {{/language_ja}}
          </h1>
        </div>

        <p>
          {{#language_en}}
            There are two ways.
          {{/language_en}}
          {{#language_ja}}
            以下の2通りの方法があります。
          {{/language_ja}}
        </p>

        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">
              {{#language_en}}
                Using Terminal
              {{/language_en}}
              {{#language_ja}}
                ターミナルを使う
              {{/language_ja}}
            </h3>
          </div>
          <div class="panel-body">
            <p>
              {{#language_en}}
                Run the following command in Terminal.
              {{/language_en}}
              {{#language_ja}}
                以下のコマンドをターミナルで実行してください。
              {{/language_ja}}
            </p>

            <pre>{{#strip_indented_lines}}
              |$ /usr/sbin/kextstat | /usr/bin/grep --only-matching 'org.pqrs.*)'
              |org.pqrs.driver.NoEjectDelay (5.4.0)
              |org.pqrs.driver.PCKeyboardHack (10.5.0)
              |org.pqrs.driver.KeyRemap4MacBook (9.3.7)
            {{/strip_indented_lines}}</pre>

            <p>
              {{#language_en}}
                The number (5.4.0) is the installed version.
              {{/language_en}}
              {{#language_ja}}
                数字（5.4.0）がインストール済みのバージョンです。
              {{/language_ja}}
            </p>
          </div>
        </div>

        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">
              {{#language_en}}
                Using app
              {{/language_en}}
              {{#language_ja}}
                アプリケーションを使う
              {{/language_ja}}
            </h3>
          </div>
          <div class="panel-body">
            <p>
              {{#language_en}}
                Download ShowInstalledAppsVersion.app and run it.
              {{/language_en}}
              {{#language_ja}}
                ShowInstalledAppsVersion.appをダウンロードして実行してください。
              {{/language_ja}}
            </p>

            <p>
              {{#strip_html}}
                <a class="btn btn-primary btn-small"
                  href="files/ShowInstalledAppsVersion.dmg">
                  {{#language_en}}
                    Download ShowInstalledAppsVersion.app
                  {{/language_en}}
                  {{#language_ja}}
                    ShowInstalledAppsVersion.appをダウンロード
                  {{/language_ja}}
                </a>
              {{/strip_html}}
            </p>

            <p>
              {{#language_en}}
                TextEdit will be opened with the following text.
              {{/language_en}}
              {{#language_ja}}
                以下のテキストでテキストエディットが開きます。
              {{/language_ja}}
            </p>

            <pre>{{#strip_indented_lines}}
              |org.pqrs.driver.NoEjectDelay (5.4.0)
              |org.pqrs.driver.PCKeyboardHack (10.5.0)
              |org.pqrs.driver.KeyRemap4MacBook (9.3.7)
            {{/strip_indented_lines}}</pre>

            <p>
              {{#language_en}}
                The number (5.4.0) is the installed version.
              {{/language_en}}
              {{#language_ja}}
                数字（5.4.0）がインストール済みのバージョンです。
              {{/language_ja}}
            </p>
          </div>
        </div>
      </section>

      <section id="uninstall">
        <div class="page-header">
          <h1>
            {{#language_en}}
              Uninstall
            {{/language_en}}
            {{#language_ja}}
              アンインストール方法
            {{/language_ja}}
          </h1>
        </div>

        <ol>
          <li>
            {{#language_en}}
              Download <a href="files/NoEjectDelayUninstaller.dmg">NoEjectDelay Uninstaller</a>.
            {{/language_en}}
            {{#language_ja}}
              <a href="files/NoEjectDelayUninstaller.dmg">NoEjectDelayアンインストーラ</a>をダウンロードしてください。
            {{/language_ja}}
          </li>
          <li>
            {{#language_en}}
              Execute uninstaller.
            {{/language_en}}
            {{#language_ja}}
              アンインストーラを実行してください。
            {{/language_ja}}
            <div class="row">
              <div class="col-lg-3">
                {{#lightbox}}
                  img/noejectdelayuninstaller1.png NoEjectDelay Uninstaller
                {{/lightbox}}
              </div>
              <div class="col-lg-3">
                {{#lightbox}}
                  img/noejectdelayuninstaller2.png NoEjectDelay Uninstaller
                {{/lightbox}}
              </div>
              <div class="col-lg-3">
                {{#lightbox}}
                  img/noejectdelayuninstaller3.png NoEjectDelay Uninstaller
                {{/lightbox}}
              </div>
            </div>
          </li>
          <li>
            {{#language_en}}
              Then restart OS X.
            {{/language_en}}
            {{#language_ja}}
              その後にOS Xを再起動してください。
            {{/language_ja}}
          </li>
        </ol>
      </section>

      <section id="faq">
        <div class="page-header">
          <h1>
            {{#language_en}}
              Q&amp;A
            {{/language_en}}
            {{#language_ja}}
              Q&amp;A
            {{/language_ja}}
          </h1>
        </div>

        <h2>
          {{#language_en}}
            NoEjectDelay does not work on developer-only beta of OS X. Why?
          {{/language_en}}
          {{#language_ja}}
            NoEjectDelayが開発者向けのベータ版のOS Xで動作しません。なぜですか？
          {{/language_ja}}
        </h2>
        <p>
          {{#language_en}}
            We need to modify secret values of OS X to performs purpose of NoEjectDelay.
          {{/language_en}}
          {{#language_ja}}
            NoEjectDelayの機能を実現させるにはOS Xの隠された値を変更する必要があります。
          {{/language_ja}}
        </p>
        <p>
          {{#language_en}}
            However, we cannot access those secret values via SDK which Apple provides.
            We need <a href="http://opensource.apple.com/">source code of OS X</a> to modify these values.
          {{/language_en}}
          {{#language_ja}}
            しかし、Appleが提供するSDKからは隠された値にアクセスすることはできません。これらの値を変更するには、<a href="http://opensource.apple.com/">OS Xのソースコード</a>が必要です。
          {{/language_ja}}
        </p>
        <p>
          {{#language_en}}
            This source code will not be published until new OS X is shipped.
            Therefore, NoEjectDelay is intentionally disabled on beta version of OS X.
          {{/language_en}}
          {{#language_ja}}
            このソースコードは新しいOS Xがリリースされるまでは公開されません。そのため、NoEjectDelayは意図的にベータ版のOS Xでは動かないようにしています。
          {{/language_ja}}
        </p>
        <p>
          {{#language_en}}
            Please wait until new OS X is shipped from Apple.
            And please wait new version of NoEjectDelay for new OS X.
          {{/language_en}}
          {{#language_ja}}
            Appleから新しいOS Xがリリースされ、新しいOS X向けのNoEjectDelayがリリースされるまでお待ちください。
          {{/language_ja}}
        </p>
      </section>

      <section id="history">
        <div class="page-header">
          <h1>
            {{#language_en}}
              Version History
            {{/language_en}}
            {{#language_ja}}
              更新履歴
            {{/language_ja}}
          </h1>
        </div>

        {{#histories}}
          <h2>
            Version {{version}}
            {{#updated}}
              <small>
                {{#format_date}}
                  {{updated}}
                {{/format_date}}
              </small>
            {{/updated}}

            {{#link}}
              <a class="btn btn-default btn-small" href="{{link}}">
                {{#language_en}}
                  Download
                {{/language_en}}
                {{#language_ja}}
                  ダウンロード
                {{/language_ja}}
              </a>
            {{/link}}
          </h2>
          {{{body_l10n}}}
        {{/histories}}
      </section>
    </div>
    <div class="col-md-3">
      {{> ../../pqrs_tabs }}
    </div>
  </div>
</div>
