<div class="container">
  <header>
    <div class="hero-unit">
      <h1>NoEjectDelay</h1>

      <ul>
        {{#language_en}}
          <li>NoEjectDelay eliminates the eject key delay.</li>
          {{! <li>NoEjectDelay disables F12Eject feature.</li> }}
        {{/language_en}}
        {{#language_ja}}
          <li>NoEjectDelayはEjectキーの遅延を無効化します。</li>
          {{! <li>NoEjectDelayはF12Eject機能を無効化します。</li> }}
        {{/language_ja}}
      </ul>

      <p>
        {{#strip_html}}
          <a class="btn btn-primary btn-large"
            href="files/NoEjectDelay-3.4.0.dmg">
            {{#language_en}}
              Download NoEjectDelay-3.4.0
            {{/language_en}}
            {{#language_ja}}
              NoEjectDelay-3.4.0をダウンロード
            {{/language_ja}}
            &nbsp;
            <span class="label">
              {{#language_en}}
                For OS X 10.7, 10.6
              {{/language_en}}
              {{#language_ja}}
                OS X 10.7、10.6用
              {{/language_ja}}
            </span>
          </a>
        {{/strip_html}}
      </p>
      <p>
        {{#strip_html}}
          <a class="btn"
            href="files/NoEjectDelay-1.1.0.pkg.tar.gz">
            {{#language_en}}
              Download NoEjectDelay-1.1.0
            {{/language_en}}
            {{#language_ja}}
              NoEjectDelay-1.1.0をダウンロード
            {{/language_ja}}
            &nbsp;
            <span class="label">
              {{#language_en}}
                For OS X 10.5, 10.4
              {{/language_en}}
              {{#language_ja}}
                OS X 10.5、10.4用
              {{/language_ja}}
            </span>
          </a>
        {{/strip_html}}
      </p>
    </div>
  </header>

  {{> ../../pqrs_tabs }}

  {{#current_tab_howtouse}}
    <section>
      <p>
        {{#language_en}}
          No configuration required.
          <br />
          NoEjectDelay becomes effective immediately after installation has completed and OS X has been restarted.
        {{/language_en}}
        {{#language_ja}}
          設定は必要ありません。インストールが完了しOS Xを再起動した直後に有効になります。
        {{/language_ja}}
      </p>
    </section>
  {{/current_tab_howtouse}}

  {{#current_tab_uninstall}}
    <section>
      <ol>
        <li>
          {{#language_en}}
            Download <a href="files/NoEjectDelayUninstaller.dmg">NoEjectDelay Uninstaller</a>.
          {{/language_en}}
          {{#language_ja}}
            <a href="files/NoEjectDelayUninstaller.dmg">NoEjectDelayアンインストーラ</a>をダウンロードしてください。
          {{/language_ja}}
        </li>
        <li>
          {{#language_en}}
            Execute uninstaller.
          {{/language_en}}
          {{#language_ja}}
            アンインストーラを実行してください。
          {{/language_ja}}
          <div class="row">
            <div class="span3">
              {{#lightbox}}
                img/noejectdelayuninstaller1.png NoEjectDelay Uninstaller
              {{/lightbox}}
            </div>
            <div class="span3">
              {{#lightbox}}
                img/noejectdelayuninstaller2.png NoEjectDelay Uninstaller
              {{/lightbox}}
            </div>
            <div class="span3">
              {{#lightbox}}
                img/noejectdelayuninstaller3.png NoEjectDelay Uninstaller
              {{/lightbox}}
            </div>
          </div>
        </li>
        <li>
          {{#language_en}}
            Then restart OS X.
          {{/language_en}}
          {{#language_ja}}
            その後にOS Xを再起動してください。
          {{/language_ja}}
        </li>
      </ol>
    </section>
  {{/current_tab_uninstall}}

  {{#current_tab_faq}}
    <section>
      <h2>
        {{#language_en}}
          NoEjectDelay does not work on developer-only beta of OS X. Why?
        {{/language_en}}
        {{#language_ja}}
          NoEjectDelayが開発者向けのベータ版のOS Xで動作しません。なぜですか？
        {{/language_ja}}
      </h2>
      <p>
        {{#language_en}}
          We need to modify secret values of OS X to performs purpose of NoEjectDelay.
        {{/language_en}}
        {{#language_ja}}
          NoEjectDelayの機能を実現させるにはOS Xの隠された値を変更する必要があります。
        {{/language_ja}}
      </p>
      <p>
        {{#language_en}}
          However, we cannot access those secret values via SDK which Apple provides.
          We need source code of OS X to modify these values.
        {{/language_en}}
        {{#language_ja}}
          しかし、Appleが提供するSDKからは隠されたにアクセスすることはできません。これらの値を変更するには、OS Xのソースコードが必要です。
        {{/language_ja}}
      </p>
      <p>
        {{#language_en}}
          This source code will not be published until new OS X is shipped.
          Therefore, NoEjectDelay is intentionally disabled on beta version of OS X.
        {{/language_en}}
        {{#language_ja}}
          このソースコードは新しいOS Xがリリースされるまでは公開されません。そのため、NoEjectDelayは意図的にベータ版のOS Xでは動かないようにしています。
        {{/language_ja}}
      </p>
      <p>
        {{#language_en}}
          Please wait until new OS X is shipped from Apple.
          And please wait new version of NoEjectDelay for new OS X.
        {{/language_en}}
        {{#language_ja}}
          Appleから新しいOS Xがリリースされ、新しいOS X向けのNoEjectDelayがリリースされるまでお待ちください。
        {{/language_ja}}
      </p>
    </section>
  {{/current_tab_faq}}

  {{#current_tab_history}}
    <section>
      {{#histories}}
        <h2>
          Version {{version}}
          {{#updated}}
            <small>
              {{#format_date}}
                {{updated}}
              {{/format_date}}
            </small>
          {{/updated}}
        </h2>
        {{{body_l10n}}}
      {{/histories}}
    </section>
  {{/current_tab_history}}
</div>
