<div class="container">
  <header>
    <div class="jumbotron">
      <h1>PCKeyboardHack</h1>

      <ul>
        {{#language_en}}
          <li>PCKeyboardHack can change caps lock key behavior. For example, changing caps lock key to delete Key.</li>
          <li>PCKeyboardHack can activate International Keys on Non-Apple keyboard.</li>
        {{/language_en}}
        {{#language_ja}}
          <li>PCKeyboardHackはcaps lockキーの動作を変更します。（例: caps lockキーをdeleteキーにする）</li>
          <li>PCKeyboardHackはPC用のキーボードにある「無変換」「変換」「ひらがな」などのキーをOS Xで使用可能にします。</li>
        {{/language_ja}}
      </ul>

      <p>
        {{#strip_html}}
          <a class="btn btn-primary btn-lg"
            href="files/PCKeyboardHack-10.3.0.dmg">
            {{#language_en}}
              Download PCKeyboardHack-10.3.0
            {{/language_en}}
            {{#language_ja}}
              PCKeyboardHack-10.3.0をダウンロード
            {{/language_ja}}
            &nbsp;
            <span class="label label-default">
              {{#language_en}}
                For OS X 10.9, 10.8
              {{/language_en}}
              {{#language_ja}}
                OS X 10.9、10.8用
              {{/language_ja}}
            </span>
          </a>
        {{/strip_html}}
      </p>
      <p>
        {{#strip_html}}
          <a class="btn btn-default btn-small"
            href="files/PCKeyboardHack-9.0.0.dmg">
            {{#language_en}}
              Download PCKeyboardHack-9.0.0
            {{/language_en}}
            {{#language_ja}}
              PCKeyboardHack-9.0.0をダウンロード
            {{/language_ja}}
            &nbsp;
            <span class="label label-default">
              {{#language_en}}
                For OS X 10.7
              {{/language_en}}
              {{#language_ja}}
                OS X 10.7用
              {{/language_ja}}
            </span>
          </a>
        {{/strip_html}}
      </p>
      <p>
        {{#strip_html}}
          <a class="btn btn-default btn-small"
            href="files/PCKeyboardHack-7.4.0.dmg">
            {{#language_en}}
              Download PCKeyboardHack-7.4.0
            {{/language_en}}
            {{#language_ja}}
              PCKeyboardHack-7.4.0をダウンロード
            {{/language_ja}}
            &nbsp;
            <span class="label label-default">
              {{#language_en}}
                For OS X 10.6
              {{/language_en}}
              {{#language_ja}}
                OS X 10.6用
              {{/language_ja}}
            </span>
          </a>
        {{/strip_html}}
      </p>
      <p>
        {{#strip_html}}
          <a class="btn btn-default btn-small"
            href="files/PCKeyboardHack-5.1.0.pkg.tar.gz">
            {{#language_en}}
              Download PCKeyboardHack-5.1.0
            {{/language_en}}
            {{#language_ja}}
              PCKeyboardHack-5.1.0をダウンロード
            {{/language_ja}}
            &nbsp;
            <span class="label label-default">
              {{#language_en}}
                For OS X 10.5, 10.4
              {{/language_en}}
              {{#language_ja}}
                OS X 10.5、10.4用
              {{/language_ja}}
            </span>
          </a>
        {{/strip_html}}
      </p>
      <p>
        <small>
          <a href="#history">
            {{#language_en}}
              old versions and version history
            {{/language_en}}
            {{#language_ja}}
              古いバージョンのダウンロード・更新履歴
            {{/language_ja}}
          </a>
        </small>
      </p>
    </div>
  </header>

  <div class="row">
    <div class="col-md-3">
      {{> ../../pqrs_tabs }}
    </div>
    <div class="col-md-9">
      <section id="installation">
        <div class="page-header">
          <h1>
            {{#language_en}}
              Installation
            {{/language_en}}
            {{#language_ja}}
              インストール方法
            {{/language_ja}}
          </h1>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <div class="col-show-grid">
              <h2>Step1</h2>

              <p>
                {{#language_en}}
                  Open a downloaded dmg file, and then open a pkg file in dmg.
                {{/language_en}}
                {{#language_ja}}
                  ダウンロードしたdmgファイルを開き、dmgの中のpkgファイルを開きます。
                 {{/language_ja}}
              </p>
              <p>
                <img
                alt="dmg"
                {{#imgsrc}}
                  img/dmg.png
                {{/imgsrc}}
                />
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="col-show-grid">
              <h2>Step2</h2>

              <p>
                {{#language_en}}
                  Installer is launched. Install PCKeyboardHack.
                {{/language_en}}
                {{#language_ja}}
                  インストーラが起動しますので、PCKeyboardHackをインストールします。
                {{/language_ja}}
              </p>
              {{#lightbox}}
                img/pckeyboardhack-installer.png installer
              {{/lightbox}}
              <br />
            </div>
          </div>
          <div class="col-lg-4">
            <div class="col-show-grid">
              <h2>Step3</h2>

              <p>
                {{#language_en}}
                  Launch PCKeyboardHack from Launchpad.
                {{/language_en}}
                {{#language_ja}}
                  LaunchpadからPCKeyboardHackを起動します。
                {{/language_ja}}
              </p>

              {{#lightbox}}
                img/pkh-launchpad-full.png Launchpad
              {{/lightbox}}

              <p>
                <img
                alt="icon"
                {{#imgsrc}}
                  img/pkh-launchpad.png
                {{/imgsrc}}
                />
              </p>
            </div>
          </div>
        </div>
      </section>

      <section id="usage">
        <div class="page-header">
          <h1>
            {{#language_en}}
              Usage
            {{/language_en}}
            {{#language_ja}}
              使い方
            {{/language_ja}}
          </h1>
        </div>

        <h2>Step1</h2>
        <p>
          {{#language_en}}
            Open Launchpad (or open "<span class="glyphicon glyphicon-folder-open"></span> Applications" folder from Finder).
          {{/language_en}}
          {{#language_ja}}
            Launchpadを開いてください。（もしくは、「<span class="glyphicon glyphicon-folder-open"></span> アプリケーション」フォルダをFinderで開いてください。）
          {{/language_ja}}
        </p>
        <p>
          {{#language_en}}
            Then, click PCKeyboardHack.
          {{/language_en}}
          {{#language_ja}}
            そして、PCKeyboardHackをクリックしてください。
          {{/language_ja}}
        </p>
        <div class="row">
          <div class="col-lg-4">
            {{#lightbox}}
              img/pkh-launchpad-full.png Launchpad
            {{/lightbox}}
          </div>
          <div class="col-lg-4">
            <img
            alt="icon"
            {{#imgsrc}}
              img/pkh-launchpad.png
            {{/imgsrc}}
            />
          </div>
        </div>

        <br />

        <p>
          <span class="label label-info">Note</span>
          {{#language_en}}
            If you're using PCKeyboardHack 8.0.0 or earlier,
            <a href="img/preferencepane-pckeyboardhack.png">Preferences is in System Preferences.</a>
          {{/language_en}}
          {{#language_ja}}
            PCKeyboardHack 8.0.0、またはそれ以前のバージョンを使用している場合、<a href="img/preferencepane-pckeyboardhack.png">設定画面はシステム環境設定にあります。</a>
          {{/language_ja}}
        </p>

        <h2>Step2</h2>
        <p>
          {{#language_en}}
            Activate items and change the keycode if needed.
          {{/language_en}}
          {{#language_ja}}
            有効にしたい設定にチェックを入れて、必要に応じてキーコードの変更をします。
          {{/language_ja}}
        </p>
        <div class="row">
          <div class="col-lg-4">
            {{#lightbox}}
              img/pkh-preferences.png Preferences
            {{/lightbox}}
          </div>
        </div>

        <div id="noaction">
          <h2>
            Step3
            <span class="label label-info">Important</span>
          </h2>
          <p>
            {{#language_en}}
              If you are using PCKeyboardHack to change the behavior of caps lock,
              open "System Preferences &gt; Keyboard &gt; Modifier Keys..." and
              change caps lock configuration to "No Action".
            {{/language_en}}
            {{#language_ja}}
              caps lockキーの動作を変更するためにPCKeyboardHackを使っている場合は、システム環境設定の「キーボード」から「修飾キー」ボタンを押してcaps lockの動作を「アクションなし」にしてください。
            {{/language_ja}}
          </p>
          <p>
            {{#language_en}}
              You need to do this step to to reduce caps lock delay.
            {{/language_en}}
            {{#language_ja}}
              caps lockキーの遅延を抑えるためにこの設定を行う必要があります。
            {{/language_ja}}
          </p>
          <div class="row">
            <div class="col-lg-4">
              {{#lightbox}}
                img/capslock.png No Action
              {{/lightbox}}
            </div>
          </div>
        </div>
      </section>

      <section id="uninstall">
        <div class="page-header">
          <h1>
            {{#language_en}}
              Uninstall
            {{/language_en}}
            {{#language_ja}}
              アンインストール方法
            {{/language_ja}}
          </h1>
        </div>

        <ol class="steps">
          <li>
            {{#language_en}}
              Press the "Launch uninstaller" button in PCKeyboardHack Preferences.
            {{/language_en}}
            {{#language_ja}}
              設定画面の「Misc &amp; Uninstall」タブにある「Launch uninstaller」ボタンを押してください。
            {{/language_ja}}
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/uninstaller_pkh1.png PCKeyboardHack
                {{/lightbox}}
              </div>
            </div>
          </li>
          <li>
            {{#language_en}}
              Proceed uninstallation.
            {{/language_en}}
            {{#language_ja}}
              アンインストールを進めてください。
            {{/language_ja}}
            <div class="row">
              <div class="col-lg-3">
                {{#lightbox}}
                  img/pckeyboardhackuninstaller1.png PCKeyboardHack Uninstaller
                {{/lightbox}}
              </div>
              <div class="col-lg-3">
                {{#lightbox}}
                  img/pckeyboardhackuninstaller2.png PCKeyboardHack Uninstaller
                {{/lightbox}}
              </div>
              <div class="col-lg-3">
                {{#lightbox}}
                  img/pckeyboardhackuninstaller3.png PCKeyboardHack Uninstaller
                {{/lightbox}}
              </div>
            </div>
          </li>
          <li>
            {{#language_en}}
              Then restart OS X.
            {{/language_en}}
            {{#language_ja}}
              その後にOS Xを再起動してください。
            {{/language_ja}}
          </li>
        </ol>
      </section>

      <section id="faq">
        <div class="page-header">
          <h1>
            {{#language_en}}
              Q&amp;A
            {{/language_en}}
            {{#language_ja}}
              Q&amp;A
            {{/language_ja}}
          </h1>
        </div>

        <h2>
          {{#language_en}}
            PCKeyboardHack does not work on developer-only beta of OS X. Why?
          {{/language_en}}
          {{#language_ja}}
            PCKeyboardHackが開発者向けのベータ版のOS Xで動作しません。なぜですか？
          {{/language_ja}}
        </h2>
        <p>
          {{#language_en}}
            We need to modify secret values of OS X to performs purpose of PCKeyboardHack.
          {{/language_en}}
          {{#language_ja}}
            PCKeyboardHackの機能を実現させるにはOS Xの隠された値を変更する必要があります。
          {{/language_ja}}
        </p>
        <p>
          {{#language_en}}
            However, we cannot access those secret values via SDK which Apple provides.
            We need <a href="http://opensource.apple.com/">source code of OS X</a> to modify these values.
          {{/language_en}}
          {{#language_ja}}
            しかし、Appleが提供するSDKからは隠された値にアクセスすることはできません。これらの値を変更するには、<a href="http://opensource.apple.com/">OS Xのソースコード</a>が必要です。
          {{/language_ja}}
        </p>
        <p>
          {{#language_en}}
            This source code will not be published until new OS X is shipped.
            Therefore, PCKeyboardHack is intentionally disabled on beta version of OS X.
          {{/language_en}}
          {{#language_ja}}
            このソースコードは新しいOS Xがリリースされるまでは公開されません。そのため、PCKeyboardHackは意図的にベータ版のOS Xでは動かないようにしています。
          {{/language_ja}}
        </p>
        <p>
          {{#language_en}}
            Please wait until new OS X is shipped from Apple.
            And please wait new version of PCKeyboardHack for new OS X.
          {{/language_en}}
          {{#language_ja}}
            Appleから新しいOS Xがリリースされ、新しいOS X向けのPCKeyboardHackがリリースされるまでお待ちください。
          {{/language_ja}}
        </p>
      </section>

      <section id="history">
        <div class="page-header">
          <h1>
            {{#language_en}}
              Version History
            {{/language_en}}
            {{#language_ja}}
              更新履歴
            {{/language_ja}}
          </h1>
        </div>

        {{#histories}}
          <h2>
            Version {{version}}
            {{#updated}}
              <small>
                {{#format_date}}
                  {{updated}}
                {{/format_date}}
              </small>
            {{/updated}}

            {{#link}}
              <a class="btn btn-default btn-small" href="{{link}}">
                {{#language_en}}
                  Download
                {{/language_en}}
                {{#language_ja}}
                  ダウンロード
                {{/language_ja}}
              </a>
            {{/link}}
          </h2>
          {{{body_l10n}}}
        {{/histories}}
      </section>
    </div>
  </div>
</div>
