<div class="container">
  <section>
    <div class="page-header">
      <h1>
        {{#language_en}}
          Contact
        {{/language_en}}
        {{#language_ja}}
          連絡先
        {{/language_ja}}
      </h1>
    </div>
    <h2>
      {{#language_en}}
        Reporting Bugs, Feature requests
      {{/language_en}}
      {{#language_ja}}
        バグ報告や要望など
      {{/language_ja}}
    </h2>
    <p>
      {{#language_en}}
        Please post to <a target="_blank" href="https://groups.google.com/forum/#!forum/osx-karabiner">Google Groups</a>.
      {{/language_en}}
      {{#language_ja}}
        <a target="_blank" href="https://groups.google.com/forum/#!forum/osx-karabiner-ja">Google グループ</a>に投稿してください。
      {{/language_ja}}
    </p>
    <h3 id="required-information">
      {{#language_en}}
        Required information with bug reports
      {{/language_en}}
      {{#language_ja}}
        バグ報告に必要な情報
      {{/language_ja}}
    </h3>
    <p>
      {{#language_en}}
        Please fill your information when you send bug reports:
      {{/language_en}}
      {{#language_ja}}
        バグ報告を送信するときは、以下の情報を記入してください。
      {{/language_ja}}
    </p>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{#language_en}}
            Required information
          {{/language_en}}
          {{#language_ja}}
            必要な情報
          {{/language_ja}}
        </h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>
            <b>
              {{#language_en}}
                OS X version:
              {{/language_en}}
              {{#language_ja}}
                OS Xのバージョン:
              {{/language_ja}}
            </b>
          </li>
          <li>
            <b>
              {{#language_en}}
                Karabiner version:
              {{/language_en}}
              {{#language_ja}}
                Karabinerのバージョン:
              {{/language_ja}}
            </b>
            <br />
            {{#language_en}}
              (You can confirm the version in "Misc &amp; Uninstall" tab in Karabiner Preferences.)
            {{/language_en}}
            {{#language_ja}}
              （Karabinerの設定画面の「Misc &amp; Uninstall」タブで確認できます。）
            {{/language_ja}}
          </li>
          <li>
            <b>
              {{#language_en}}
                Your Mac hardware:
              {{/language_en}}
              {{#language_ja}}
                あなたのMacのハードウェア:
              {{/language_ja}}
            </b>
          </li>
          <li>
            <b>
              {{#language_en}}
                Your keyboard hardware:
              {{/language_en}}
              {{#language_ja}}
                あなたのキーボードのハードウェア:
              {{/language_ja}}
            </b>
          </li>
        </ul>
      </div>
    </div>
    <p>
      {{#language_en}}
        For example:
      {{/language_en}}
      {{#language_ja}}
        例:
      {{/language_ja}}
    </p>
    <ul>
      <li>
        <b>
          {{#language_en}}
            OS X version:
          {{/language_en}}
          {{#language_ja}}
            OS Xのバージョン:
          {{/language_ja}}
        </b>
        OS X 10.11.3
      </li>
      <li>
        <b>
          {{#language_en}}
            Karabiner version:
          {{/language_en}}
          {{#language_ja}}
            Karabinerのバージョン:
          {{/language_ja}}
        </b>
        Karabiner 10.17.0
      </li>
      <li>
        <b>
          {{#language_en}}
            Your Mac hardware:
          {{/language_en}}
          {{#language_ja}}
            あなたのMacのハードウェア:
          {{/language_ja}}
        </b>
        MacBook Pro
      </li>
      <li>
        <b>
          {{#language_en}}
            Your keyboard hardware:
          {{/language_en}}
          {{#language_ja}}
            あなたのキーボードのハードウェア:
          {{/language_ja}}
        </b>
        Das Keyboard 4 Professional for Mac Mechanical Keyboard
      </li>
    </ul>
    <h2>
      {{#language_en}}
        Other
      {{/language_en}}
      {{#language_ja}}
        その他
      {{/language_ja}}
    </h2>
    <p>
      {{#language_en}}
        Send a mail to <a href="/profile.html.en">me</a>.
      {{/language_en}}
      {{#language_ja}}
        <a href="/profile.html.ja">私宛</a>にメールをください。
      {{/language_ja}}
    </p>
  </section>
</div>
