<div class="container">
  <section>
    <div class="page-header">
      <h1>
        Contact
      </h1>
    </div>
    <h2>
      Reporting Bugs, Feature requests
    </h2>
    <p>
      Please post an issue to github
    </p>

    <ul>
      <li><a target="_blank" href="https://github.com/tekezo/Karabiner-Elements">Karabiner-Elements</a></li>
      <li><a target="_blank" href="https://github.com/tekezo/Karabiner">Karabiner</a></li>
    </ul>

    <p>
      Or post to <a target="_blank" href="https://groups.google.com/forum/#!forum/osx-karabiner">Google Groups</a>.
    </p>
    <h3 id="required-information">
      Required information with bug reports
    </h3>
    <p>
      Please fill your information when you send bug reports:
    </p>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">
          Required information
        </h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>
            <b>
              macOS version:
            </b>
          </li>
          <li>
            <b>
              Karabiner version:
            </b>
            <br />
            (You can confirm the version in "Misc &amp; Uninstall" tab in Karabiner Preferences.)
          </li>
          <li>
            <b>
              Your Mac hardware:
            </b>
          </li>
          <li>
            <b>
              Your keyboard hardware:
            </b>
          </li>
        </ul>
      </div>
    </div>
    <p>
      For example:
    </p>
    <ul>
      <li>
        <b>
          macOS version:
        </b>
        macOS 10.13.1
      </li>
      <li>
        <b>
          Karabiner version:
        </b>
        Karabiner-Elements 11.2.0
      </li>
      <li>
        <b>
          Your Mac hardware:
        </b>
        MacBook Pro
      </li>
      <li>
        <b>
          Your keyboard hardware:
        </b>
        Das Keyboard 4 Professional for Mac Mechanical Keyboard
      </li>
    </ul>
    <h2>
      Other
    </h2>
    <p>
      Send a mail to <a href="/profile.html">me</a>.
    </p>
  </section>
</div>
