<div class="container">
  <header>
    <div class="page-header">
      <h1>
        Manual
      </h1>
    </div>
  </header>

  <div class="row">
    <div class="col-md-9 pqrs-docs-container">
      <section>
        <div class="page-header">
          <h1 id="usage">Usage</h1>
        </div>

        <h2>Step 1</h2>
        <p>
          Open Launchpad (or open "<span class="glyphicon glyphicon-folder-open"></span> Applications" folder from Finder).
        </p>
        <p>
          Then, click Karabiner-Elements.
        </p>
        <div class="row">
          <div class="col-lg-4">
            <img
            alt="launchpad"
            {{#imgsrc}}
              img/karabiner-elements-icon@2x.png
            {{/imgsrc}}
            />
          </div>
        </div>

        <h2>Step 2</h2>

        <p>
          An alert about kext policy will be shown since macOS High Sierra.<br />
          Click "Open System Preferences &gt; Security &amp; Privacy" and press Allow button.
        </p>
        <div class="row">
          <div class="col-lg-4">
            {{#lightbox}}
              img/high-sierra-kext-policy@2x.png An alert of Kext policy
            {{/lightbox}}
          </div>
        </div>

        <h2>Step 3</h2>
        <p>
          Configure Karabiner-Elements from UI.
        </p>
        <div class="row">
          <div class="col-lg-4">
            {{#lightbox}}
              img/karabiner-elements-preferences@2x.png Preferences
            {{/lightbox}}
          </div>
        </div>
      </section>

      <section>
        <div class="page-header">
          <h1 id="quit">
            How to quit
          </h1>
        </div>

        <p>
          Quit from menu bar or Misc tab in Preferences.
        </p>

        <div class="row">
          <div class="col-lg-4">
            {{#lightbox}}
              img/karabiner-elements-menu-quit@2x.png Menu
            {{/lightbox}}
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            {{#lightbox}}
              img/karabiner-elements-quit@2x.png Preferences
            {{/lightbox}}
          </div>
        </div>
      </section>

      <section>
        <div class="page-header">
          <h1 id="uninstall">
            Uninstall
          </h1>
        </div>
        <p>
          Press the "Uninstall Karabiner-Elements" button in "Misc" tab.
        </p>
        <div class="row">
          <div class="col-lg-4">
            {{#lightbox}}
              img/karabiner-elements-uninstall@2x.png Uninstall Karabiner-Elements
            {{/lightbox}}
          </div>
        </div>
      </section>

      <section>
        <div class="page-header">
          <h1 id="check-for-updates">
            Check for updates
          </h1>
        </div>
        <p>
          You can check for updates from "Misc" tab.
        </p>
        <div class="row">
          <div class="col-lg-4">
            {{#lightbox}}
              img/karabiner-elements-check-for-updates@2x.png Check for updates
            {{/lightbox}}
          </div>
        </div>

        <p>
          {{#language_en}}
            If you want to use the latest beta version, use "Check for beta updates" button.
          {{/language_en}}
          {{#language_ja}}
            もし最新のベータ版を使う場合は、「Check for updates including beta versions」ボタンを使ってください。
          {{/language_ja}}
        </p>
        <div class="row">
          <div class="col-lg-4">
            {{#lightbox}}
              img/karabiner-elements-check-for-updates-beta@2x.png Check for updates
            {{/lightbox}}
          </div>
        </div>
      </section>

      <section>
        <div class="page-header">
          <h1 id="eventviewer">
            How to confirm result of configuration
          </h1>
        </div>

        <p>
          You can examine keyboard and mouse events by using EventViewer.<br />
          Launch Karabiner-EventViewer from Launchpad.
        </p>

        <div class="row">
          <div class="col-lg-6">
            <img
            alt="menu"
            {{#imgsrc}}
              img/karabiner-elements-eventviewer-icon@2x.png
            {{/imgsrc}}
            />
          </div>
          <div class="col-lg-4">
            {{#lightbox}}
              img/v10/eventviewer@2x.png eventviewer
            {{/lightbox}}
          </div>
        </div>
      </section>

      <section>
        <div class="page-header">
          <h1 id="privatexml">
            {{#language_en}}
              How to add your own settings
            {{/language_en}}
            {{#language_ja}}
              設定の追加の方法
            {{/language_ja}}
          </h1>
        </div>

        <p>
          {{#language_en}}
            You can add your own settings by "private.xml".
          {{/language_en}}
          {{#language_ja}}
            「private.xml」にて設定を追加することが出来ます。
          {{/language_ja}}
        </p>

        <ol class="steps">
          <li>
            {{#language_en}}
              Click "Open private.xml" button on "Misc &amp; Uninstall" tab.
            {{/language_en}}
            {{#language_ja}}
              「Misc &amp; Uninstall」タブの「Open private.xml」を押してください。
            {{/language_ja}}
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/v10/karabiner-xml1@2x.png open private.xml
                {{/lightbox}}
              </div>
            </div>
          </li>
          <li>
            {{#language_en}}
              Then, Finder is opened.
            {{/language_en}}
            {{#language_ja}}
              Finderが開きます。
            {{/language_ja}}
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/v10/karabiner-xml2@2x.png finder
                {{/lightbox}}
              </div>
            </div>
          </li>
          <li>
            {{#language_en}}
              Open private.xml with your preferred text editor.
            {{/language_en}}
            {{#language_ja}}
              private.xmlをテキストエディタで開きます。
            {{/language_ja}}
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/v10/karabiner-xml3@2x.png finder
                {{/lightbox}}
              </div>
            </div>
          </li>
          <li>
            {{#language_en}}
              Update the contents of private.xml to <a target="_blank" href="https://raw.githubusercontent.com/tekezo/Karabiner/version_10.22.0/files/sample/private.xml">private.xml</a>.
            {{/language_en}}
            {{#language_ja}}
              ファイルの中身を<a target="_blank" href="https://raw.githubusercontent.com/tekezo/Karabiner/version_10.22.0/files/sample/private.xml">private.xml</a>の内容に変更します。
            {{/language_ja}}
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/v10/karabiner-xml4@2x.png textedit
                {{/lightbox}}
              </div>
            </div>
          </li>
          <li>
            {{#language_en}}
              Press "Reload XML" button on "Change Key" tab.
            {{/language_en}}
            {{#language_ja}}
              「Change key」タブの「Reload XML」ボタンを押してください。
            {{/language_ja}}
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/v10/karabiner-xml5@2x.png Reload XML
                {{/lightbox}}
              </div>
            </div>
          </li>
          <li>
            {{#language_en}}
              New settings have been added.
            {{/language_en}}
            {{#language_ja}}
              新しい設定が追加されました。
            {{/language_ja}}
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/v10/karabiner-xml6@2x.png reloaded
                {{/lightbox}}
              </div>
            </div>
          </li>
          <li>
            {{#language_en}}
              Apply new setting by activating added settings.
            {{/language_en}}
            {{#language_ja}}
              追加された設定を有効にすると、新しい設定が適用されます。
            {{/language_ja}}

            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/v10/karabiner-xml7@2x.png enable new setting
                {{/lightbox}}
              </div>
            </div>
          </li>
          <li>
            {{#language_en}}
              Edit private.xml as you like, reload XML and activate new settings.<br />
            {{/language_en}}
            {{#language_ja}}
              private.xmlの中身を好きなように変更して、XMLを再読み込みし、新しい設定を有効にしてください。<br />
            {{/language_ja}}

            <ul>
              <li>
                <a href="xml.html.{{language}}">
                  {{#language_en}}
                    private.xml Reference Manual
                  {{/language_en}}
                  {{#language_ja}}
                    private.xml Reference Manual（英語）
                  {{/language_ja}}
                </a>
              </li>
            </ul>
          </li>
        </ol>

        <h2 id="privatexml-only">
          {{#language_en}}
            Advanced Usage: Turning off prepared settings
          {{/language_en}}
          {{#language_ja}}
            高度な使用方法: 既存の設定を読み込まないようにする
          {{/language_ja}}
        </h2>

        <p>
          {{#language_en}}
            You can turn off prepared settings if you don't need all prepared settings.<br />
            Turn off the "Use prepared settings" checkbox.
          {{/language_en}}
          {{#language_ja}}
            「Use prepared settings」をオフにすることで、既存の設定を読み込まないようにすることが出来ます。
          {{/language_ja}}
        </p>

        <div class="row">
          <div class="col-lg-4">
            {{#lightbox}}
              img/v10/karabiner-checkbox-use-prepared-settings@2x.png checkbox-use-prepared-settings
            {{/lightbox}}
          </div>
        </div>

        <p>
          {{#language_en}}
            You can also import prepared settings into your private.xml by using <code>&lt;include&gt;</code>.<br />
            Please copy lines of <a target="_blank" href="https://github.com/tekezo/Karabiner/blob/version_10.22.0/src/core/server/Resources/checkbox.xml">checkbox.xml</a> which you want to import.
          {{/language_en}}
          {{#language_ja}}
            更に、<code>&lt;include&gt;</code>タグを用いて、既存の設定の一部分だけをprivate.xmlから読み込むことも出来ます。<br />
            <a target="_blank" href="https://github.com/tekezo/Karabiner/blob/version_10.22.0/src/core/server/Resources/checkbox.xml">checkbox.xml</a>中から、読み込みたい行をprivate.xmlにコピーしてください。
          {{/language_ja}}
        </p>
        <p>
          {{#language_en}}
            For example, this private.xml imports "Launcher Mode v2" and "Mouse Keys Mode".
          {{/language_en}}
          {{#language_ja}}
            例えば、このprivate.xmlでは「Launcher Mode v2」と「Mouse Keys Mode」を読み込みます。
          {{/language_ja}}
        </p>
        {{#indented_xml}}
          |<?xml version="1.0"?>
          |<root>
          |  <include once="true" path="{{curly}} ENV_Karabiner_Resources }}/include/checkbox/launcher_mode.xml" />
          |  <include once="true" path="{{curly}} ENV_Karabiner_Resources }}/include/checkbox/mouse_keys.xml" />
          |</root>
        {{/indented_xml}}

        <div class="row">
          <div class="col-lg-4">
            {{#lightbox}}
              img/v10/karabiner-checkbox-use-prepared-settings-result@2x.png checkbox-use-prepared-settings-result
            {{/lightbox}}
          </div>
        </div>
      </section>

      <section>
        <div class="page-header">
          <h1 id="implicit">
            {{#language_en}}
              Implicit behavior
            {{/language_en}}
            {{#language_ja}}
              暗黙の挙動
            {{/language_ja}}
          </h1>
        </div>

        <p>
          {{#language_en}}
            Karabiner modifies following behavior automatically without any configurations:
          {{/language_en}}
          {{#language_ja}}
            Karabinerは全く設定をしない場合でも、以下の変更を行います。
          {{/language_ja}}
        </p>

        <h2>
          {{#language_en}}
            Share state of modifier keys with all connected keyboards:
          {{/language_en}}
          {{#language_ja}}
            接続されている全てのキーボードで修飾キーの状態を共有します
          {{/language_ja}}
        </h2>
        <p>
          {{#language_en}}
            When you are using multiple keyboards, modifier keys are shared with all keyboards.<br />
            For example, pressing "shift key on keyboard1" and "space key on keyboard2" sends shift-space.
          {{/language_en}}
          {{#language_ja}}
            もし複数のキーボードを使っている場合、修飾キーの状態を全てのキーボードで共有します。<br />
            例えば、キーボード1でシフトキーを押して、キーボード2でスペースキーを押した場合、シフト+スペースが送信されます。
          {{/language_ja}}
        </p>

        <h2>
          {{#language_en}}
            Add fn-key combinations:
          {{/language_en}}
          {{#language_ja}}
            fnキーとの組み合わせを追加します
          {{/language_ja}}
        </h2>
        <p>
          {{#language_en}}
            Karabiner adds fn-key combinations:
          {{/language_en}}
          {{#language_ja}}
            Karabinerはfnキーとの組み合わせのショートカットを追加します。
          {{/language_ja}}
        </p>

        <h3>Fn-Arrow keys:</h3>
        <table class="table table-striped">
          <colgroup>
            <col class="col-lg-4" />
            <col class="col-lg-8" />
          </colgroup>
          <thead>
            <tr><th>Key combination</th><th>Result</th></tr>
          </thead>
          <tbody>
            <tr><td>Fn-Up Arrow</td><td>PageUp</td></tr>
            <tr><td>Fn-Down Arrow</td><td>PageDown</td></tr>
            <tr><td>Fn-Left Arrow</td><td>Home</td></tr>
            <tr><td>Fn-Right Arrow</td><td>End</td></tr>
          </tbody>
        </table>

        <h3>Fn-Return, Fn-Delete:</h3>
        <table class="table table-striped">
          <colgroup>
            <col class="col-lg-4" />
            <col class="col-lg-8" />
          </colgroup>
          <thead>
            <tr><th>Key combination</th><th>Result</th></tr>
          </thead>
          <tbody>
            <tr><td>Fn-Return</td><td>Enter</td></tr>
            <tr><td>Fn-Delete</td><td>Forward Delete</td></tr>
          </tbody>
        </table>
      </section>

      <section>
        <div class="page-header">
          <h1 id="event-modification-chaining">
            {{#language_en}}
              Input event modification chaining
            {{/language_en}}
            {{#language_ja}}
              入力イベントの変更の順番
            {{/language_ja}}
          </h1>
        </div>

        <p>
          {{#language_en}}
            There are several ways to modify input events:
          {{/language_en}}
          {{#language_ja}}
            入力イベントを変更する方法はいくつかあります。<br />
          {{/language_ja}}
        </p>
        <ul>
          <li>Karabiner</li>
          <li>Seil: <a href="https://pqrs.org/osx/karabiner/seil.html">https://pqrs.org/osx/karabiner/seil.html</a></li>
          <li>
            <p>
              {{#language_en}}
                System Preferences &gt; Keyboard &gt; Modifier Keys...
              {{/language_en}}
              {{#language_ja}}
                システム環境設定 &gt; キーボード &gt; 修飾キー...
              {{/language_ja}}
            </p>
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/v10/event-modification-chaining-keyboard-preferences@2x.png keyboard preferences
                {{/lightbox}}
              </div>
            </div>
          </li>
        </ul>
        <p>
          {{#language_en}}
            Input events will be changed by each manipulators by the following order:
          {{/language_en}}
          {{#language_ja}}
            入力イベントは各々の方法で、次の順番で変更されます。
          {{/language_ja}}
        </p>

        <ol>
          <li>Seil</li>
          <li>
            {{#language_en}}
              System Preferences &gt; Keyboard &gt; Modifier Keys...
            {{/language_en}}
            {{#language_ja}}
              システム環境設定 &gt; キーボード &gt; 修飾キー...
            {{/language_ja}}
          </li>
          <li>Karabiner</li>
        </ol>

        <h2>
          {{#language_en}}
            Example #1
          {{/language_en}}
          {{#language_ja}}
            例1
          {{/language_ja}}
        </h2>
        <p>
          {{#language_en}}
            If the following modification is specified:
          {{/language_en}}
          {{#language_ja}}
            もし以下の設定がされていた場合、
          {{/language_ja}}
        </p>
        <ol>
          <li>
            {{#language_en}}
              Seil setting: <code>command key</code> -&gt; <code>option key</code>
            {{/language_en}}
            {{#language_ja}}
              Seil設定: <code>コマンドキー</code> -&gt; <code>オプションキー</code>
            {{/language_ja}}
          </li>
          <li>
            {{#language_en}}
              System Preferences: <code>option key</code> -&gt; <code>shift key</code>
            {{/language_en}}
            {{#language_ja}}
              システム環境設定: <code>オプションキー</code> -&gt; <code>シフトキー</code>
            {{/language_ja}}
          </li>
          <li>
            {{#language_en}}
              Karabiner setting: <code>shift key</code> -&gt; <code>control key</code>
            {{/language_en}}
            {{#language_ja}}
              Karabiner設定: <code>シフトキー</code> -&gt; <code>コントロールキー</code>
            {{/language_ja}}
          </li>
        </ol>
        <p>
          {{#language_en}}
            The physical <code>command key</code> will be changed to <code>control key</code>.
          {{/language_en}}
          {{#language_ja}}
            <code>コマンドキー</code>は<code>コントロールキー</code>になります。
          {{/language_ja}}
        </p>

        <h2>
          {{#language_en}}
            Example #2
          {{/language_en}}
          {{#language_ja}}
            例2
          {{/language_ja}}
        </h2>
        <p>
          {{#language_en}}
            Generic keys are changed by Seil and Karabiner.
          {{/language_en}}
          {{#language_ja}}
            通常のキーはSeilとKarabinerで変更されます。
          {{/language_ja}}
        </p>
        <ol>
          <li>
            {{#language_en}}
              Seil setting: <code>escape key</code> -&gt; <code>tab key</code>
            {{/language_en}}
            {{#language_ja}}
              Seil 設定: <code>escapeキー</code> -&gt; <code>tabキー</code>
            {{/language_ja}}
          </li>
          <li>
            {{#language_en}}
              Karabiner setting: <code>tab key</code> -&gt; <code>delete key</code>
            {{/language_en}}
            {{#language_ja}}
              Karabiner設定: <code>tabキー</code> -&gt; <code>deleteキー</code>
            {{/language_ja}}
          </li>
        </ol>
        <p>
          {{#language_en}}
            The physical <code>escape key</code> will be changed to <code>delete key</code> by Seil and Karabiner. <br />
            The physical <code>tab key</code> will also be changed to <code>delete key</code> by Karabiner.
          {{/language_en}}
          {{#language_ja}}
            <code>escapeキー</code>はSeilとKarabinerにより、<code>deleteキー</code>になります。<br />
            <code>tabキー</code>もKarabinerにより、<code>deleteキー</code>になります。
          {{/language_ja}}
        </p>

        <h2>
          {{#language_en}}
            Plural settings in Karabiner
          {{/language_en}}
          {{#language_ja}}
            Karabinerにおける複数の設定
          {{/language_ja}}
        </h2>
        <p>
          {{#language_en}}
            Karabiner does not allow you to recursive event modification.<br />
            If one setting is applied, other settings are ignored.
          {{/language_en}}
          {{#language_ja}}
            Karabinerでは設定を再帰的に反映することは出来ません。<br />
            一つの設定が反映された後は他の設定は無視されます。
          {{/language_ja}}
        </p>
        <ol>
          <li>
            {{#language_en}}
              Karabiner setting: <code>escape key</code> -&gt; <code>delete key</code>
            {{/language_en}}
            {{#language_ja}}
              Karabiner設定: <code>escapeキー</code> -&gt; <code>deleteキー</code>
            {{/language_ja}}
          </li>
          <li>
            {{#language_en}}
              Karabiner setting: <code>delete key</code> -&gt; <code>space key</code>
            {{/language_en}}
            {{#language_ja}}
              Karabiner設定: <code>deleteキー</code> -&gt; <code>spaceキー</code>
            {{/language_ja}}
          </li>
        </ol>
        <p>
          {{#language_en}}
            <code>escape key</code> will be changed to <code>delete key</code>. (not <code>space key</code>)
          {{/language_en}}
          {{#language_ja}}
            <code>escapeキー</code>は<code>deleteキー</code>になります。（<code>space key</code>にはなりません。）
          {{/language_ja}}
        </p>
      </section>

      <section>
        <div class="page-header">
          <h1 id="profiles">
            {{#language_en}}
              Multiple profiles
            {{/language_en}}
            {{#language_ja}}
              複数の設定の使い分け
            {{/language_ja}}
          </h1>
        </div>
        <p>
          {{#language_en}}
            You can switch activated settings from menu bar.
          {{/language_en}}
          {{#language_ja}}
            メニューバーから複数の設定を使い分けることができます。
          {{/language_ja}}
        </p>
        <p>
          <img
          alt="profiles"
          {{#imgsrc}}
            img/v10/karabiner-profiles-menu@2x.png
          {{/imgsrc}}
          />
        </p>
        <h2>
          {{#language_en}}
            How to use multiple profiles
          {{/language_en}}
          {{#language_ja}}
            複数の設定の使い方
          {{/language_ja}}
        </h2>
        <ol class="steps">
          <li>
            {{#language_en}}
              Add new configuration from Profiles tab.
            {{/language_en}}
            {{#language_ja}}
              設定の追加を「Profiles」タブから行ないます。
            {{/language_ja}}
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/v10/karabiner-profiles-preferences@2x.png menubar tab
                {{/lightbox}}
              </div>
            </div>
          </li>
          <li>
            <p>
              {{#language_en}}
                Choose the profile from menu bar.
              {{/language_en}}
              {{#language_ja}}
                メニューバーから設定を切り替えます。
              {{/language_ja}}
            </p>
            <p>
              <img
              alt="profiles"
              {{#imgsrc}}
                img/v10/karabiner-profiles-menu-selected@2x.png
              {{/imgsrc}}
              />
            </p>
          </li>
          <li>
            {{#language_en}}
              Set up remapping for the selected configuration.
            {{/language_en}}
            {{#language_ja}}
              切り替えた設定用にリマッピングの設定を行います。
            {{/language_ja}}
          </li>
        </ol>

        <h2>
          {{#language_en}}
            Switch profile by shortcut
          {{/language_en}}
          {{#language_ja}}
            ショートカットで設定を切り替える
          {{/language_ja}}
        </h2>
        <p>
          {{#language_en}}
            You can find a setting which switches profile by fn+1,fn+2,fn+3, and fn+4 by searching "switch profile" on Preference.
          {{/language_en}}
          {{#language_ja}}
            設定で「switch profile」と検索することで、fn+1、fn+2、fn+3、fn+4で設定を切り替える設定が見つかります。
          {{/language_ja}}
        </p>
        <div class="row">
          <div class="col-lg-4">
            {{#lightbox}}
              img/v10/karabiner-profiles-shortcuts@2x.png switch profile
            {{/lightbox}}
          </div>
        </div>
        <br />
        <p>
          {{#language_en}}
            If you want to assign your own shortcut, this is an example of private.xml.
          {{/language_en}}
          {{#language_ja}}
            もし独自のショートカットを使いたい場合は、以下がprivate.xmlの例となります。
          {{/language_ja}}
        </p>
        {{#indented_xml}}
          |<?xml version="1.0"?>
          |<root>
          |  <item>
          |    <name>Switch Profile</name>
          |    <identifier>private.switch_profile</identifier>
          |    <autogen>__KeyToKey__ KeyCode::KEY_1, ModifierFlag::FN, KeyCode::VK_OPEN_URL_APP_Karabiner_Profile0</autogen>
          |    <autogen>__KeyToKey__ KeyCode::KEY_2, ModifierFlag::FN, KeyCode::VK_OPEN_URL_APP_Karabiner_Profile1</autogen>
          |    <autogen>__KeyToKey__ KeyCode::KEY_3, ModifierFlag::FN, KeyCode::VK_OPEN_URL_APP_Karabiner_Profile2</autogen>
          |    <autogen>__KeyToKey__ KeyCode::KEY_4, ModifierFlag::FN, KeyCode::VK_OPEN_URL_APP_Karabiner_Profile3</autogen>
          |  </item>
          |</root>
        {{/indented_xml}}
      </section>

      <section>
        <div class="page-header">
          <h1 id="commandlineinterface">
            {{#language_en}}
              Command line interface
            {{/language_en}}
            {{#language_ja}}
              コマンドラインインターフェース
            {{/language_ja}}
          </h1>
        </div>
        <p>
          {{#language_en}}
            Karabiner provides a command line interface. (karabiner command)
          {{/language_en}}
          {{#language_ja}}
            Karabinerはコマンドラインインターフェースを提供しています。(karabinerコマンド)
          {{/language_ja}}
        </p>
        <ul>
          <li>
            {{#language_en}}
              You can get a list of changed setting.
            {{/language_en}}
            {{#language_ja}}
              変更した設定の一覧を取得できます。
            {{/language_ja}}
          </li>
          <li>
            {{#language_en}}
              You can activate/deactivate setting.
            {{/language_en}}
            {{#language_ja}}
              設定の有効化/無効化をできます。
            {{/language_ja}}
          </li>
          <li>
            {{#language_en}}
              You can choose a profile from multiple profiles.
            {{/language_en}}
            {{#language_ja}}
              複数の設定の切り替えをできます。
            {{/language_ja}}
          </li>
          <li>
            {{#language_en}}
              You can export configuration.
            {{/language_en}}
            {{#language_ja}}
              設定のエクスポートが出来ます。
            {{/language_ja}}
          </li>
        </ul>

        <h2>
          {{#language_en}}
            How to show help
          {{/language_en}}
          {{#language_ja}}
            使い方の表示方法
          {{/language_ja}}
        </h2>
        <p>
          {{#language_en}}
            Execute the karabiner command with no argument.
          {{/language_en}}
          {{#language_ja}}
            karabinerコマンドを引数なしで実行します。
          {{/language_ja}}
        </p>
        <pre>{{#strip_indented_lines}}
          |$ /Applications/Karabiner.app/Contents/Library/bin/karabiner
          |Usage:
          |  Profile operations:
          |    $ karabiner list
          |    $ karabiner select INDEX (INDEX starts at 0)
          |    $ karabiner select_by_name NAME
          |    $ karabiner selected
          |    $ karabiner append NAME
          |    $ karabiner rename INDEX NEWNAME (INDEX starts at 0)
          |    $ karabiner delete INDEX (INDEX starts at 0)
          |  Settings:
          |    $ karabiner set IDENTIFIER VALUE
          |    $ karabiner enable IDENTIFIER (alias of set IDENTIFIER 1)
          |    $ karabiner disable IDENTIFIER (alias of set IDENTIFIER 0)
          |    $ karabiner toggle IDENTIFIER
          |    $ karabiner changed
          |  Others:
          |    $ karabiner export
          |    $ karabiner reloadxml
          |    $ karabiner relaunch
          |    $ karabiner be_careful_to_use__clear_all_values_by_name PROFILE_NAME
          |
          |Examples:
          |  $ karabiner list
          |  $ karabiner select 1
          |  $ karabiner select_by_name NewItem
          |  $ karabiner selected
          |  $ karabiner append "For external keyboard"
          |  $ karabiner rename 1 "Empty Setting"
          |  $ karabiner delete 1
          |
          |  $ karabiner set repeat.wait 30
          |  $ karabiner enable remap.shiftL2commandL
          |  $ karabiner disable remap.shiftL2commandL
          |  $ karabiner toggle remap.shiftL2commandL
          |  $ karabiner changed
          |
          |  $ karabiner export
          |  $ karabiner reloadxml
          |  $ karabiner relaunch
          |  $ karabiner be_careful_to_use__clear_all_values_by_name NewItem
        {{/strip_indented_lines}}</pre>

        <h2>
          {{#language_en}}
            About "list" and "select" option
          {{/language_en}}
          {{#language_ja}}
            list、selectオプションについて
          {{/language_ja}}
        </h2>
        <p>
          {{#language_en}}
            You can choose a profile from multiple profiles.
          {{/language_en}}
          {{#language_ja}}
            複数の設定の切り替えをできます。
          {{/language_ja}}
        </p>
        <ol>
          <li>
            {{#language_en}}
              Get a list of profiles by "list" option.
            {{/language_en}}
            {{#language_ja}}
              listオプションで複数の設定の一覧を取得します。
            {{/language_ja}}
            <pre>{{#strip_indented_lines}}
              |$ /Applications/Karabiner.app/Contents/Library/bin/karabiner list
              |0: Default
              |1: Don't Remap
              |2: Empty
              |3: Test
            {{/strip_indented_lines}}</pre>
          </li>
          <li>
            {{#language_en}}
              Choose a profile by "select" option.
              <br />
              The numeral argument is a profile index. It starts from 0.
            {{/language_en}}
            {{#language_ja}}
              selectオプションで切り替えを行ないます。
              <br />
              数字のオプションは設定のインデックスです。これは0から始まります。
            {{/language_ja}}
            <pre>{{#strip_indented_lines}}
              |$ /Applications/Karabiner.app/Contents/Library/bin/karabiner select 1
            {{/strip_indented_lines}}</pre>
          </li>
        </ol>

        <h2 id="export">
          {{#language_en}}
            About "export" option
          {{/language_en}}
          {{#language_ja}}
            exportオプションについて
          {{/language_ja}}
        </h2>
        <ol>
          <li>
            {{#language_en}}
              Export configuration by "export" option.
              <br />
              The output is a shell script.
            {{/language_en}}
            {{#language_ja}}
              exportオプションで設定のエクスポートを行います。
              <br />
              出力は、シェルスクリプトです。
            {{/language_ja}}
            <pre>{{#strip_indented_lines}}
              |$ /Applications/Karabiner.app/Contents/Library/bin/karabiner export > ~/Desktop/karabiner-import.sh
            {{/strip_indented_lines}}</pre>
          </li>
          <li>
            {{#language_en}}
              You can import it from Terminal.
            {{/language_en}}
            {{#language_ja}}
              ターミナルからインポートを行うことができます。
            {{/language_ja}}
            <pre>{{#strip_indented_lines}}
              |$ sh ~/Desktop/karabiner-import.sh
              |...........................................
            {{/strip_indented_lines}}</pre>
          </li>
        </ol>

        <h3 id="clear-before-import">Reset configuration before import</h3>
        <p>
          {{#language_en}}
            The <code>karabiner-import.sh</code> do not reset your configuration.<br />
            If you have enabled settings before import, the enabled settings will not be disabled in the import.
          {{/language_en}}
          {{#language_ja}}
            <code>karabiner-import.sh</code>は設定をリセットしません。<br />
            インポートをする前に有効にしていた設定はインポート後も有効になります。
          {{/language_ja}}
        </p>
        <p>
          {{#language_en}}
            If you want to reset the configuration before import, please use <code>be_careful_to_use__clear_all_values_by_name</code> before running karabiner-import.sh.
          {{/language_en}}
          {{#language_ja}}
            インポート前に設定をリセットしたい場合は<code>be_careful_to_use__clear_all_values_by_name</code>をkarabiner-import.shの前に実行してください。
          {{/language_ja}}
        </p>
        <pre>{{#strip_indented_lines}}
          |$ /Applications/Karabiner.app/Contents/Library/bin/karabiner \
          |     be_careful_to_use__clear_all_values_by_name \
          |     YOUR_PROFILE_NAME
          |$ sh ~/Desktop/karabiner-import.sh
        {{/strip_indented_lines}}</pre>
      </section>

      <section>
        <div class="page-header">
          <h1 id="preferences">
            {{#language_en}}
              The location of the configuration file
            {{/language_en}}
            {{#language_ja}}
              設定ファイルの場所
            {{/language_ja}}
          </h1>
        </div>
        <p>
          {{#language_en}}
            Karabiner's settings are stored in the following location.
          {{/language_en}}
          {{#language_ja}}
            Karabinerの設定は以下の場所に保存されています。
          {{/language_ja}}
        </p>
        <p>
          <span class="glyphicon glyphicon-home"></span>
          Home
          &gt;
          <span class="glyphicon glyphicon-folder-open"></span>
          Library
          &gt;
          <span class="glyphicon glyphicon-folder-open"></span>
          Preferences
          &gt;
          <span class="glyphicon glyphicon-file"></span>
          org.pqrs.Karabiner.plist
        </p>
      </section>

    </div>
    <div class="col-md-3">
      {{> ../../pqrs_tabs }}
    </div>
  </div>
</div>
