<div class="container">
  <header>
    <div class="page-header">
      <h1>
        Manual
      </h1>
    </div>
  </header>

  <div class="row">
    <div class="col-md-9 pqrs-docs-container">
      <section>
        <div class="page-header">
          <h1 id="features">Features</h1>
        </div>

        <p>
          Karabiner-Elements is a powerful and stable keyboard customizer for macOS.
        </p>

        <h2>Core features</h2>

        <ul>
          <li><b>Simple Modifications:</b> Map normal keys to arbitrary key functions.</li>
          <li><b>Complex Modifications:</b> Map keys by complex rules. e.g., key to modifiers, modifiers+key to key, send key event if pressed alone, etc.</li>
          <li><b>Function Keys:</b> Map function keys to arbitrary key functions.</li>
          <li><b>Devices:</b> Apply modifications to specified keyboards only.</li>
          <li><b>Profiles:</b> Support the creation of multiple profiles that the user can switch between.</li>
          <li><b>Modifier Flag Sync:</b> Synchronize modifier flags across all connected keyboards.</li>
          <li><b>Secure Keyboard Entry Support:</b> Work well on Secure Keyboard Entry environment such as a password prompt, terminal with Secure Keyboard Entry, etc.</li>
        </ul>

        <h2>Current limitations</h2>

        <ul>
          <li>Karabiner-Elements cannot modify <b>the eject key</b> on some keyboard (e.g., Apple Wired Keyboard) due to the limitation of macOS API.</li>
          <li>Karabiner-Elements cannot modify <b>the fn key on non Apple keyboards</b> such as Logitech keyboards.</li>
          <li>
            Karabiner-Elements ignores the <b>System Preferences &gt; Keyboard &gt; Modifier Keys...</b> configuration.<br />
            Change modifiers by using <b>Simple Modifications</b>.
            <a href="#event-modification-chaining">(detail of input event modification chaining)</a>
          </li>
        </ul>

      </section>

      <section>
        <div class="page-header">
          <h1 id="usage">Usage</h1>
        </div>

        <h2>Step 1</h2>
        <p>
          Open Launchpad (or open <span class="glyphicon glyphicon-folder-open"></span> Applications folder from Finder).
        </p>
        <p>
          Then, click Karabiner-Elements.
        </p>
        <div class="row">
          <div class="col-lg-4">
            <p>
              <img
              alt="launchpad"
              {{#imgsrc}}
                img/karabiner-elements-icon@2x.png
              {{/imgsrc}}
              />
            </p>
          </div>
        </div>

        <h2>Step 2</h2>

        <p>
          An alert about kext policy will be shown since macOS High Sierra.<br />
          Click <b>Open System Preferences &gt; Security &amp; Privacy</b> button, then press <b>Allow</b> button.
        </p>
        <div class="row">
          <div class="col-lg-4">
            {{#lightbox}}
              img/high-sierra-kext-policy@2x.png An alert of Kext policy
            {{/lightbox}}
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">Note</div>
          <div class="panel-body">
            If the <b>Allow</b> button is not hidden after you click it, you failed to click the button.<br />
            Please follow <a href="help.html#kext-allow-button-does-not-work">this instruction</a> to solve the problem.
          </div>
        </div>

        <h2>Step 3</h2>

        <p>
          Keyboard Setup Assistant will be opened.<br />
          Choose your keyboard layout.
        </p>
        <div class="row">
          <div class="col-lg-4">
            {{#lightbox}}
              img/keyboard-setup-assistant@2x.png Keyboard Setup Assistant
            {{/lightbox}}
          </div>
        </div>

        <h2>Step 4</h2>
        <p>
          Configure Karabiner-Elements from UI.
        </p>

        <ul>
          <li><a href="#configuration-keyboard-type">Set keyboard type (ANSI, ISO or JIS)</a></li>
          <li><a href="#configuration-devices">Choose devices</a></li>
          <li><a href="#configuration-simple-modifications">Change a key to another key</a></li>
          <li><a href="#configuration-complex-modifications">Use more complex rules</a></li>
        </ul>

        <div class="row">
          <div class="col-lg-4">
            {{#lightbox}}
              img/karabiner-elements-preferences@2x.png Preferences
            {{/lightbox}}
          </div>
        </div>
      </section>

      <section>
        <div class="page-header">
          <h1 id="configuration">
            Configuration
          </h1>
        </div>

        <section>
          <h2 id="configuration-simple-modifications">Change a key to another key</h2>

          <p>
            You can change a key to another key in <b>Simple Modifications</b> tab.
          </p>

          <div class="instruction">
            <h3>Step 1</h3>

            <p>
              Choose target device, then press <b>Add item</b> button.
            </p>

            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/karabiner-elements-simple-modifications-1@2x.png Simple Modifications
                {{/lightbox}}
              </div>
              <div class="col-lg-4">
                {{#lightbox}}
                  img/karabiner-elements-simple-modifications-2@2x.png Simple Modifications
                {{/lightbox}}
              </div>
            </div>

            <h3>Step 2</h3>

            <p>
              Select <b>From key</b> and <b>To key</b>.<br />
              You can investigate the key name by using <a href="#eventviewer">Karabiner-EventViewer</a>.
            </p>

            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/karabiner-elements-simple-modifications-3@2x.png Simple Modifications
                {{/lightbox}}
              </div>
              <div class="col-lg-4">
                {{#lightbox}}
                  img/karabiner-elements-eventviewer-name@2x.png Karabiner EventViewer
                {{/lightbox}}
              </div>
            </div>

            <h3>Step 3</h3>

            <p>
              Confirm the result in <a href="#eventviewer">Karabiner-EventViewer</a>.
            </p>
          </div>
        </section>

        <section>
          <h2 id="configuration-complex-modifications">Use more complex rules</h2>

          <p>
            Karabiner-Elements provides more complex event modifications.<br />
            It changes keys according to the conditions.
          </p>

          <p>
            Examples:
          </p>

          <table class="table table-striped">
            <tbody>
              <tr>
                <th>Modifier flags + key to keys</th>
                <td>
                  <ul>
                    <li>Change control-m to return key.</li>
                    <li>Change control-h to delete key.</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th>Key to modifier flags + keys</th>
                <td>
                  <ul>
                    <li>Change caps lock to command+control+option+shift key</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th>Post other key events when a key pressed alone</th>
                <td>
                  <ul>
                    <li>Post escape key when you press left control key alone.</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th>Change keys in specific apps</th>
                <td>
                  <ul>
                    <li>Change left command key to left control key in virtual machines.</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th>Execute shell command</th>
                <td>
                  <ul>
                    <li>Open Activity Monitor by right shift+a</li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>

          <p>
            You can import predefined rules from the internet (or make your own rules).
          </p>

          <div class="instruction">
            <h3>Step 1</h3>

            <p>
              Open <b>Complex Modifications</b> tab and press <b>Add rule</b> button, then press <b>Import more rules from the internet</b> button.<br />
              Or open <a href="https://pqrs.org/osx/karabiner/complex_modifications/" target="_blank">this page</a>.
            </p>

            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/karabiner-elements-complex-modifications-1@2x.png Complex Modifications
                {{/lightbox}}
              </div>
              <div class="col-lg-4">
                {{#lightbox}}
                  img/karabiner-elements-complex-modifications-2@2x.png Complex Modifications
                {{/lightbox}}
              </div>
            </div>

            <h3>Step 2</h3>

            <p>
              A web browser is opened. Press <b>Import</b> button in the page.<br />
              A confirmation dialog is shown. Press <b>Allow</b> button.
            </p>

            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/karabiner-elements-complex-modifications-3@2x.png Simple Modifications
                {{/lightbox}}
              </div>
              <div class="col-lg-4">
                {{#lightbox}}
                  img/karabiner-elements-complex-modifications-4@2x.png Simple Modifications
                {{/lightbox}}
              </div>
              <div class="col-lg-4">
                {{#lightbox}}
                  img/karabiner-elements-complex-modifications-5@2x.png Simple Modifications
                {{/lightbox}}
              </div>
            </div>

            <h3>Step 3</h3>

            <p>
              Karabiner-Elements is shown again. Press <b>Import</b> button, then new rules are imported.<br />
              Press <b>Enable</b> button.
            </p>

            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/karabiner-elements-complex-modifications-6@2x.png Simple Modifications
                {{/lightbox}}
              </div>
              <div class="col-lg-4">
                {{#lightbox}}
                  img/karabiner-elements-complex-modifications-7@2x.png Simple Modifications
                {{/lightbox}}
              </div>
            </div>

            <h3>Step 4</h3>

            <p>
              New rule is enabled.<br />
              Confirm the result in <a href="#eventviewer">Karabiner-EventViewer</a>.
            </p>

            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/karabiner-elements-complex-modifications-8@2x.png Simple Modifications
                {{/lightbox}}
              </div>
            </div>
          </div>
        </section>

        <section>
          <h2 id="configuration-devices">Choose devices</h2>

          <p>
            Choose devices which Karabiner-Elements modifies events in <b>Devices</b> tab.<br />
            You can also disable MacBook built-in keyboard if external keyboards are connected in <b>Devices</b> tab.
          </p>

          <div class="row">
            <div class="col-lg-4">
              {{#lightbox}}
                img/karabiner-elements-devices@2x.png Devices
              {{/lightbox}}
            </div>
          </div>
        </section>

        <section>
          <h2 id="configuration-keyboard-type">Set keyboard type</h2>

          <p>
            You can change keyboard type via Keyboard Setup Assistant from <b>System Preferences &gt; Keyboard</b>.
          </p>

          <div class="row">
            <div class="col-lg-4">
              {{#lightbox}}
                img/system-preferences-keyboard-setup-assistant@2x.png Keyboard Setup Assistant
              {{/lightbox}}
            </div>
          </div>
        </section>
      </section>

      <section>
        <div class="page-header">
          <h1 id="quit">
            How to quit
          </h1>
        </div>

        <p>
          Quit from menu bar or Misc tab in Preferences.
        </p>

        <div class="row">
          <div class="col-lg-4">
            {{#lightbox}}
              img/karabiner-elements-menu-quit@2x.png Menu
            {{/lightbox}}
          </div>
          <div class="col-lg-4">
            {{#lightbox}}
              img/karabiner-elements-quit@2x.png Preferences
            {{/lightbox}}
          </div>
        </div>
      </section>

      <section>
        <div class="page-header">
          <h1 id="uninstall">
            Uninstall
          </h1>
        </div>
        <p>
          Press the "Uninstall Karabiner-Elements" button in "Misc" tab.
        </p>
        <div class="row">
          <div class="col-lg-4">
            {{#lightbox}}
              img/karabiner-elements-uninstall@2x.png Uninstall Karabiner-Elements
            {{/lightbox}}
          </div>
        </div>
      </section>

      <section>
        <div class="page-header">
          <h1 id="check-for-updates">
            Check for updates
          </h1>
        </div>

        <p>
          You can check for updates from "Misc" tab.
        </p>

        <div class="row">
          <div class="col-lg-4">
            {{#lightbox}}
              img/karabiner-elements-check-for-updates@2x.png Check for updates
            {{/lightbox}}
          </div>
        </div>

        <p>
          If you want to use the latest beta version, use "Check for beta updates" button.
        </p>

        <div class="row">
          <div class="col-lg-4">
            {{#lightbox}}
              img/karabiner-elements-check-for-updates-beta@2x.png Check for updates
            {{/lightbox}}
          </div>
        </div>
      </section>

      <section>
        <div class="page-header">
          <h1 id="eventviewer">
            How to confirm result of configuration
          </h1>
        </div>

        <p>
          You can examine keyboard and mouse events by using EventViewer.<br />
          Launch Karabiner-EventViewer from Launchpad.
        </p>

        <div class="row">
          <div class="col-lg-6">
            <p>
              <img
              alt="menu"
              {{#imgsrc}}
                img/karabiner-elements-eventviewer-icon@2x.png
              {{/imgsrc}}
              />
            </p>
          </div>
        </div>

        <p>
          Input events will be shown when you type keyboard on EventViewer or press pointing buttons on Mouse Area.
        </p>

        <div class="row">
          <div class="col-lg-4">
            {{#lightbox}}
              img/karabiner-elements-eventviewer@2x.png eventviewer
            {{/lightbox}}
          </div>
        </div>

        <div id="eventviewer-limitation">
          <div class="alert alert-warning">
            <p>
              <strong>EventViewer limitation</strong>
            </p>
            <p>
              EventViewer cannot show following shortcuts which will be grabbed by system.
            </p>
            <ul>
              <li>command+tab</li>
              <li>mission control key</li>
              <li>control+left,right (if you assigned them to change a space.)</li>
              <li>command+space (if you assigned it to show Spotlight.)</li>
              <li>control+space (if you assigned it to switch input source.)</li>
              <li>etc.</li>
            </ul>
          </div>
        </div>
      </section>

      <section>
        <div class="page-header">
          <h1 id="profiles">
            Multiple profiles
          </h1>
        </div>
        <p>
          You can switch profiles from menu bar. <br />
          Add profiles from <b>Add profile</b> button in <b>Profiles</b> tab.
        </p>

        <div class="row">
          <div class="col-lg-6">
            <p>
              <img
              alt="profiles"
              {{#imgsrc}}
                img/karabiner-elements-menu-profiles@2x.png
              {{/imgsrc}}
              />
            </p>
          </div>
          <div class="col-lg-4">
            {{#lightbox}}
              img/karabiner-elements-profiles@2x.png Profiles
            {{/lightbox}}
          </div>
        </div>
      </section>

      <section>
        <div class="page-header">
          <h1 id="implicit">
            Implicit behavior
          </h1>
        </div>

        <p>
          Karabiner-Elements modifies following behavior automatically without any configurations:
        </p>

        <h2>
          Share state of modifier keys with all connected keyboards:
        </h2>
        <p>
          When you are using multiple keyboards, modifier keys are shared with all keyboards.<br />
          For example, pressing "shift key on keyboard1" and "space key on keyboard2" sends shift-space.
        </p>

        <h2>
          Add fn-key combinations:
        </h2>
        <p>
          Karabiner adds fn-key combinations:
        </p>

        <h3>Fn-Arrow keys:</h3>
        <table class="table table-striped">
          <colgroup>
            <col class="col-lg-4" />
            <col class="col-lg-8" />
          </colgroup>
          <thead>
            <tr><th>Key combination</th><th>Result</th></tr>
          </thead>
          <tbody>
            <tr><td>Fn-Up Arrow</td><td>PageUp</td></tr>
            <tr><td>Fn-Down Arrow</td><td>PageDown</td></tr>
            <tr><td>Fn-Left Arrow</td><td>Home</td></tr>
            <tr><td>Fn-Right Arrow</td><td>End</td></tr>
          </tbody>
        </table>

        <h3>Fn-Return, Fn-Delete:</h3>
        <table class="table table-striped">
          <colgroup>
            <col class="col-lg-4" />
            <col class="col-lg-8" />
          </colgroup>
          <thead>
            <tr><th>Key combination</th><th>Result</th></tr>
          </thead>
          <tbody>
            <tr><td>Fn-Return</td><td>Enter</td></tr>
            <tr><td>Fn-Delete</td><td>Forward Delete</td></tr>
          </tbody>
        </table>
      </section>

      <section>
        <div class="page-header">
          <h1 id="event-modification-chaining">
            Input event modification chaining
          </h1>
        </div>

        <p>
          Karabiner-Elements treats input events by the following order:
        </p>

        <ol>
          <li>Catch events from hardware.</li>
          <li>Apply <b>Simple Modifications</b>.</li>
          <li>Apply <b>Complex Modifications</b>.</li>
          <li>Apply <b>Function Keys Modifications (change f1...f12 keys to media controls)</b>.</li>
          <li>Post events to applications via a virtual keyboard.</li>
        </ol>

        <div class="alert alert-warning">
          System modifier keys configuration in <b>System Preferences &gt; Keyboard</b> is ignored when you use Karabiner-Elements.<br />
          Change modifier keys in Karabiner-Elements's <b>Simple Modifications</b>.
        </div>
      </section>

      <section>
        <div class="page-header">
          <h1 id="command-line-interface">
            Command line interface
          </h1>
        </div>
        <p>
          Karabiner-Elements provides a command line interface which allows you to select a profile. (karabiner_cli command)
        </p>

        <h2>Usage</h2>
        <div class="pre-shell">
          <pre>{{#strip_indented_lines}}
            |$ '/Library/Application Support/org.pqrs/Karabiner-Elements/bin/karabiner_cli' --select-profile 'Default profile'
          {{/strip_indented_lines}}</pre>
        </div>
      </section>

      <section>
        <div class="page-header">
          <h1 id="configuration-file-path">
            The location of the configuration file
          </h1>
        </div>
        <p>
          Karabiner-Elements stores configuration to a json file which is located <b>~/.config/karabiner/karabiner.json</b>
        </p>

        <h2>About symbolic link</h2>

        <p>
          If you want to move karabiner.json to another place and make symbolic link, link to <b>~/.config/karabiner</b> directory.
        </p>

        <p>
          Example:
        </p>

        <div class="pre-shell">
          <pre>{{#strip_indented_lines}}
            |$ mv ~/.config/karabiner ~/Dropbox/private
            |$ ln -s ~/Dropbox/private/karabiner ~/.config
          {{/strip_indented_lines}}</pre>
        </div>

        <p>
          You have to restart karabiner_console_user_server process by the following command after you made a symlink
          in ordre to tell Karabiner-Elements that the parent directory is changed.
        </p>

        <div class="pre-shell">
          <pre>{{#strip_indented_lines}}
            |$ launchctl kickstart -k gui/`id -u`/org.pqrs.karabiner.karabiner_console_user_server
          {{/strip_indented_lines}}</pre>
        </div>

        <div class="alert alert-warning">
          Do not make a symlink to <b>karabiner.json</b>.<br />
          Karabiner-Elements does not reload the configuration file properly if you make a symlink to json file directly.
        </div>
      </section>

      <section>
        <div class="page-header">
          <h1 id="security">
            Security
          </h1>
        </div>
        <p>
          Preventing event leaks is one of the most important point of Karabiner-Elements architecture design.
        </p>
        <p>
          Karabiner-Elements treats all input events in privileged process which is named <b>karabiner_grabber</b> in order to guard input events from other processes.<br />
          There is no way that malicious processes steal your input events from Karabiner-Elements.
        </p>

        <h2>Components</h2>

        <p>
          Karabiner-Elements works with the following core components.
        </p>

        <table class="table table-striped">
          <tbody>
            <tr>
              <th>
                <b>karabiner_grabber</b> process
              </th>
              <td>
                <ul>
                  <li>Privileged process.</li>
                  <li>Grab the keyboard hardware and catch events, modify events then post it to virtual devices.</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>
                <b>karabiner_console_user_server</b> process
              </th>
              <td>
                <ul>
                  <li>Session user process.</li>
                  <li>karabiner_grabber grabs keyboards while karabiner_console_user_server is running.</li>
                  <li>Shell command is executed in this process.</li>
                  <li>Connect to karabiner_grabber via unix domain socket.</li>
                </ul>
              </td>
            </tr>
            <th>
              <b>Karabiner VirtualHIDDevice</b> kernel extension
            </th>
            <td>
              <ul>
                <li>Virtual keyboard and pointing device.</li>
                <li>
                  Non privileged process is forbidden to post events to virtual device.<br />
                  (Only the <b>karabiner_grabber</b> process can post events.
                </li>
              </ul>
            </td>
            </tr>
          </tbody>
        </table>
      </section>

    </div>
    <div class="col-md-3">
      {{> ../../pqrs_tabs }}
    </div>
  </div>
</div>
