<div class="container">
  <header>
    <div class="page-header">
      <h1>
        Q&amp;A
      </h1>
    </div>
  </header>

  <div class="row">
    <div class="col-md-9 pqrs-docs-container">
      <section>
        <div class="page-header">
          <h1 id="general">General</h1>
        </div>

        <h2>
          {{#language_en}}
            Karabiner does not work completely. What should I do?
          {{/language_en}}
          {{#language_ja}}
            Karabinerが全く動作しません。どうすれば良いですか？
          {{/language_ja}}
        </h2>
        <p>
          {{#language_en}}
            Please try the following procedures.
          {{/language_en}}
          {{#language_ja}}
            Karabinerが全く動作しない場合は、以下の手順を行ってみてください。
          {{/language_ja}}
        </p>
        <ol>
          <li>
            {{#language_en}}
              <a target="_blank" href="http://support.apple.com/kb/HT1452">Repair permissions by Disk Utility.</a>
            {{/language_en}}
            {{#language_ja}}
              <a target="_blank" href="http://support.apple.com/kb/HT1452?viewlocale=ja_JP">「ディスクユーティリティ」で「アクセス権の修復」をします。</a>
            {{/language_ja}}
          </li>
          <li>
            {{#language_en}}
              Uninstall third vendor's keyboard drivers such as a keyboard driver of Microsoft if you've installed them.
            {{/language_en}}
            {{#language_ja}}
              Microsoftのキーボードドライバなど、他社製のドライバをインストールしている場合はアンインストールします。
            {{/language_ja}}
          </li>
          <li>
            {{#language_en}}
              Reinstall Karabiner.
            {{/language_en}}
            {{#language_ja}}
              Karabinerを再インストールします。
            {{/language_ja}}
          </li>
          <li>
            {{#language_en}}
              Restart OS X.
            {{/language_en}}
            {{#language_ja}}
              再起動してください。
            {{/language_ja}}
          </li>
          <li>
            <a href="document.html.{{ language }}">
              {{#language_en}}
                Launch Karabiner manually.
              {{/language_en}}
              {{#language_ja}}
                Karabinerを手動で起動してみてください。
              {{/language_ja}}
            </a>
          </li>
          <li>
            {{#language_en}}
              Please contact <a href="contact.html.en">me</a> with log messages (see below steps) if your problem has not resolved by above procedures.
            {{/language_en}}
            {{#language_ja}}
              上記の手順を行っても動かない場合は下記のログメッセージを添えて<a href="contact.html.ja">ご連絡</a>ください。
            {{/language_ja}}
          </li>
        </ol>

        <h3 id="console">
          {{#language_en}}
            How to check the log message
          {{/language_en}}
          {{#language_ja}}
            ログメッセージの確認方法
          {{/language_ja}}
        </h3>
        <ol class="steps">
          <li>
            <p>
              {{#language_en}}
                Launch Console app from the "Launch Console.app" button.
              {{/language_en}}
              {{#language_ja}}
                コンソールアプリを「Launch Console.app」ボタンから起動してください。
              {{/language_ja}}
            </p>

            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/karabiner-console@2x.png Launch Console.app
                {{/lightbox}}
              </div>
            </div>
          </li>
          <li>
            {{#language_en}}
              You can see system log messages.<br />
              Please select lines and then copy and paste them.
            {{/language_en}}
            {{#language_ja}}
              ログメッセージを確認できます。<br />
              行を選択して、コピー＆ペーストしてください。
            {{/language_ja}}

            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/console@2x.png Console
                {{/lightbox}}
              </div>
            </div>
          </li>
        </ol>

        <h2 id="vendor">
          {{#language_en}}
            Karabiner does not work on keyboards of Logitech, Microsoft. What should I do?
          {{/language_en}}
          {{#language_ja}}
            LogicoolやMicrosoftのキーボードで動作しません。どうすれば良いですか？
          {{/language_ja}}
        </h2>
        <p>
          {{#language_en}}
            If you are using third vendor's keyboard drivers, Karabiner may not work properly.
            <br />
            Please uninstall third vendor's keyboard drivers.
          {{/language_en}}
          {{#language_ja}}
            LogicoolやMicrosoftなどの一部のキーボードにおいて、独自のデバイスドライバがインストールされていると動作しないことがあります。
            <br />
            その場合は一度、サードパーティ製のデバイスドライバをアンインストールしてください。
          {{/language_ja}}
        </p>

        <h2 id="rollover">
          {{#language_en}}
            A combination of "left command key" + "right command key" + "n key" does not work. Why?
          {{/language_en}}
          {{#language_ja}}
            「左コマンドキー+右コマンドキー+nキー」の組み合わせが動きません。なぜですか？
          {{/language_ja}}
        </h2>
        <p>
          {{#language_en}}
            Apple keyboard is <a href="http://en.wikipedia.org/wiki/Rollover_(key)" target="_blank">2-key rollover</a> in order to reduce the cost.<br />
            Therefore, the keyboard hardware cannot recognize some key combinations of 3 or more keys.
          {{/language_en}}
          {{#language_ja}}
            Appleのキーボードはコストを削減するため、<a href="http://ja.wikipedia.org/wiki/N%E3%82%AD%E3%83%BC%E3%83%AD%E3%83%BC%E3%83%AB%E3%82%AA%E3%83%BC%E3%83%90%E3%83%BC" target="_blank">2キーロールオーバー</a>になっています。<br />
            そのため、3キー以上のキーの組み合わせはハードウェア的に認識できないことがあります。
          {{/language_ja}}
        </p>
        <p>
          {{#language_en}}
            A combination of "left command key" + "right command key" + "n key" is one of them.
          {{/language_en}}
          {{#language_ja}}
            「左コマンドキー+右コマンドキー+nキー」の組み合わせはその一つです。
          {{/language_ja}}
        </p>
        <p>
          {{#language_en}}
            This is a limitation of the hardware, so we cannot use these key combinations.
            Please use other key combinations.
          {{/language_en}}
          {{#language_ja}}
            これはハードウェアの制限ですので、これらのキーの組み合わせを使用することはできません。
            他のキーの組み合わせを使ってください。
          {{/language_ja}}
        </p>
      </section>

      <section>
        <div class="page-header">
          <h1 id="trackpad">Trackpad</h1>
        </div>
        <h2>
          {{#language_en}}
            Swipe gesture in Safari does not work properly when I activated "simultaneous key presses remapping".
            What should I do?
          {{/language_en}}
          {{#language_ja}}
            「キーの同時押しのリマッピング」を有効にしているとSafariでのスワイプが動作しません。どうすれば良いですか？
          {{/language_ja}}
        </h2>
        <p>
          {{#language_en}}
            Please activate "General &gt; Don't remap Apple's pointing devices".
          {{/language_en}}
          {{#language_ja}}
            「General &gt; Don't remap Apple's pointing devices」の設定を有効にしてください。
          {{/language_ja}}
        </p>
        <p>
          {{#language_en}}
            "Simultaneous key presses remapping" brings a delay into keyboard and pointing device events to detect simultaneous presses.
            And this delay breaks some gestures unfortunately.
          {{/language_en}}
          {{#language_ja}}
            「キーの同時押しのリマッピング」は同時押しを検出するために、キーボードやポインティングデバイスのイベントに対して遅延をもたらします。残念ながら、この遅延はいくつかのジェスチャーを動かなくさせます。
          {{/language_ja}}
        </p>
        <p>
          {{#language_en}}
            This setting disables a delay of pointing device events and solves this gesture issue.
          {{/language_en}}
          {{#language_ja}}
            この設定はポインティングデバイスのイベントへの遅延を無効にして、ジェスチャーの問題を解決します。
          {{/language_ja}}
        </p>
      </section>

      <section>
        <div class="page-header">
          <h1 id="capslock">caps lock key</h1>
        </div>

        <h2 id="exchange-caps-lock-and-delete">
          {{#language_en}}
            How to exchange caps lock key and delete key?
          {{/language_en}}
          {{#language_ja}}
            caps lockキーとdeleteキーを交換するには？
          {{/language_ja}}
        </h2>
        <p>
          {{#language_en}}
            You need to use <a href="seil.html.en">Seil</a> to change the behavior of caps lock key.
          {{/language_en}}
          {{#language_ja}}
            caps lockキーの動作を変更するには<a href="seil.html.ja">Seil</a>を使います。
          {{/language_ja}}
        </p>
        <p>
          {{#language_en}}
            If you want to exchange caps lock key and other key, you must have a knack. Please follow this steps.
          {{/language_en}}
          {{#language_ja}}
            また、caps lockキーと特定のキーを交換するには以下の手順が必要です。
          {{/language_ja}}
        </p>
        <ol class="steps">
          <li>
            {{#language_en}}
              Install
              <a href="index.html.{{ language }}">Karabiner</a>
              and
              <a href="seil.html.{{ language }}">Seil</a>.
            {{/language_en}}
            {{#language_ja}}
              <a href="index.html.{{ language }}">Karabiner</a>と<a href="seil.html.{{ language }}">Seil</a>をインストールします。
            {{/language_ja}}
          </li>
          <li>
            {{#language_en}}
              Change keycode of caps lock to 110 on Seil.
            {{/language_en}}
            {{#language_ja}}
              Seilでcaps lockのキーコードを110に変更します。
            {{/language_ja}}
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/swap_caps_and_delete_1@2x.png Seil
                {{/lightbox}}
              </div>
            </div>
          </li>
          <li>
            {{#language_en}}
              Open "System Preferences &gt; Keyboard &gt; Modifier Keys..." and change caps lock configuration to "No Action".
            {{/language_en}}
            {{#language_ja}}
              システム環境設定の「キーボード」から「修飾キー」ボタンを押してcaps lockの動作を「アクションなし」に変更します。
            {{/language_ja}}
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/capslock@2x.png caps lock
                {{/lightbox}}
              </div>
            </div>
          </li>
          <li>
            {{#language_en}}
              Activate "Application Key to Delete" on Karabiner.
            {{/language_en}}
            {{#language_ja}}
              Karabinerで「Application Key to Delete」を有効にします。
            {{/language_ja}}
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/swap_caps_and_delete_2@2x.png Application Key to Delete
                {{/lightbox}}
              </div>
            </div>
          </li>
          <li>
            {{#language_en}}
              Activate "Delete to CapsLock" on Karabiner.
            {{/language_en}}
            {{#language_ja}}
              Karabinerで「Delete to CapsLock」を有効にします。
            {{/language_ja}}
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/swap_caps_and_delete_3@2x.png Delete to CapsLock
                {{/lightbox}}
              </div>
            </div>
          </li>
        </ol>

        <h2 id="exchange-caps-lock-and-escape">
          {{#language_en}}
            How to exchange caps lock key and escape key?
          {{/language_en}}
          {{#language_ja}}
            caps lockキーとescapeキーを交換するには？
          {{/language_ja}}
        </h2>
        <p>
          {{#language_en}}
            Basically, it is same as the above procedure. Please note the following points.
          {{/language_en}}
          {{#language_ja}}
            基本的には上の手順と同じです。以下の点に注意してください。
          {{/language_ja}}
        </p>
        <ol class="steps">
          <li>
            {{#language_en}}
              Do not change the key code of caps lock on Seil. Keep 110.
            {{/language_en}}
            {{#language_ja}}
              Seilで指定するcaps lockのキーコードは110のままにしてください。
            {{/language_ja}}
          </li>
          <li>
            {{#language_en}}
              You need "No Action" configuration.
            {{/language_en}}
            {{#language_ja}}
              「アクションなし」の設定は行う必要があります。
            {{/language_ja}}
          </li>
          <li>
            {{#language_en}}
              Change "Application Key to Delete" to "Application Key to Escape".
            {{/language_en}}
            {{#language_ja}}
              「Application Key to Delete」は「Application Key to Escape」に変更してください。
            {{/language_ja}}
          </li>
          <li>
            {{#language_en}}
              Change "Delete to CapsLock" to "Escape to CapsLock".
            {{/language_en}}
            {{#language_ja}}
              「Delete to CapsLock」は「Escape to CapsLock」に変更してください。
            {{/language_ja}}
          </li>
        </ol>

        <h2 id="exchange-caps-lock-and-left-control">
          {{#language_en}}
            How do I swap Caps Lock with Left Control, retaining Right Control?
          {{/language_en}}
          {{#language_ja}}
            右コントロールキーを変更せずに、Caps Lockと左コントロールキーを変更するには？
          {{/language_ja}}
        </h2>
        <p>
          {{#language_en}}
            Basically, it is same as the above procedure.
          {{/language_en}}
          {{#language_ja}}
            基本的には上の手順と同じです。
          {{/language_ja}}
        </p>
        <ol class="steps">
          <li>
            {{#language_en}}
              Install
              <a href="index.html.{{ language }}">Karabiner</a>
              and
              <a href="seil.html.{{ language }}">Seil</a>.
            {{/language_en}}
            {{#language_ja}}
              <a href="index.html.{{ language }}">Karabiner</a>と<a href="seil.html.{{ language }}">Seil</a>をインストールします。
            {{/language_ja}}
          </li>
          <li>
            {{#language_en}}
              Change keycode of caps lock to 59 (left control) on Seil.
            {{/language_en}}
            {{#language_ja}}
              Seilでcaps lockのキーコードは59にしてください。
            {{/language_ja}}
          </li>
          <li>
            {{#language_en}}
              Change keycode of Control_L to 110 (application key) on Seil.
            {{/language_en}}
            {{#language_ja}}
              SeilでControl_Lのキーコードを110にしてください。
            {{/language_ja}}
          </li>
          <li>
            {{#language_en}}
              Open "System Preferences &gt; Keyboard &gt; Modifier Keys..." and change caps lock configuration to "No Action”.
            {{/language_en}}
            {{#language_ja}}
              システム環境設定の「キーボード」から「修飾キー」ボタンを押してcaps lockの動作を「アクションなし」に変更します。
            {{/language_ja}}
          </li>
          <li>
            {{#language_en}}
              Activate "Application Key to CapsLock" on Karabiner.
            {{/language_en}}
            {{#language_ja}}
              Karabinerで「Application Key to CapsLock」 to Escape」を有効にします。
            {{/language_ja}}
          </li>
          <li>
            {{#language_en}}
              (Optional, but useful for macbook keyboards lacking right control key): Activate Fn+Control_L to Control_R on Karabiner.
            {{/language_en}}
            {{#language_ja}}
              必要であれば、Karabinerで「Fn+Control_L to Control_R」を有効にします。（右コントロールキーがないMacBookのキーボードで便利です）
            {{/language_ja}}
          </li>
        </ol>
      </section>

      <section>
        <div class="page-header">
          <h1 id="fn">fn key</h1>
        </div>

        <h2>
          {{#language_en}}
            "XXX to Fn" doesn't work. What should I do?
          {{/language_en}}
          {{#language_ja}}
            "XXX to Fn" が動作しません。どうすれば良いですか？
          {{/language_ja}}
        </h2>
        <p>
          {{#language_en}}
            "XXX to Fn" affects the following keys by default.
          {{/language_en}}
          {{#language_ja}}
            "XXX to Fn"は標準では以下のキーに対して有効になります。
          {{/language_ja}}
        </p>
        <ul>
          <li>fn+cursor (home, end, page up, page down)</li>
          <li>fn+delete (forward delete)</li>
          <li>fn+return (enter)</li>
          <li>fn+jkl... (Keypad)</li>
        </ul>
        <div class="row">
          <div class="col-lg-4">
            <p>
              {{#language_en}}
                If you want to use Fn+F1,...,Fn+F12 as Function keys, activate "Fn+Functional Keys to F1..F12".
              {{/language_en}}
              {{#language_ja}}
                Fn+F1,...,Fn+F12をファンクションキーとして使いたい場合は、"Fn+Functional Keys to F1..F12"を有効にしてください。
              {{/language_ja}}
            </p>
          </div>
          <div class="col-lg-4">
            {{#lightbox}}
              img/fnfunc1@2x.png fnfunc
            {{/lightbox}}
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-lg-4">
            <p>
              {{#language_en}}
                If you are using F1 - F12 as standard function keys, activate "Fn+F1 to Brightness Down" instead.
              {{/language_en}}
              {{#language_ja}}
                もし、あなたがF1-F12をファンクションキーとして使っている場合は、上記の代わりに"Fn+F1 to Brightness Down"を有効にしてください。
              {{/language_ja}}
            </p>
          </div>
          <div class="col-lg-4">
            {{#lightbox}}
              img/fnfunc@2x.png fnfunc
            {{/lightbox}}
          </div>
        </div>

        <h2 id="fn-logitech">
          {{#language_en}}
            "Fn to XXX" doesn't work on Logitech keyboard. What should I do?
          {{/language_en}}
          {{#language_ja}}
            "Fn to XXX"がLogicoolのキーボードで動作しません。どうすれば良いですか？
          {{/language_ja}}
        </h2>
        <p>
          {{#language_en}}
            It's known that fn key on some Logitech keyboards does not generate key events.<br />
            (fn key is completely sealed into hardware.)
          {{/language_en}}
          {{#language_ja}}
            いくつかのLogicoolのキーボードのfnキーはキーイベントを発生しません。<br />
            （fnキーの処理はハードウェア内部で完結しています）
          {{/language_ja}}
        </p>
        <p>
          {{#language_en}}
            Please confirm whether <a href="document.html.{{ language }}#eventviewer">event viewer</a> reacts with pressing fn key.
          {{/language_en}}
          {{#language_ja}}
            <a href="document.html.{{ language }}#eventviewer">イベントビューア</a>でfnキーが反応するかどうか確認してください。
          {{/language_ja}}
        </p>
        <p>
          {{#language_en}}
            If fn key events are shown, we can change fn key.<br />
            But if not, unfortunately, Karabiner cannot change fn key on your Logitech keyboard.
          {{/language_en}}
          {{#language_ja}}
            もしfnキーのイベントが表示された場合fnキーを変更することが出来ますが、そうでない場合は残念ながらKarabinerではあなたのLogicoolキーボードのfnキーを変更することが出来ません。
          {{/language_ja}}
        </p>
      </section>

      <section>
        <div class="page-header">
          <h1 id="eject">eject key</h1>
        </div>

        <h2>
          {{#language_en}}
            Eject key can not be changed properly. What should I do?
          {{/language_en}}
          {{#language_ja}}
            ejectキーが変更できません。どうすれば良いですか？
          {{/language_ja}}
        </h2>
        <p>
          {{#language_en}}
            You need to use <a href="noejectdelay.html.en">NoEjectDelay</a> together.
          {{/language_en}}
          {{#language_ja}}
            <a href="noejectdelay.html.ja">NoEjectDelay</a>を一緒に使う必要があります。
          {{/language_ja}}
        </p>

        <h2 id="eject-repeat">
          {{#language_en}}
            I've changed eject key to forward delete key. However, this key does not repeat. What should I do?
          {{/language_en}}
          {{#language_ja}}
            ejectキーをforward deleteキーに変更しましたが、キーリピートしません。どうすれば良いですか？
          {{/language_ja}}
        </h2>
        <p>
          {{#language_en}}
            Unlike the other keys, eject key does not support key repeat.
            <br />
            Unfortunately we cannot add the key repeat feature for the eject key by the limit of the kernel of OS X.
          {{/language_en}}
          {{#language_ja}}
            例外的にejectキーだけはキーリピートに対応していません。
            <br />
            残念ながら、これはOS Xのカーネルの制限のため、キーリピートに対応することが出来ません。
          {{/language_ja}}
        </p>
        <p>
          {{#language_en}}
            All other keys support key repeat.
            <br />
            Please use "Shift_R to Forward Delete", "F12 to Forward Delete" or others if needed.
          {{/language_en}}
          {{#language_ja}}
            他の全てのキーはリピートに対応していますので、必要に応じて
            「Shift_R to Forward Delete」や「F12 to Forward Delete」などをお使いください。
          {{/language_ja}}
        </p>
      </section>

      <section>
        <div class="page-header">
          <h1 id="power">power key</h1>
        </div>

        <h2>
          {{#language_en}}
            Can I change the behavior of the power button on MacBook?
          {{/language_en}}
          {{#language_ja}}
            電源ボタンの動作を変更することは出来ますか？
          {{/language_ja}}
        </h2>
        <p>
          {{#language_en}}
            Karabiner cannot change the power button behavior because there is not stable way to do it.
          {{/language_en}}
          {{#language_ja}}
            電源ボタンの挙動を変更するための確実な手法がないため、Karabinerでは電源ボタンの動作を変更することは出来ません。
          {{/language_ja}}
        </p>
      </section>

      <section>
        <div class="page-header">
          <h1 id="shift">
            {{#language_en}}
              shift key
            {{/language_en}}
            {{#language_ja}}
              シフトキー
            {{/language_ja}}
          </h1>
        </div>

        <h2>
          {{#language_en}}
            I dropped something on my keyboard that caused the shift key to be held down permanently due to physical damage.
            What should I do?
          {{/language_en}}
          {{#language_ja}}
            キーボードに何かをこぼして、シフトキーが押しっぱなしになってしまいました。どうすれば良いですか？
          {{/language_ja}}
        </h2>
        <p>
          {{#language_en}}
            In this case, OS X will be <a href="http://support.apple.com/kb/ht1455" target="_blank">Safe Mode</a> at boot.<br />
            You need to boot OS X as normal mode because Karabiner does not work in Safe Mode.<br />
          {{/language_en}}
          {{#language_ja}}
            この場合、OS Xは<a href="http://support.apple.com/kb/ht1455" target="_blank">セーフモード</a>で起動します。<br />
            Karabinerはセーフモードでは動作しないので、通常モードで起動させる必要があります。
          {{/language_ja}}
        </p>
        <ol class="steps">
          <li>
            {{#language_en}}
              Hold control key at boot to avoid Safe Mode.
            {{/language_en}}
            {{#language_ja}}
              セーフモードを避けるため、起動時にコントロールキーを押しっぱなしにします。
            {{/language_ja}}
          </li>
          <li>
            {{#language_en}}
              Then, enable "Disable Shift_L" or "Disable Shift_R" on Karabiner Preferences.
            {{/language_en}}
            {{#language_ja}}
              そうしたら、Karabinerの設定画面から「Disable Shift_L」や「Disable Shift_R」を有効にします。
            {{/language_ja}}
          </li>
        </ol>

        <div class="alert alert-info" role="alert">
          <h4>Important</h4>

          <p>
            {{#language_en}}
              You need some operations even after you have configured Karabiner.
            {{/language_en}}
            {{#language_ja}}
              この設定を行った後も、いくつかの操作が必要になります。
            {{/language_ja}}
          </p>
          <br />

          <ol>
            <li>
              {{#language_en}}
                You need to hold the control key at boot every time even after you have configured Karabiner.
              {{/language_en}}
              {{#language_ja}}
                Karabinerを設定した後も、毎回起動時にコントロールキーを押しっぱなしにする必要があります。
              {{/language_ja}}
            </li>
            <li>
              {{#language_en}}
                OS X does not launch application automatically when the shift key is pressed when you log in. <br />
                You have to open Karabiner every time when you logged in due to this OS X restriction.
              {{/language_en}}
              {{#language_ja}}
                ログイン時にシフトキーが押されている場合、OS Xはログイン時のアプリケーションの自動起動を行いません。<br />
                この制限のため、ログイン後にKarabinerを手動で実行する必要があります。
              {{/language_ja}}
            </li>
          </ol>
        </div>

        <h3>
          {{#language_en}}
            An alternative
          {{/language_en}}
          {{#language_ja}}
            他の方法
          {{/language_ja}}
        </h3>
        <p>
          {{#language_en}}
            You can also avoid Safe Mode by setting a firmware password.
          {{/language_en}}
          {{#language_ja}}
            もしくは、ファームウェアパスワードを設定することでセーフモードを回避することが出来ます。
          {{/language_ja}}
        </p>

        <section>
          <div class="page-header">
            <h1 id="unicode-hex-input">Unicode hex input</h1>
          </div>

          <p>
            {{#language_en}}
              This section has been moved into <a href="xml.html#unicode-hex-input">private.xml Reference Manual.</a>
            {{/language_en}}
            {{#language_ja}}
              この内容は<a href="xml.html#unicode-hex-input">private.xml Reference Manual</a>に移動しました。
            {{/language_ja}}
          </p>
        </section>

      </section>

    </div>
    <div class="col-md-3">
      {{> ../../pqrs_tabs }}
    </div>
  </div>
</div>
