<div class="alert alert-danger" role="alert" id="page-top-fixed-alert">
  It is a document for the previous version.<br />
  (For Karabiner-10.22.0)
</div>

<div class="container">
  <header>
    <div class="page-header">
      <h1>
        Q&amp;A
      </h1>
    </div>
  </header>

  <div class="row">
    <div class="col-md-9 pqrs-docs-container">
      <section>
        <div class="page-header">
          <h1 id="general">General</h1>
        </div>

        <h2>
          Karabiner does not work completely. What should I do?
        </h2>
        <p>
          Please try the following procedures.
        </p>
        <ol>
          <li>
            <a target="_blank" href="http://support.apple.com/kb/HT1452">Repair permissions by Disk Utility.</a>
          </li>
          <li>
            Uninstall third vendor's keyboard drivers such as a keyboard driver of Microsoft if you've installed them.
          </li>
          <li>
            Reinstall Karabiner.
          </li>
          <li>
            Restart OS X.
          </li>
          <li>
            <a href="document_v10.html">
              Launch Karabiner manually.
            </a>
          </li>
          <li>
            Please contact <a href="contact.html">me</a> with log messages (see below steps) if your problem has not resolved by above procedures.
          </li>
        </ol>

        <h3 id="console">
          How to check the log message
        </h3>
        <ol class="steps">
          <li>
            <p>
              Launch Console app from the "Launch Console.app" button.
            </p>

            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/v10/karabiner-console@2x.png Launch Console.app
                {{/lightbox}}
              </div>
            </div>
          </li>
          <li>
            You can see system log messages.<br />
            Please select lines and then copy and paste them.

            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/v10/console@2x.png Console
                {{/lightbox}}
              </div>
            </div>
          </li>
        </ol>

        <h2 id="vendor">
          Karabiner does not work on keyboards of Logitech, Microsoft. What should I do?
        </h2>
        <p>
          If you are using third vendor's keyboard drivers, Karabiner may not work properly.
          <br />
          Please uninstall third vendor's keyboard drivers.
        </p>

        <h2 id="rollover">
          A combination of "left command key" + "right command key" + "n key" does not work. Why?
        </h2>
        <p>
          Apple keyboard is <a href="http://en.wikipedia.org/wiki/Rollover_(key)" target="_blank">2-key rollover</a> in order to reduce the cost.<br />
          Therefore, the keyboard hardware cannot recognize some key combinations of 3 or more keys.
        </p>
        <p>
          A combination of "left command key" + "right command key" + "n key" is one of them.
        </p>
        <p>
          This is a limitation of the hardware, so we cannot use these key combinations.
          Please use other key combinations.
        </p>
      </section>

      <section>
        <div class="page-header">
          <h1 id="trackpad">Trackpad</h1>
        </div>
        <h2>
          Swipe gesture in Safari does not work properly when I activated "simultaneous key presses remapping".
          What should I do?
        </h2>
        <p>
          Please activate "General &gt; Don't remap Apple's pointing devices".
        </p>
        <p>
          "Simultaneous key presses remapping" brings a delay into keyboard and pointing device events to detect simultaneous presses.
          And this delay breaks some gestures unfortunately.
        </p>
        <p>
          This setting disables a delay of pointing device events and solves this gesture issue.
        </p>
      </section>

      <section>
        <div class="page-header">
          <h1 id="capslock">caps lock key</h1>
        </div>

        <h2 id="exchange-caps-lock-and-delete">
          How to exchange caps lock key and delete key?
        </h2>
        <p>
          You need to use <a href="seil.html">Seil</a> to change the behavior of caps lock key.
        </p>
        <p>
          If you want to exchange caps lock key and other key, you must have a knack. Please follow this steps.
        </p>
        <ol class="steps">
          <li>
            Install
            <a href="index.html">Karabiner</a>
            and
            <a href="seil.html">Seil</a>.
          </li>
          <li>
            Change keycode of caps lock to 110 on Seil.
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/v10/swap_caps_and_delete_1@2x.png Seil
                {{/lightbox}}
              </div>
            </div>
          </li>
          <li>
            Open "System Preferences &gt; Keyboard &gt; Modifier Keys..." and change caps lock configuration to "No Action".
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/v10/capslock@2x.png caps lock
                {{/lightbox}}
              </div>
            </div>
          </li>
          <li>
            Activate "Application Key to Delete" on Karabiner.
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/v10/swap_caps_and_delete_2@2x.png Application Key to Delete
                {{/lightbox}}
              </div>
            </div>
          </li>
          <li>
            Activate "Delete to CapsLock" on Karabiner.
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/v10/swap_caps_and_delete_3@2x.png Delete to CapsLock
                {{/lightbox}}
              </div>
            </div>
          </li>
        </ol>

        <h2 id="exchange-caps-lock-and-escape">
          How to exchange caps lock key and escape key?
        </h2>
        <p>
          Basically, it is same as the above procedure. Please note the following points.
        </p>
        <ol class="steps">
          <li>
            Do not change the key code of caps lock on Seil. Keep 110.
          </li>
          <li>
            You need "No Action" configuration.
          </li>
          <li>
            Change "Application Key to Delete" to "Application Key to Escape".
          </li>
          <li>
            Change "Delete to CapsLock" to "Escape to CapsLock".
          </li>
        </ol>

        <h2 id="exchange-caps-lock-and-left-control">
          How do I swap Caps Lock with Left Control, retaining Right Control?
        </h2>
        <p>
          Basically, it is same as the above procedure.
        </p>
        <ol class="steps">
          <li>
            Install
            <a href="index.html">Karabiner</a>
            and
            <a href="seil.html">Seil</a>.
          </li>
          <li>
            Change keycode of caps lock to 59 (left control) on Seil.
          </li>
          <li>
            Change keycode of Control_L to 110 (application key) on Seil.
          </li>
          <li>
            Open "System Preferences &gt; Keyboard &gt; Modifier Keys..." and change caps lock configuration to "No Action”.
          </li>
          <li>
            Activate "Application Key to CapsLock" on Karabiner.
          </li>
          <li>
            (Optional, but useful for macbook keyboards lacking right control key): Activate Fn+Control_L to Control_R on Karabiner.
          </li>
        </ol>
      </section>

      <section>
        <div class="page-header">
          <h1 id="fn">fn key</h1>
        </div>

        <h2>
          "XXX to Fn" doesn't work. What should I do?
        </h2>
        <p>
          "XXX to Fn" affects the following keys by default.
        </p>
        <ul>
          <li>fn+cursor (home, end, page up, page down)</li>
          <li>fn+delete (forward delete)</li>
          <li>fn+return (enter)</li>
          <li>fn+jkl... (Keypad)</li>
        </ul>
        <div class="row">
          <div class="col-lg-4">
            <p>
              If you want to use Fn+F1,...,Fn+F12 as Function keys, activate "Fn+Functional Keys to F1..F12".
            </p>
          </div>
          <div class="col-lg-4">
            {{#lightbox}}
              img/v10/fnfunc1@2x.png fnfunc
            {{/lightbox}}
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-lg-4">
            <p>
              If you are using F1 - F12 as standard function keys, activate "Fn+F1 to Brightness Down" instead.
            </p>
          </div>
          <div class="col-lg-4">
            {{#lightbox}}
              img/v10/fnfunc@2x.png fnfunc
            {{/lightbox}}
          </div>
        </div>

        <h2 id="fn-logitech">
          "Fn to XXX" doesn't work on Logitech keyboard. What should I do?
        </h2>
        <p>
          It's known that fn key on some Logitech keyboards does not generate key events.<br />
          (fn key is completely sealed into hardware.)
        </p>
        <p>
          Please confirm whether <a href="document_v10.html#eventviewer">event viewer</a> reacts with pressing fn key.
        </p>
        <p>
          If fn key events are shown, we can change fn key.<br />
          But if not, unfortunately, Karabiner cannot change fn key on your Logitech keyboard.
        </p>
      </section>

      <section>
        <div class="page-header">
          <h1 id="eject">eject key</h1>
        </div>

        <h2>
          Eject key can not be changed properly. What should I do?
        </h2>
        <p>
          You need to use <a href="noejectdelay.html">NoEjectDelay</a> together.
        </p>

        <h2 id="eject-repeat">
          I've changed eject key to forward delete key. However, this key does not repeat. What should I do?
        </h2>
        <p>
          Unlike the other keys, eject key does not support key repeat.
          <br />
          Unfortunately we cannot add the key repeat feature for the eject key by the limit of the kernel of OS X.
        </p>
        <p>
          All other keys support key repeat.
          <br />
          Please use "Shift_R to Forward Delete", "F12 to Forward Delete" or others if needed.
        </p>
      </section>

      <section>
        <div class="page-header">
          <h1 id="power">power key</h1>
        </div>

        <h2>
          Can I change the behavior of the power button on MacBook?
        </h2>
        <p>
          Karabiner cannot change the power button behavior because there is not stable way to do it.
        </p>
      </section>

      <section>
        <div class="page-header">
          <h1 id="shift">
            shift key
          </h1>
        </div>

        <h2>
          I dropped something on my keyboard that caused the shift key to be held down permanently due to physical damage.
          What should I do?
        </h2>
        <p>
          In this case, OS X will be <a href="http://support.apple.com/kb/ht1455" target="_blank">Safe Mode</a> at boot.<br />
          You need to boot OS X as normal mode because Karabiner does not work in Safe Mode.<br />
        </p>
        <ol class="steps">
          <li>
            Hold control key at boot to avoid Safe Mode.
          </li>
          <li>
            Then, enable "Disable Shift_L" or "Disable Shift_R" on Karabiner Preferences.
          </li>
        </ol>

        <div class="alert alert-info" role="alert">
          <h4>Important</h4>

          <p>
            You need some operations even after you have configured Karabiner.
          </p>
          <br />

          <ol>
            <li>
              You need to hold the control key at boot every time even after you have configured Karabiner.
            </li>
            <li>
              OS X does not launch application automatically when the shift key is pressed when you log in. <br />
              You have to open Karabiner every time when you logged in due to this OS X restriction.
            </li>
          </ol>
        </div>

        <h3>
          An alternative
        </h3>
        <p>
          You can also avoid Safe Mode by setting a firmware password.
        </p>

        <section>
          <div class="page-header">
            <h1 id="unicode-hex-input">Unicode hex input</h1>
          </div>

          <p>
            This section has been moved into <a href="xml.html#tips-unicode-hex-input">private.xml Reference Manual.</a>
          </p>
        </section>

      </section>

    </div>
    <div class="col-md-3">
      {{> ../../pqrs_tabs }}
    </div>
  </div>
</div>
