<div class="container">
  <header>
    <div class="page-header">
      <h1>
        {{#language_en}}
          Part of useful existing settings
        {{/language_en}}
        {{#language_ja}}
          便利な既存の設定の一例
        {{/language_ja}}
      </h1>
    </div>
  </header>

  <div class="row">
    <div class="col-md-9 pqrs-docs-container">
      <section id="change-either-the-left-or-right-modifier-key">
        <div class="page-header">
          <h1>
            {{#language_en}}
              Change either the left or right modifier key
            {{/language_en}}
            {{#language_ja}}
              左右のいずれかのモディファイアを変更する
            {{/language_ja}}
          </h1>
        </div>

        <p>
          {{#language_en}}
            Standard system Preferences allows you to change modifier keys to other modifier keys such as "command keys to control keys".
          {{/language_en}}
          {{#language_ja}}
            標準のシステム環境設定では、モディファイアの変更をすることが出来ます。<br />
            例えば「コマンドキーをコントロールキーに変更する」など。
          {{/language_ja}}
        </p>

        <p>
          {{#language_en}}
            Karabiner has more flexible settings. <br />
            For example, the following setting changes the left command key to the control key. <br />
            You can use both command and control modifiers by thumb.
          {{/language_en}}
          {{#language_ja}}
            Karabinerではより柔軟な設定を行うことができます。<br />
            例えば、次の設定では左コマンドキーをコントールキーに変更します。<br />
            親指でコマンドキーとコントロールキーを使うことができるようになります。<br />
          {{/language_ja}}
        </p>

        <div class="row">
          <div class="col-lg-4">
            {{#lightbox}}
              img/gallery/left_command_to_control.png Change the left command key to the control key
            {{/lightbox}}
          </div>
        </div>
      </section>

      <section id="use-emacs-key-bindings-everywhere">
        <div class="page-header">
          <h1>
            {{#language_en}}
              Use Emacs key bindings everywhere
            {{/language_en}}
            {{#language_ja}}
              Emacsのキーバインドをどこでも使えるようにする
            {{/language_ja}}
          </h1>
        </div>

        <p>
          {{#language_en}}
            OS X provides Emacs key bindings (control-p, control-n, etc.) in text editing. <br />
            Karabiner enhances these Emacs key bindings and allows you to use them everywhere. (eg: operations in Finder)
          {{/language_en}}
          {{#language_ja}}
            OS Xはテキスト編集時にEmacsキーバインディング（control-p, control-nなど）を提供しています。<br />
            Karabinerはこれらを強化し、どこでもEmacsキーバインディングを使えるようにします。（例えばFinderでの操作など。）
          {{/language_ja}}
        </p>

        <p>
          {{#language_en}}
            Note: <br />
            These settings will be disabled in Emacs, Terminal or other apps that has native Emacs key bindings support. <br />
            You can use native functions in these apps even if you enabled these Emacs Mode settings.
          {{/language_en}}
          {{#language_ja}}
            注意: <br />
            これらの設定はEmacsやターミナルなどのEmacsキーバインディングを元々サポートしているアプリでは無効化されます。<br />
            Emacs Modeが有効であっても、アプリ内のネイティブ機能を使うことができます。
          {{/language_ja}}
        </p>

        <div class="row">
          <div class="col-lg-4">
            {{#lightbox}}
              img/gallery/emacs_mode.png Emacs Mode
            {{/lightbox}}
          </div>
        </div>
      </section>

      <section id="avoid-unintended-command-q">
        <div class="page-header">
          <h1>
            {{#language_en}}
              Avoid unintended Command-Q
            {{/language_en}}
            {{#language_ja}}
              意図しないCommand-Qを防ぐ
            {{/language_ja}}
          </h1>
        </div>

        <p>
          {{#language_en}}
            Unintended Command-Q sometimes happens when you want to type Command-W because Command-W and Command-Q keys are too close. <br />
            This setting requires typing Command-Q twice in order to avoid unintended Command-Q.
          {{/language_en}}
          {{#language_ja}}
            Command-WとCommand-Qキーは近すぎるため、Command-Wを押そうとした時に意図せずCommand-Qを押してしまうことがあります。 <br />
            この設定は、意図しないCommand-Qを避けるため、Command-Qを二度押しすることでアプリを終了するようにします。
          {{/language_ja}}
        </p>

        <div class="row">
          <div class="col-lg-4">
            {{#lightbox}}
              img/gallery/avoid_unintended_command_q.png Press Command+Q twice to Quit Application
            {{/lightbox}}
          </div>
        </div>
      </section>

      <section id="simple-vi-mode-v2">
        <div class="page-header">
          <h1>Simple Vi Mode v2</h1>
        </div>

        <p>
          {{#language_en}}
            You can use the hjkl keys as the arrow keys. (hjkl == left,down,up,right) <br />
            (The hjkl keys will be changed to the arrow keys while you are pressing S key.)
          {{/language_en}}
          {{#language_ja}}
            hjklキーをカーソルキーとして使うことができます。（hjkl == 左、下、上、右）<br />
            （Sキーを押している間、hjklキーはカーソルキーになります。）
          {{/language_ja}}
        </p>

        <p>
          {{#language_en}}
            This settings allows you to use arrow keys with keeping your fingers on the home row of keyboard.
          {{/language_en}}
          {{#language_ja}}
            この設定は、ホームポジションに指を置いたまま、カーソルキーを使うことを可能にします。
          {{/language_ja}}
        </p>

        <div class="row">
          <div class="col-lg-4">
            {{#lightbox}}
              img/gallery/simple_vi_mode_v2.png Mouse Keys Mode v2
            {{/lightbox}}
          </div>
        </div>
      </section>

      <section id="mouse-keys-mode-v2">
        <div class="page-header">
          <h1>Mouse Keys Mode v2</h1>
        </div>

        <p>
          {{#language_en}}
            You can control pointer cursor and scroll wheel from keyboard.
          {{/language_en}}
          {{#language_ja}}
            キーボードからマウスを操作できます。
          {{/language_ja}}
        </p>

        <p>
          {{#language_en}}
            We recommend to use "Mouse Keys scroll direction: natural" together.
          {{/language_en}}
          {{#language_ja}}
            同時に「Mouse Keys scroll direction: natural」も使用することをオススメします。
          {{/language_ja}}
        </p>

        <div class="row">
          <div class="col-lg-4">
            {{#lightbox}}
              img/gallery/mouse_keys_mode_v2.png Mouse Keys Mode v2
            {{/lightbox}}
          </div>
        </div>
      </section>

      <section id="operate-finder-by-hjkl-keys">
        <div class="page-header">
          <h1>
            {{#language_en}}
              Operate Finder by hjkl keys
            {{/language_en}}
            {{#language_ja}}
              hjklキーでFinderを操作する
            {{/language_ja}}
          </h1>
        </div>

        <p>
          {{#language_en}}
            This setting allows you to operate Finder by hjkl keys. <br />
            Unlike other Vi Mode, you don't need to press modifier keys.
          {{/language_en}}
          {{#language_ja}}
            hjklでFinderを操作することができます。 <br />
            他のVi Modeと違い、モディファイアなどを押している必要がなく、素のhjklキーがカーソルキーとして動作します。
          {{/language_ja}}
        </p>

        <div class="row">
          <div class="col-lg-4">
            {{#lightbox}}
              img/gallery/operate_finder_by_hjkl_keys.png Use hjkl keys as arrow keys if you are not editing text.
            {{/lightbox}}
          </div>
        </div>
      </section>

      <section id="launcher-mode-v2">
        <div class="page-header">
          <h1>Launcher Mode v2</h1>
        </div>

        <p>
          {{#language_en}}
            You can switch apps directly by Launcher Mode v2. <br />
            It's more efficient than command-tab. You don't have to choose apps from list.
          {{/language_en}}
          {{#language_ja}}
            Launcher Mode v2ではアプリを直接切り替えることができます。<br />
            これはcommand-tabよりも効率的です。一覧からアプリを選択する必要がありません。
          {{/language_ja}}
        </p>

        <p>
          {{#language_en}}
            For example: <br/>
            If you want to open Mail, type M key while pressing O key. <br />
            If you want to open Safari, type S key while pressing O key. <br />
            Thus, you can open apps by type key while pressing O key.
          {{/language_en}}
          {{#language_ja}}
            例えば、メールを開く場合はOキーを押しながらMキーを押します。<br />
            Safariを開く場合はOキーを押しながらSキーを押します。<br />
            このように、Oキーを押しながらキーを押すことでアプリを開くことができます。
          {{/language_ja}}
        </p>

        <div class="row">
          <div class="col-lg-4">
            {{#lightbox}}
              img/gallery/launcher_mode_v2.png Launcher Mode v2
            {{/lightbox}}
          </div>
        </div>

        <p>
          {{#language_en}}
            And you can modify Launcher Mode v2 by private.xml. <br />
            For example, this private.xml adds following shortcuts.
          {{/language_en}}
          {{#language_ja}}
            そしてprivate.xmlでLauncher Mode v2を拡張することができます。 <br />
            例えば、以下のprivate.xmlで以下のショートカットが追加されます。
          {{/language_ja}}
        </p>
        <ul>
          <li>
            {{#language_en}}
              Open Maps by C key while pressing O key.
            {{/language_en}}
            {{#language_ja}}
              Oキーを押しながらCキーを押すとマップを開く。
            {{/language_ja}}
          </li>
          <li>
            {{#language_en}}
              Open FaceTime by V key while pressing O key.
            {{/language_en}}
            {{#language_ja}}
              Oキーを押しながらVキーを押すとFaceTimeを開く。
            {{/language_ja}}
          </li>
        </ul>

        {{#indented_xml}}
          |<?xml version="1.0"?>
          |<root>
          |
          |  <vkopenurldef>
          |    <name>KeyCode::VK_OPEN_URL_APP_Maps</name>
          |    <url type="file">/Applications/Maps.app</url>
          |  </vkopenurldef>
          |
          |  <vkopenurldef>
          |    <name>KeyCode::VK_OPEN_URL_APP_FaceTime</name>
          |    <url type="file">/Applications/FaceTime.app</url>
          |  </vkopenurldef>
          |
          |  <replacementdef>
          |    <replacementname>LAUNCHER_MODE_V2_EXTRA</replacementname>
          |    <replacementvalue>
          |      <![CDATA[
          |        <autogen>
          |          __KeyDownUpToKey__
          |          KeyCode::C,
          |          KeyCode::VK_OPEN_URL_APP_Maps,
          |        </autogen>
          |
          |        <autogen>
          |          __KeyDownUpToKey__
          |          KeyCode::V,
          |          KeyCode::VK_OPEN_URL_APP_FaceTime,
          |        </autogen>
          |      ]]>
          |    </replacementvalue>
          |  </replacementdef>
          |
          |</root>
        {{/indented_xml}}

      </section>

      <section id="disable-built-in-keyboard-if-external-keyboard-exists">
        <div class="page-header">
          <h1>
            {{#language_en}}
              Disable the built-in keyboard if an external keyboard exists
            {{/language_en}}
            {{#language_ja}}
              外付けキーボードが接続されている場合は内蔵キーボードを無効化する
            {{/language_ja}}
          </h1>
        </div>

        <p>
          {{#language_en}}
            This setting is useful if you are using a compact keyboard with MacBook family and place it on the built-in keyboard.
          {{/language_en}}
          {{#language_ja}}
            あなたがMacBookファミリーでコンパクトキーボードを使っていて、内蔵キーボードの上に外付けキーボードを置いている場合、この設定が有用です。
          {{/language_ja}}
        </p>

        <div class="row">
          <div class="col-lg-4">
            {{#lightbox}}
              img/gallery/disable_built_in_keyboard_if_external_keyboard_exists.png Disable an internal keyboard while external keyboards are connected
            {{/lightbox}}
          </div>
        </div>
      </section>

      <section id="ignore-bouncing">
        <div class="page-header">
          <h1>
            {{#language_en}}
              Ignore bouncing (chattering) events
            {{/language_en}}
            {{#language_ja}}
              チャタリングの抑制
            {{/language_ja}}
          </h1>
        </div>

        <p>
          {{#language_en}}
            This setting suppresses duplicated events if your keyboard or mice send same events multiple times when you press key once.
          {{/language_en}}
          {{#language_ja}}
            もしあなたのキーボードやマウスが、キーを一度押したときに複数の同じイベントを発生させている場合、この設定は重複したイベントを削除します。
          {{/language_ja}}
        </p>

        <div class="row">
          <div class="col-lg-4">
            {{#lightbox}}
              img/gallery/ignore_bouncing1.png Ignore bouncing
            {{/lightbox}}
          </div>
        </div>

        <p>
          {{#language_en}}
            You can adjust threshold in "Key Repeat" tab.
          {{/language_en}}
          {{#language_ja}}
            「Key Repeat」タブから閾値を調整できます。
          {{/language_ja}}
        </p>
        <div class="row">
          <div class="col-lg-4">
            {{#lightbox}}
              img/gallery/ignore_bouncing2.png Ignore bouncing
            {{/lightbox}}
          </div>
        </div>
      </section>
    </div>
    <div class="col-md-3">
      {{> ../../pqrs_tabs }}
    </div>
  </div>
</div>
