<div class="container">
  <header>
    <div class="page-header">
      <h1>
        {{#language_en}}
          Part of useful existing settings
        {{/language_en}}
        {{#language_ja}}
          便利な既存の設定の一例
        {{/language_ja}}
      </h1>
    </div>
  </header>

  <div class="row">
    <div class="col-md-9 pqrs-docs-container">
      <section id="change-either-the-left-or-right-modifier-key">
        <div class="page-header">
          <h1>
            {{#language_en}}
              Change either the left or right modifier key
            {{/language_en}}
            {{#language_ja}}
              左右のいずれかのモディファイアを変更する
            {{/language_ja}}
          </h1>
        </div>

        <p>
          {{#language_en}}
            Standard system Preferences allows you to change modifier keys to other modifier keys such as "command keys to control keys".
          {{/language_en}}
          {{#language_ja}}
            標準のシステム環境設定では、モディファイアの変更をすることが出来ます。<br />
            例えば「コマンドキーをコントロールキーに変更する」など。
          {{/language_ja}}
        </p>

        <p>
          {{#language_en}}
            Karabiner has more flexible settings. <br />
            For example, the following setting changes the left command key to the control key. <br />
            You can use both command and control modifiers by thumb.
          {{/language_en}}
          {{#language_ja}}
            Karabinerではより柔軟な設定を行うことができます。<br />
            例えば、次の設定では左コマンドキーをコントールキーに変更します。<br />
            親指でコマンドキーとコントロールキーを使うことができるようになります。<br />
          {{/language_ja}}
        </p>

        <div class="row">
          <div class="col-lg-4">
            {{#lightbox}}
              img/gallery/left_command_to_control.png Change the left command key to the control key
            {{/lightbox}}
          </div>
        </div>
      </section>

      <section id="use-emacs-key-bindings-everywhere">
        <div class="page-header">
          <h1>
            {{#language_en}}
              Use Emacs key bindings everywhere
            {{/language_en}}
            {{#language_ja}}
              Emacsのキーバインドをどこでも使えるようにする
            {{/language_ja}}
          </h1>
        </div>

        <p>
          {{#language_en}}
            OS X provides Emacs key bindings (control-p, control-n, etc.) in text editing. <br />
            Karabiner enhances these Emacs key bindings and allows you to use them everywhere. (eg: operations in Finder)
          {{/language_en}}
          {{#language_ja}}
            OS Xはテキスト編集時にEmacsキーバインディング（control-p, control-nなど）を提供しています。<br />
            Karabinerはこれらを強化し、どこでもEmacsキーバインディングを使えるようにします。（例えばFinderでの操作など。）
          {{/language_ja}}
        </p>

        <p>
          {{#language_en}}
            Note: <br />
            These settings will be disabled in Emacs, Terminal or other apps that has native Emacs key bindings support. <br />
            You can use native functions in these apps even if you enabled these Emacs Mode settings.
          {{/language_en}}
          {{#language_ja}}
            注意: <br />
            これらの設定はEmacsやターミナルなどのEmacsキーバインディングを元々サポートしているアプリでは無効化されます。<br />
            Emacs Modeが有効であっても、アプリ内のネイティブ機能を使うことができます。
          {{/language_ja}}
        </p>

        <div class="row">
          <div class="col-lg-4">
            {{#lightbox}}
              img/gallery/emacs_mode.png Emacs Mode
            {{/lightbox}}
          </div>
        </div>
      </section>

      <section id="mouse-keys-mode-v2">
        <div class="page-header">
          <h1>Mouse Keys Mode v2</h1>
        </div>

        <p>
          {{#language_en}}
            You can control pointer cursor and scroll wheel from keyboard.
          {{/language_en}}
          {{#language_ja}}
            キーボードからマウスを操作できます。
          {{/language_ja}}
        </p>

        <p>
          {{#language_en}}
            We recommend to use "Mouse Keys scroll direction: natural" together.
          {{/language_en}}
          {{#language_ja}}
            同時に「Mouse Keys scroll direction: natural」も使用することをオススメします。
          {{/language_ja}}
        </p>

        <div class="row">
          <div class="col-lg-4">
            {{#lightbox}}
              img/gallery/mouse_keys_mode_v2.png Mouse Keys Mode v2
            {{/lightbox}}
          </div>
        </div>
      </section>

      <section id="ignore-bouncing">
        <div class="page-header">
          <h1>
            {{#language_en}}
              Ignore bouncing (chattering) events
            {{/language_en}}
            {{#language_ja}}
              チャタリングの抑制
            {{/language_ja}}
          </h1>
        </div>

        <p>
          {{#language_en}}
            This setting suppresses duplicated events if your keyboard or mice send same events multiple times when you press key once.
          {{/language_en}}
          {{#language_ja}}
            もしあなたのキーボードやマウスが、キーを一度押したときに複数の同じイベントを発生させている場合、この設定は重複したイベントを削除します。
          {{/language_ja}}
        </p>

        <div class="row">
          <div class="col-lg-4">
            {{#lightbox}}
              img/gallery/ignore_bouncing1.png Ignore bouncing
            {{/lightbox}}
          </div>
        </div>

        <p>
          {{#language_en}}
            You can adjust threshold in "Key Repeat" tab.
          {{/language_en}}
          {{#language_ja}}
            「Key Repeat」タブから閾値を調整できます。
          {{/language_ja}}
        </p>
        <div class="row">
          <div class="col-lg-4">
            {{#lightbox}}
              img/gallery/ignore_bouncing2.png Ignore bouncing
            {{/lightbox}}
          </div>
        </div>
      </section>
    </div>
    <div class="col-md-3">
      {{> ../../pqrs_tabs }}
    </div>
  </div>
</div>
