<div class="container">
  <header>
    <div class="page-header">
      <h1>Karabiner-Elements Help</h1>
    </div>
  </header>

  <div class="row">
    <div class="col-md-9 pqrs-docs-container">
      <section>
        <div class="page-header">
          <h2 id="troubleshooting">Troubleshooting</h2>
        </div>

        <div id="kext-allow-button-does-not-work">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="label label-danger pull-right">Trouble</span>
              <h3 class="panel-title"><b>Allow</b> button on <b>System Preferences &gt; Security &amp; Privacy</b> does not work.</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-4">
                  {{#lightbox}}
                    img/system-preferences-security-and-privacy@2x.png An alert of Kext policy
                  {{/lightbox}}
                </div>
              </div>

              <p>
                <b>The allow button</b> on <b>System Preferences &gt; Security &amp; Privacy</b> should be hidden after you click it.<br />
                If the button does not hide after click, you did not succeed to click it.
              </p>

              <p>
                It's because macOS blocks the click if you are using an app which intercepts mouse events.<br />
                You have to quit them before pressing the allow button.
              </p>

              <p>
                <b>Apps which prevent the click:</b>
              </p>

              <ul>
                <li><b>Google Chrome</b></li>
                <li>Dropbox</li>
                <li>MagicPrefs</li>
                <li>SteerMouse</li>
                <li>Witch</li>
                <li>Sonos Desktop Controller for Mac</li>
                <li>If you are using macOS from remote via <b>Screen Sharing</b>, you cannot click the allow button.</li>
                <li>etc.</li>
              </ul>

              <hr class="horizontal-separator thin" />

              <h4>Examine what app prevents the click</h4>

              <p>
                You can examine apps which prevents the click if you are using <b>macOS Mojave or later</b>.
              </p>

              <ol>
                <li>
                  Choose <b>Privacy</b> tab on <b>System Preferences &gt; Security &amp; Privacy</b>.

                  <div class="row">
                    <div class="col-lg-4">
                      {{#lightbox}}
                        img/system-preferences-security-and-privacy-general@2x.png Privacy tab
                      {{/lightbox}}
                    </div>
                  </div>
                </li>
                <li>
                  Choose <b>Accessibility</b>. <br />
                  The enabled apps in the list prevent the click. You have to close these apps.

                  <div class="row">
                    <div class="col-lg-4">
                      {{#lightbox}}
                        img/system-preferences-security-and-privacy-accessibility@2x.png Privacy tab
                      {{/lightbox}}
                    </div>
                  </div>
                </li>
              </ol>

              <hr class="horizontal-separator thin" />

              <h4>Click Allow button via keyboard operation</h4>

              <p>
                You can press Allow button via keyboard operation if you cannot find such apps that intercept mouse events.
              </p>

              <ol>
                <li>
                  Change Full Keyboard Access configuration.
                  <ol>
                    <li>Open <b>System Preferences &gt; Keyboard &gt; Shortcuts</b>.</li>
                    <li>Change Full Keyboard Access configuration to <b>All controls</b>.</li>
                  </ol>
                </li>
                <li>
                  Click Allow button.
                  <ol>
                    <li>Open <b>System Preferences &gt; Security &amp; Privacy</b>.</li>
                    <li>Move focus to Allow button by using <b>tab</b> or <b>shift+tab</b> key.</li>
                    <li>Press <b>spacebar</b> on Allow button.</li>
                  </ol>
                </li>
              </ol>

              <hr class="horizontal-separator thin" />

              <h4>The last resort</h4>

              <p>
                You can press Allow button by starting your Mac in <b>safe mode</b> if you cannot find such apps that intercept mouse events.<br />
                Because any extra apps which prevent clicking the Allow button is not launched automatically in safe mode.
              </p>

              <p>
                The procedure is follows.
              </p>

              <ol>
                <li>Download <a href="./" target="_blank">Karabiner-Elements</a> before restarting your Mac.</li>
                <li>Restart your Mac in safe mode. (<a href="https://support.apple.com/en-us/HT201262" target="_blank">Press and hold the Shift key at boot.</a>)</li>
                <li>Reinstall Karabiner-Elements from downloaded file.</li>
                <li>
                  Open System Preferences and confirm the Allow button is shown.<br />
                  If the Allow button is hidden, close System Preferences and open it again.
                </li>
                <li>Click the Allow button.</li>
                <li>Restart your Mac in normal mode.</li>
              </ol>
            </div>
          </div>
        </div>

        <br />
        {{! ================================================================================ }}

        <div id="stopped-working-after-macos-update">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="label label-danger pull-right">Trouble</span>
              <h3 class="panel-title">Trouble: Karabiner-Elements stopped working after macOS update.</h3>
            </div>
            <div class="panel-body">
              <p>
                It's an issue of macOS that macOS update sometimes does not restore the running process state sufficiently after macOS update.
              </p>
              <p>
                Please follow the instruction to solve the problem.
              </p>

              <ol>
                <li>Restart macOS once again after macOS update.</li>
                <li>Reinstall Karabiner-Elements if restart macOS does not solve the problem.</li>
              </ol>
            </div>
          </div>
        </div>

        <br />
        {{! ================================================================================ }}

        <div id="touch-bar-function-keys">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="label label-danger pull-right">Trouble</span>
              <h3 class="panel-title">Touch Bar does not change to f1-f12 when I press the fn key.</h3>
            </div>
            <div class="panel-body">
              <p>
                It's an issue of macOS, and unfortunately, Karabiner-Elements cannot avoid this issue.<br />
                Instead, please change fn+number keys to function keys in Karabiner-Elements configuration.
              </p>

              <ol>
                <li>
                  Import <a href="complex_modifications/#fn_plus_numbers_to_function_keys">Map fn + number keys to function keys</a>
                </li>
                <li>
                  Enable <b>Map fn + number keys to their corresponding function keys</b>.<br />
                </li>
                <li>
                  You can use f1-f12 keys by fn+number keys.
                </li>
              </ol>

              <div class="row">
                <div class="col-lg-4">
                  {{#lightbox}}
                    img/karabiner-elements-fn_plus_numbers_to_function_keys@2x.png fn_plus_numbers_to_function_keys
                  {{/lightbox}}
                </div>
              </div>

              <div class="alert alert-info" role="alert">
                <p>
                  Note:<br />
                  (If you are using "Use all F1, F2, etc. keys as standard function keys.",
                  enable <b>Map fn + number keys to their corresponding media control keys</b> instead.)
                </p>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">Detail of problem</div>
                <div class="panel-body">
                  <p>
                    The fn key events are ignored by Touch Bar since the following facts.
                  </p>

                  <ol>
                    <li>Touch Bar accepts the fn key event only from the build-in keyboard.</li>
                    <li>The fn key events are sent from Karabiner's virtual keyboard when Karabiner-Elements is running.</li>
                  </ol>

                  <p>
                    Unfortunately, posting input events via own virtual keyboard is the only way to accomplish the stable input event modification.<br />
                    In other words, we cannot post the fn key event through the built-in keyboard if we want to change key events stably.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <br />
        {{! ================================================================================ }}

        <div id="control-eject">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="label label-danger pull-right">Trouble</span>
              <h3 class="panel-title">Control-eject shortcut does not work when Karabiner-Elements is running.</h3>
            </div>
            <div class="panel-body">
              <p>
                It's an issue of macOS, and unfortunately, Karabiner-Elements cannot avoid this issue.<br />
                Instead, please change fn+escape to eject and use control+fn+escape (== control+eject) shortcut.
              </p>

              <ol>
                <li>
                  Import <a href="complex_modifications/#escape">Change escape key</a>
                </li>
                <li>
                  Enable <b>Change fn+escape to eject.</b><br />
                </li>
                <li>
                  You can use control+fn+escape as control+eject.
                </li>
              </ol>

              <div class="row">
                <div class="col-lg-4">
                  {{#lightbox}}
                    img/karabiner-elements-fn-escape-to-eject@2x.png Change fn+escape to eject.
                  {{/lightbox}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <br />
        {{! ================================================================================ }}

        <div id="json-owner-is-invalid">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="label label-danger pull-right">Trouble</span>
              <h3 class="panel-title"><b>karabiner.json is not owned by a valid user</b> error message in log</h3>
            </div>
            <div class="panel-body">
              <p>
                If the following error message is appeared in log, your home directory owner ship is not valid.
              </p>

              <pre>{{#strip_indented_lines}}
                |[warning] [grabber] /Users/.../karabiner.json is not owned by a valid user.
              {{/strip_indented_lines}}</pre>

              <p>
                The cause is that you are using an external storage and locating your home directory into the volume.<br />
                You have to enable ownership on the external volume by the following command in Terminal.app.
              </p>

              <div class="pre-shell">
                <pre class="shell">{{#strip_indented_lines}}
                  |sudo diskutil enableOwnership disk99999s99999
                {{/strip_indented_lines}}</pre>
              </div>

              <p>
                (See diskutil manual for detail.)
              </p>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="page-header">
          <h2 id="how-to">How-to</h2>
        </div>

        <div id="mouse-button">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="label label-success pull-right">How-to</span>
              <h3 class="panel-title">
                How to change mouse buttons
              </h3>
            </div>
            <div class="panel-body">
              <p>
                Karabiner-Elements does not modify mouse devices by default.<br />
                You have to enable your mouse on <b>Karabiner-Elements Preferences &gt; Devices</b>.
              </p>

              <div class="row">
                <div class="col-lg-4">
                  {{#lightbox}}
                    img/karabiner-elements-mouse-button-devices@2x.png Karabiner-Elements Preferences Devices
                  {{/lightbox}}
                </div>
              </div>

              <p>
                Then, use <b>Simple Modifications</b> to assign a key to a button or use <a href="complex_modifications/#mouse_button">Complex Modifications</a> for more advanced usage.
              </p>

              <div class="row">
                <div class="col-lg-4">
                  {{#lightbox}}
                    img/karabiner-elements-mouse-button-simple-modifications@2x.png Karabiner-Elements Preferences Simple Modifications
                  {{/lightbox}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="disable-caps-lock-delay">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="label label-success pull-right">How-to</span>
              <h3 class="panel-title">
                How to disable caps lock delay
              </h3>
            </div>
            <div class="panel-body">
              <p>
                Enable <b>Disable caps_lock delay</b> setting from Complex Modification.
              </p>

              <ol>
                <li>
                  Import <b>Change caps_lock key</b> setting from
                  <a href="https://pqrs.org/osx/karabiner/complex_modifications/#caps_lock">here</a>.
                </li>
                <li>
                  Enable <b>Disable caps_lock delay</b>.
                  <div class="row">
                    <div class="col-lg-4">
                      {{#lightbox}}
                        img/karabiner-elements-disable-caps-lock-delay@2x.png Disable caps_lock delay
                      {{/lightbox}}
                    </div>
                  </div>
                </li>
              </ol>

              <div class="alert alert-info" role="alert">
                <p>
                  Note:<br />
                  Actually, this setting does not disable the caps lock delay of macOS.<br />
                  This setting puts a wait between caps lock key down and key up event
                  in order to ensure macOS recognize the caps lock event.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div id="key-repeat">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="label label-success pull-right">How-to</span>
              <h3 class="panel-title">
                How to adjust the key repeat rate
              </h3>
            </div>
            <div class="panel-body">
              <p>
                Karabiner-Elements does not provide a feature to adjust key repeat rate.<br />
                Use <b>System Preferences &gt; Keyboard</b>.
              </p>

              <div class="row">
                <div class="col-lg-4">
                  {{#lightbox}}
                    img/system-preferences-keyboard-key-repeat@2x.png Key Repeat
                  {{/lightbox}}
                </div>
              </div>

              <p>
                You might also adjust the key repeat rate using <code>defaults write</code> command.
                <a href="https://apple.stackexchange.com/questions/10467/how-to-increase-keyboard-key-repeat-rate-on-os-x" target="_blank">
                  https://apple.stackexchange.com/questions/10467/how-to-increase-keyboard-key-repeat-rate-on-os-x
                </a>
              </p>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="page-header">
          <h2 id="advanced">Advanced topics</h2>
        </div>

        <div id="installed-files">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="label label-warning pull-right">Advanced</span>
              <h3 class="panel-title">Installed files</h3>
            </div>
            <div class="panel-body">
              <p>
                Karabiner-Elements installs files into the following locations.
              </p>

              <b>System files</b>
              <ul>
                <li>/Applications/Karabiner-Elements.app</li>
                <li>/Applications/Karabiner-EventViewer.app</li>
                <li>/Library/Application Support/org.pqrs/Karabiner-Elements</li>
                <li>/Library/Application Support/org.pqrs/Karabiner-VirtualHIDDevice</li>
                <li>/Library/Application Support/org.pqrs/config</li>
                <li>/Library/Application Support/org.pqrs/tmp</li>
                <li>/Library/LaunchDaemons/org.pqrs.karabiner.karabiner_grabber.plist</li>
                <li>/Library/LaunchDaemons/org.pqrs.karabiner.karabiner_kextd.plist</li>
                <li>/Library/LaunchDaemons/org.pqrs.karabiner.karabiner_observer.plist</li>
                <li>/Library/LaunchAgents/org.pqrs.karabiner.agent.karabiner_grabber.plist</li>
                <li>/Library/LaunchAgents/org.pqrs.karabiner.agent.karabiner_observer.plist</li>
                <li>/Library/LaunchAgents/org.pqrs.karabiner.karabiner_console_user_server.plist</li>
                <li>/Library/LaunchAgents/org.pqrs.karabiner.karabiner_session_monitor.plist</li>
                <li>/var/log/karabiner</li>
              </ul>

              <b>User files</b>
              <ul>
                <li>~/.config/karabiner</li>
                <li>~/.local/share/karabiner</li>
              </ul>

              <div class="alert alert-warning" role="alert">
                <p>
                  Warning:<br />
                  If you want to uninstall Karabiner-Elements, you have to use <a href="document.html#uninstall">Karabiner-Elements uninstaller.</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="col-md-3">
      {{> ../../pqrs_tabs }}
    </div>
  </div>
</div>
