<div class="container">
  <header>
    <div class="page-header">
      <h1>Karabiner-Elements Help</h1>
    </div>
  </header>

  <div class="row">
    <div class="col-md-9 pqrs-docs-container">
      <section>
        <div class="page-header">
          <h2 id="troubleshooting">Troubleshooting</h2>
        </div>

        <div id="kext-allow-button-does-not-work">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Trouble: Allow button on <b>System Preferences &gt; Security &amp; Privacy</b> does not work.</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-4">
                  {{#lightbox}}
                    img/system-preferences-security-and-privacy@2x.png An alert of Kext policy
                  {{/lightbox}}
                </div>
              </div>

              <p>
                The allow button on <b>System Preferences &gt; Security &amp; Privacy</b> should be hidden after you click it.<br />
                If the button does not hide after click, you did not succeed to click it.
              </p>

              <p>
                It's because macOS blocks the click if you are using an app which intercepts mouse events.<br />
                You have to quit them before pressing the allow button.
              </p>

              <b>Apps which prevent the click:</b><br />
              <ul>
                <li>MagicPrefs</li>
                <li>SteerMouse</li>
                <li>Witch</li>
                <li>If you are using macOS from remote via <b>Screen Sharing</b>, you cannot click the allow button.</li>
                <li>etc.</li>
              </ul>
            </div>
          </div>
        </div>

        <br />
        {{! ================================================================================ }}

        <div id="touch-bar-function-keys">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Trouble: Touch bar does not change to f1-f12 when I press the fn key.</h3>
            </div>
            <div class="panel-body">
              <p>
                It's an issue of macOS, and unfortunately, Karabiner-Elements cannot avoid this issue.<br />
                Instead, please change fn+number keys to function keys in Karabiner-Elements configuration.
              </p>

              <ol>
                <li>
                  Import <a href="complex_modifications/#fn_plus_numbers_to_function_keys">Map fn + number keys to function keys</a>
                </li>
                <li>
                  Enable <b>Map fn + number keys to their corresponding function keys</b>.<br />
                </li>
                <li>
                  You can use f1-f12 keys by fn+number keys.
                </li>
              </ol>

              <div class="row">
                <div class="col-lg-4">
                  {{#lightbox}}
                    img/karabiner-elements-fn_plus_numbers_to_function_keys@2x.png fn_plus_numbers_to_function_keys
                  {{/lightbox}}
                </div>
              </div>

              <div class="alert alert-info" role="alert">
                <p>
                  Note:<br />
                  (If you are using "Use all F1, F2, etc. keys as standard function keys.",
                  enable <b>Map fn + number keys to their corresponding media control keys</b> instead.)
                </p>
              </div>
            </div>
          </div>
        </div>

        <br />
        {{! ================================================================================ }}

        <div id="control-eject">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Trouble: Control-eject shortcut does not work when Karabiner-Elements is running.</h3>
            </div>
            <div class="panel-body">
              <p>
                It's an issue of macOS, and unfortunately, Karabiner-Elements cannot avoid this issue.<br />
                Instead, please change fn+escape to eject and use control+fn+escape (== control+eject) shortcut.
              </p>

              <ol>
                <li>
                  Import <a href="complex_modifications/#escape">Change escape key</a>
                </li>
                <li>
                  Enable <b>Change fn+escape to eject.</b><br />
                </li>
                <li>
                  You can use control+fn+escape as control+eject.
                </li>
              </ol>

              <div class="row">
                <div class="col-lg-4">
                  {{#lightbox}}
                    img/karabiner-elements-fn-escape-to-eject@2x.png Change fn+escape to eject.
                  {{/lightbox}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="page-header">
          <h2 id="advanced">Advanced topics</h2>
        </div>

        <div id="installed-files">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Installed files</h3>
            </div>
            <div class="panel-body">
              <p>
                Karabiner-Elements installs files into the following locations.
              </p>

              <b>System files</b>
              <ul>
                <li>/Applications/Karabiner-Elements.app</li>
                <li>/Applications/Karabiner-EventViewer.app</li>
                <li>/Library/Application Support/org.pqrs/Karabiner-Elements</li>
                <li>/Library/Application Support/org.pqrs/Karabiner-VirtualHIDDevice</li>
                <li>/Library/Application Support/org.pqrs/config</li>
                <li>/Library/Application Support/org.pqrs/tmp</li>
                <li>/Library/LaunchDaemons/org.pqrs.karabiner.karabiner_grabber.plist</li>
                <li>/Library/LaunchAgents/org.pqrs.karabiner.karabiner_console_user_server.plist</li>
                <li>/var/log/karabiner</li>
              </ul>

              <b>User files</b>
              <ul>
                <li>~/.config/karabiner</li>
                <li>~/.local/share/karabiner</li>
              </ul>

              <div class="alert alert-warning" role="alert">
                <p>
                  Warning:<br />
                  If you want to uninstall Karabiner-Elements, you have to use <a href="document.html#uninstall">Karabiner-Elements uninstaller.</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="col-md-3">
      {{> ../../pqrs_tabs }}
    </div>
  </div>
</div>
