<div class="container">
  <section>
    <div class="page-header">
      <h1>
        {{#language_en}}
          Version History
        {{/language_en}}
        {{#language_ja}}
          更新履歴
        {{/language_ja}}
      </h1>
    </div>
    {{#histories}}
      <h2>
        Version {{version}}
        {{#updated}}
          <small>
            {{#format_date}}
              {{updated}}
            {{/format_date}}
          </small>
        {{/updated}}

        {{#link}}
          <a class="btn btn-default" href="{{link}}">
            {{#language_en}}
              Download
            {{/language_en}}
            {{#language_ja}}
              ダウンロード
            {{/language_ja}}
          </a>
        {{/link}}
      </h2>
      <div style="margin-left: 2em">
        {{{body_l10n}}}
      </div>
    {{/histories}}
  </section>
</div>
