<div class="container">
  <header>
    <div class="jumbotron">
      <h1>Karabiner</h1>
      <p>
        {{#language_en}}
          A powerful and stable keyboard customizer for OS X.
        {{/language_en}}
        {{#language_ja}}
          高機能で安定性も極めて高いOS X用のキーボードカスタマイズツール。
        {{/language_ja}}
      </p>

      <ul style="margin-bottom: 20px">
        <li>
          {{#language_en}}
            <a href="document.html.{{language}}">You can easily customize</a> from prepared settings.
          {{/language_en}}
          {{#language_ja}}
            既存の設定が多数用意されているので、<a href="document.html.{{language}}">容易にカスタマイズできます。</a>
          {{/language_ja}}
        </li>
        <li>
          {{#language_en}}
            You can also <a href="document.html.{{language}}#privatexml">add your own settings by XML</a>.
          {{/language_en}}
          {{#language_ja}}
            また、<a href="document.html.{{language}}#privatexml">XMLであなた専用の設定を追加できます。</a>
          {{/language_ja}}
        </li>
      </ul>

      <p>
        {{#strip_html}}
          <a class="btn btn-primary btn-lg"
            href="files/Karabiner-10.16.0.dmg">
            {{#language_en}}
              Download Karabiner-10.16.0
            {{/language_en}}
            {{#language_ja}}
              Karabiner-10.16.0をダウンロード
            {{/language_ja}}
            &nbsp;
            <span class="label label-default">
              {{#language_en}}
                For OS X 10.11, 10.10, 10.9
              {{/language_en}}
              {{#language_ja}}
                OS X 10.11、10.10、10.9用
              {{/language_ja}}
            </span>
          </a>
        {{/strip_html}}
      </p>

      <div class="alert alert-warning" role="alert">
        {{#language_en}}
          About Sparkle Updater Vulnerability:<br />
          Karabiner is safe from <a href="https://sparkle-project.org/documentation/security/" class="alert-link" target="_blank">the Sparkle Updater Vulnerability</a>
          because Karabiner uses HTTPS for feeds and files.
        {{/language_en}}
        {{#language_ja}}
          Sparkleフレームワークの脆弱性について:<br />
          KarabinerはフィードやファイルにHTTPSを用いているので、<a href="https://sparkle-project.org/documentation/security/" class="alert-link" target="_blank">Sparkleフレームワークの脆弱性</a>の影響を受けません。安全にソフトウェア更新を行えます。
        {{/language_ja}}
      </div>

      <p style="margin-left: 1em">
        <small>
          <a href="history.html.{{language}}#history">
            {{#language_en}}
              old versions and version history
            {{/language_en}}
            {{#language_ja}}
              古いバージョンのダウンロード・更新履歴
            {{/language_ja}}
          </a>
        </small>
      </p>

      <hr />

      <div class="alert alert-info">
        <ul>
          {{#language_en}}
            <li>Prior to version 9.3.0, Karabiner was called <b>KeyRemap4MacBook</b>.</li>
            <li>Karabiner and KeyRemap4MacBook work with all Mac products, including the MacBook family, iMac, Mac mini, and Mac Pro.</li>
          {{/language_en}}
          {{#language_ja}}
            <li>Karabinerはバージョン9.3.0まで<b>KeyRemap4MacBook</b>という名前でした。</li>
            <li>KarabinerとKeyRemap4MacBookは、MacBookファミリー、iMac、Mac mini、Mac Proなど全てのMacで動作します。</li>
          {{/language_ja}}
        </ul>
      </div>

      <p>
        {{#strip_html}}
          <a class="btn btn-default"
            href="files/KeyRemap4MacBook-8.4.0.dmg">
            {{#language_en}}
              Download KeyRemap4MacBook-8.4.0
            {{/language_en}}
            {{#language_ja}}
              KeyRemap4MacBook-8.4.0をダウンロード
            {{/language_ja}}
            &nbsp;
            <span class="label label-default">
              {{#language_en}}
                For OS X 10.8, 10.7, 10.6
              {{/language_en}}
              {{#language_ja}}
                OS X 10.8、10.7、10.6用
              {{/language_ja}}
            </span>
          </a>
        {{/strip_html}}
      </p>
      <p>
        {{#strip_html}}
          <a class="btn btn-default"
            href="files/KeyRemap4MacBook-5.1.0.pkg.tar.gz">
            {{#language_en}}
              Download KeyRemap4MacBook-5.1.0
            {{/language_en}}
            {{#language_ja}}
              KeyRemap4MacBook-5.1.0をダウンロード
            {{/language_ja}}
            &nbsp;
            <span class="label label-default">
              {{#language_en}}
                For OS X 10.5, 10.4
              {{/language_en}}
              {{#language_ja}}
                OS X 10.5、10.4用
              {{/language_ja}}
            </span>
          </a>
        {{/strip_html}}
      </p>
    </div>
  </header>

  <section>
    <div class="page-header">
      <h1>
        {{#language_en}}
          Installation
        {{/language_en}}
        {{#language_ja}}
          インストール方法
        {{/language_ja}}
      </h1>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="col-show-grid">
          <h2>Step 1</h2>

          <p>
            {{#language_en}}
              Open a downloaded dmg file, and then open a pkg file in dmg.
            {{/language_en}}
            {{#language_ja}}
              ダウンロードしたdmgファイルを開き、dmgの中のpkgファイルを開きます。
            {{/language_ja}}
          </p>
          <p>
            <img
            alt="dmg"
            {{#imgsrc}}
              ../images/dmg-icon@2x.png
            {{/imgsrc}}
            />
            <img
            alt="pkg"
            {{#imgsrc}}
              ../images/pkg-icon@2x.png
            {{/imgsrc}}
            />
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="col-show-grid">
          <h2>Step 2</h2>

          <p>
            {{#language_en}}
              Installer is launched. Install Karabiner.
            {{/language_en}}
            {{#language_ja}}
              インストーラが起動しますので、Karabinerをインストールします。
            {{/language_ja}}
          </p>
          {{#lightbox}}
            img/karabiner-installer@2x.png installer
          {{/lightbox}}
          <div class="alert alert-warning">
            {{#language_en}}
              Karabiner will be installed into /Applications folder. <br />
              <br />
              <b>Note:</b><br />
              Do not change the location of Karabiner.app from /Applications. <br />
              <br />
              For example, Karabiner will not work properly if you moved Karabiner.app into /Applications/Utils.
            {{/language_en}}
            {{#language_ja}}
              Karabinerはアプリケーションフォルダにインストールされます。<br />
              <br />
              <b>注意:</b><br />
              アプリケーションフォルダからKarabiner.appを移動しないでください。<br />
              <br />
              例えば、/Applications/UtilsにKarabiner.appを移動すると、正常に動作しなくなります。
            {{/language_ja}}
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="col-show-grid">
          <h2>Step 3</h2>

          <p>
            {{#language_en}}
              Launch Karabiner from Launchpad.
              <a href="document.html.en">Learn more.</a>
            {{/language_en}}
            {{#language_ja}}
              LaunchpadからKarabinerを起動します。
              <a href="document.html.ja">詳しくはこちら。</a>
            {{/language_ja}}
          </p>

          <p>
            <img
            alt="launchpad"
            {{#imgsrc}}
              img/karabiner-icon@2x.png
            {{/imgsrc}}
            />
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
