<div class="container">
  <header>
    <div class="jumbotron">
      <h1>Karabiner</h1>
      <p>
        A powerful and stable keyboard customizer for macOS.
      </p>

      <br />

      <div class="btn-group">
        <a href="files/Karabiner-Elements-0.91.16.dmg" class="btn btn-primary btn-lg">Download</a>
        <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a href="files/Karabiner-Elements-0.91.16.dmg">
            For macOS High Sierra (10.13)<br />
            For macOS Sierra (10.12)<br />
            For macOS El Capitan (10.11)<br />
            </a>
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <a href="files/Karabiner-10.22.0.dmg">
            For macOS El Capitan (10.11)<br />
            For macOS Yosemite (10.10)<br />
            For macOS Mavericks (10.9)<br />
            </a>
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <a href="files/KeyRemap4MacBook-8.4.0.dmg">
            For macOS Mountain Lion (10.8)<br />
            For macOS Lion (10.7)<br />
            For macOS Snow Leopard (10.6)<br />
            </a>
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <a href="files/KeyRemap4MacBook-5.1.0.pkg.tar.gz">
            For macOS Leopard (10.5)<br />
            For macOS Tiger (10.4)<br />
            </a>
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <a href="https://github.com/tekezo/Karabiner-Elements" target="_blank">
            Source code (GitHub)
            </a>
          </li>
        </ul>
      </div>

      <p>
        <a href="https://github.com/tekezo/Karabiner-Elements/blob/master/LICENSE.md" target="_blank">
        <img src="/img/icon/license-public-domain.svg" alt="Public Domain" />
        </a>
      </p>

      <hr />

      <p>
        <small>The current release works on the following macOS:</small>
      </p>
      <ul>
        <li>macOS High Sierra (10.13)</li>
        <li>macOS Sierra (10.12)</li>
        <li>macOS El Capitan (10.11)</li>
      </ul>

      <p style="margin-left: 1em">
        <small>
          <a href="history.html#history">
            old versions and version history
          </a>
        </small>
      </p>

      <hr />

      <div class="alert alert-info">
        <ul>
          <li>We made a new Karabiner as Karabiner-Elements since v11 due to kernel architecture updates in macOS Sierra.</li>
          <li>Prior to version 9.3.0, Karabiner was called KeyRemap4MacBook.</li>
          <li>Karabiner and KeyRemap4MacBook work with all Mac products, including the MacBook family, iMac, Mac mini, and Mac Pro.</li>
        </ul>
      </div>

      <div class="github-link">
        <a href="https://github.com/tekezo/Karabiner-Elements" target="_blank">GitHub</a>
      </div>
    </div>
  </header>

  <section>
    <div class="page-header">
      <h1>
        Installation
      </h1>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="col-show-grid">
          <h2>Step 1</h2>

          <p>
            Open a downloaded dmg file, and then open a pkg file in dmg.
          </p>
          <p>
            <img
            alt="dmg"
            {{#imgsrc}}
              ../images/dmg-icon@2x.png
            {{/imgsrc}}
            />
            <img
            alt="pkg"
            {{#imgsrc}}
              ../images/pkg-icon@2x.png
            {{/imgsrc}}
            />
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="col-show-grid">
          <h2>Step 2</h2>

          <p>
            Installer is launched. Install Karabiner.
          </p>
          {{#lightbox}}
            img/karabiner-elements-installer@2x.png installer
          {{/lightbox}}
          <div class="alert alert-warning">
            Karabiner-Elements will be installed into /Applications folder. <br />
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="col-show-grid">
          <h2>Step 3</h2>

          <p>
            Launch Karabiner-Elements from Launchpad.<br />
            <a href="document.html">Learn more.</a>
          </p>

          <p>
            <img
            alt="launchpad"
            {{#imgsrc}}
              img/karabiner-elements-icon@2x.png
            {{/imgsrc}}
            />
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
