<div class="container">
  <header>
    <div class="page-header">
      <h1>karabiner.json Reference Manual</h1>
    </div>
  </header>

  <div class="row">
    <div class="col-md-9 pqrs-docs-container">
      <section>
        <div class="page-header">
          <h1 id="location">File location</h1>
        </div>

        <table class="table">
          <tbody>
            <tr>
              <th><b>~/.config/karabiner/karabiner.json</b></th>
              <td>
                Main configuration file.<br />
                Karabiner-Elements watches this file and reload it automatically when it is updated.
              </td>
            </tr>
            <tr>
              <th><b>~/.config/karabiner/assets/complex_modifications</b></th>
              <td>
                Imported complex_modifications files.<br />
                You can use them in <b>Preferences &gt; Complex Modifications &gt; Add rule</b>.
              </td>
            </tr>
          </tbody>
        </table>

        {{! ================================================================================ }}

        <h2>Automation reload mechanism</h2>

        <p>
          Karabiner-Elements watches <b>~/.config/karabiner/karabiner.json</b> and reloads it if updated.
        </p>

        <p>
          The mechanism is that Karabiner-Elements watches the parent directory <b>~/.config/karabiner</b> by using the File System Events API.<br />
          Thus, Karabiner-Elements fails detecting file updates after you change the parent directory (e.g., recreate the parent directory).
        </p>

        {{! ================================================================================ }}

        <h2>Error messages</h2>

        <p>
          Error messages will be output into <b>~/.local/share/karabiner/log/console_user_server.log</b> if there are errors such as parse error.
        </p>

        <p>
          You can also view the error messages in <b>Karabiner-Elements Preferences &gt; Log</b>.
        </p>

        <div class="row">
          <div class="col-lg-4">
            {{#lightbox}}
              img/karabiner-elements-error-log@2x.png error log
            {{/lightbox}}
          </div>
        </div>
      </section>

      <section>
        <div class="page-header">
          <h1 id="typical-complex_modifications-examples">Typical complex_modifications examples</h1>
        </div>

        <ul>
          <li>
            <a href="#typical-complex_modifications-examples-swap-semicolon-and-colon">
              Swap <b>;</b> and <b>:</b>.
              (Equal to swap <b>;</b> and <b>shift-;</b>.)
            </a>
          </li>
          <li>
            <a href="#typical-complex_modifications-examples-change-control-h-to-delete">
              Change <b>control-h</b> to <b>delete</b>.
              (And <b>control-option-h</b> to <b>option-delete</b>.)
            </a>
          </li>
          <li>
            <a href="#typical-complex_modifications-examples-disable-command-l-on-finder">
              Disable <b>command-l</b> on Finder.
            </a>
          </li>
          <li>
            <a href="#typical-complex_modifications-examples-post-escape-if-left-control-is-pressed-alone">
              Post <b>escape</b> if <b>left_control</b> is pressed alone.
            </a>
          </li>
          <li>
            <a href="#typical-complex_modifications-examples-open-alfred-when-escape-is-held-down">
              Open <b>Alfred 3</b> if <b>escape</b> is held down.
            </a>
          </li>
          <li>
            <a href="#typical-complex_modifications-examples-change-right-shift-x2-to-mission-control">
              Change <b>right_shift x2</b> to <b>mission_control</b>.
            </a>
          </li>
          <li>
            <a href="#typical-complex_modifications-examples-simultaneous-equal-delete-to-forward-delete">
              Change <b>equal+delete</b> to <b>forward_delete</b> if these keys are pressed simultaneously.
            </a>
          </li>
        </ul>

        <div id="typical-complex_modifications-examples-swap-semicolon-and-colon">
          <div class="panel panel-default">
            <div class="panel-body">
              <p>Swap <b>;</b> and <b>:</b>.</p>

              {{#indented_json}}
                |{
                |    "type": "basic",
                |    "from": {
                |        "key_code": "semicolon",
                |        "modifiers": {
                |            "mandatory": [
                |                "shift"
                |            ],
                |            "optional": [
                |                "caps_lock"
                |            ]
                |        }
                |    },
                |    "to": [
                |        {
                |            "key_code": "semicolon"
                |        }
                |    ]
                |},
                |
                |{
                |    "type": "basic",
                |    "from": {
                |        "key_code": "semicolon",
                |        "modifiers": {
                |            "optional": [
                |                "caps_lock"
                |            ]
                |        }
                |    },
                |    "to": [
                |        {
                |            "key_code": "semicolon",
                |            "modifiers": [
                |                "left_shift"
                |            ]
                |        }
                |    ]
                |}
              {{/indented_json}}
            </div>
          </div>
        </div>

        <div id="typical-complex_modifications-examples-change-control-h-to-delete">
          <div class="panel panel-default">
            <div class="panel-body">
              <p>Change <b>control-h</b> to <b>delete</b>. (And <b>option-control-h</b> to <b>option-delete</b>.)</p>

              {{#indented_json}}
                |{
                |    "type": "basic",
                |    "from": {
                |        "key_code": "h",
                |        "modifiers": {
                |            "mandatory": [
                |                "control"
                |            ],
                |            "optional": [
                |                "caps_lock",
                |                "option"
                |            ]
                |        }
                |    },
                |    "to": [
                |        {
                |            "key_code": "delete_or_backspace"
                |        }
                |    ]
                |}
              {{/indented_json}}
            </div>
          </div>
        </div>

        <div id="typical-complex_modifications-examples-disable-command-l-on-finder">
          <div class="panel panel-default">
            <div class="panel-body">
              <p>Disable <b>command-l</b> on Finder.</p>

              {{#indented_json}}
                |{
                |    "type": "basic",
                |    "from": {
                |        "key_code": "l",
                |        "modifiers": {
                |            "mandatory": [
                |                "command"
                |            ],
                |            "optional": [
                |                "caps_lock"
                |            ]
                |        }
                |    },
                |    "conditions": [
                |        {
                |            "type": "frontmost_application_if",
                |            "bundle_identifiers": [
                |                "^com\\.apple\\.finder$"
                |            ]
                |        }
                |    ]
                |}
              {{/indented_json}}
            </div>
          </div>
        </div>

        <div id="typical-complex_modifications-examples-post-escape-if-left-control-is-pressed-alone">
          <div class="panel panel-default">
            <div class="panel-body">
              <p>Post <b>escape</b> if <b>left_control</b> is pressed alone.</p>

              {{#indented_json}}
                |{
                |    "type": "basic",
                |    "from": {
                |        "key_code": "left_control",
                |        "modifiers": {
                |            "optional": [
                |                "any"
                |            ]
                |        }
                |    },
                |    "to": [
                |        {
                |            "key_code": "left_control",
                |            "lazy": true
                |        }
                |    ],
                |    "to_if_alone": [
                |        {
                |            "key_code": "escape"
                |        }
                |    ]
                |}
              {{/indented_json}}
            </div>
          </div>
        </div>

        <div id="typical-complex_modifications-examples-open-alfred-when-escape-is-held-down">
          <div class="panel panel-default">
            <div class="panel-body">
              <p>Open <b>Alfred 3</b> if <b>escape</b> is held down.</p>

              {{#indented_json}}
                |{
                |    "type": "basic",
                |    "from": {
                |        "key_code": "escape",
                |        "modifiers": {
                |            "optional": [
                |                "caps_lock"
                |            ]
                |        }
                |    },
                |    "parameters": {
                |        "basic.to_if_alone_timeout_milliseconds": 250,
                |        "basic.to_if_held_down_threshold_milliseconds": 250
                |    },
                |    "to_if_alone": [
                |        {
                |            "key_code": "escape"
                |        }
                |    ],
                |    "to_if_held_down": [
                |        {
                |            "shell_command": "open -a 'Alfred 3.app'"
                |        }
                |    ]
                |}
              {{/indented_json}}
            </div>
          </div>
        </div>

        <div id="typical-complex_modifications-examples-change-right-shift-x2-to-mission-control">
          <div class="panel panel-default">
            <div class="panel-body">
              <p>Change <b>right_shift x2</b> to <b>mission_control</b>.</p>

              {{#indented_json}}
                |{
                |    "type": "basic",
                |    "from": {
                |        "key_code": "right_shift",
                |        "modifiers": {
                |            "optional": [
                |                "any"
                |            ]
                |        }
                |    },
                |    "to": [
                |        {
                |            "key_code": "mission_control"
                |        }
                |    ],
                |    "conditions": [
                |        {
                |            "type": "variable_if",
                |            "name": "right_shift pressed",
                |            "value": 1
                |        }
                |    ]
                |},
                |
                |{
                |    "type": "basic",
                |    "from": {
                |        "key_code": "right_shift",
                |        "modifiers": {
                |            "optional": [
                |                "any"
                |            ]
                |        }
                |    },
                |    "to": [
                |        {
                |            "set_variable": {
                |                "name": "right_shift pressed",
                |                "value": 1
                |            }
                |        },
                |        {
                |            "key_code": "right_shift"
                |        }
                |    ],
                |    "to_delayed_action": {
                |        "to_if_invoked": [
                |            {
                |                "set_variable": {
                |                    "name": "right_shift pressed",
                |                    "value": 0
                |                }
                |            }
                |        ],
                |        "to_if_canceled": [
                |            {
                |                "set_variable": {
                |                    "name": "right_shift pressed",
                |                    "value": 0
                |                }
                |            }
                |        ]
                |    }
                |}
              {{/indented_json}}
            </div>
          </div>
        </div>

        <div id="typical-complex_modifications-examples-simultaneous-equal-delete-to-forward-delete">
          <div class="panel panel-default">
            <div class="panel-body">
              <p><span class="label label-primary">Available in beta versions (since version 11.5.5)</span></p>

              <p>Change <b>equal+delete</b> to <b>forward_delete</b> if these keys are pressed simultaneously.</p>

              {{#indented_json}}
                |{
                |    "type": "basic",
                |    "from": {
                |        "simultaneous": [
                |            {
                |                "key_code": "equal_sign"
                |            },
                |            {
                |                "key_code": "delete_or_backspace"
                |            }
                |        ],
                |        "modifiers": {
                |            "optional": [
                |                "any"
                |            ]
                |        }
                |    },
                |    "to": [
                |        {
                |            "key_code": "delete_forward"
                |        }
                |    ]
                |}
              {{/indented_json}}
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="page-header">
          <h1 id="root-data-structure">karabiner.json data structure</h1>
        </div>

        <h2>karabiner.json</h2>

        {{#indented_json}}
          |{
          |    "global": {
          |        ...
          |    },
          |    "profiles": [
          |        {
          |            "name": "Profile name",
          |            "selected": true,
          |            "simple_modifications": [
          |                ...
          |            ],
          |            "fn_function_keys": [
          |                ...
          |            ],
          |            "complex_modifications": {
          |                "parameters": {
          |                    ...
          |                },
          |                "rules": [
          |                    ...
          |                ]
          |            },
          |            "virtual_hid_keyboard": {
          |                "keyboard_type": "ansi",
          |                "caps_lock_delay_milliseconds": 0
          |            },
          |            "devices": [
          |                ...
          |            ]
          |        },
          |        {
          |            "name": "Profile name",
          |            "selected": false,
          |            ...
          |        },
          |        ...
          |    ]
          |}
        {{/indented_json}}

        {{! ================================================================================ }}

        <h2 id="complex_modifications-data-structure">complex_modifications in <b>karabiner.json &gt; profiles</b></h2>

        {{#indented_json}}
          |{
          |    "complex_modifications": {
          |        "parameters": {
          |            ...
          |        },
          |        "rules": [
          |            {
          |                "description": "This description is shown in Preferences.",
          |                "manipulators": [
          |                    {
          |                        "type": "basic",
          |
          |                        "from": from event definition,
          |
          |                        "to": [
          |                            to event definition,
          |                            to event definition,
          |                            ...
          |                        ],
          |
          |                        "to_if_alone": [
          |                            to event definition,
          |                            to event definition,
          |                            ...
          |                        ],
          |
          |                        "to_if_held_down": [
          |                            to event definition,
          |                            to event definition,
          |                            ...
          |                        ],
          |
          |                        "to_after_key_up": [
          |                            to event definition,
          |                            to event definition,
          |                            ...
          |                        ],
          |
          |                        "to_delayed_action": {
          |                            "to_if_invoked": [
          |                                to event definition,
          |                                to event definition,
          |                                ...
          |                            ],
          |                            "to_if_canceled": [
          |                                to event definition,
          |                                to event definition,
          |                                ...
          |                            ]
          |                        },
          |
          |                        "conditions": [
          |                            condition definition,
          |                            condition definition,
          |                            ...
          |                        ],
          |
          |                        "parameters": {
          |                            ...
          |                        },
          |
          |                        "description": "Optional description for human"
          |                    },
          |                    {
          |                        "type": "basic",
          |                        ...
          |                    },
          |                    ...
          |                ]
          |            },
          |            {
          |                "description": "...",
          |                "manipulators": [
          |                    ...
          |                ]
          |            },
          |            ...
          |        ]
          |    }
          |}
        {{/indented_json}}
      </section>

      <section>
        <div class="page-header">
          <h1 id="complex_modifications-manipulator-priority">complex_modifications manipulator priority</h1>
        </div>

        <p>
          The manipulators are evaluated from the top to the bottom and the input event is manipulated only the first matched manipulator.
        </p>

        <p>
          In other words, if there are multiple manipulators which change the same key, the manipulator placed at the top is applied and other manipulators are ignored.
        </p>

        {{! ================================================================================ }}

        <h2>Simple Modifications and Complex Modifications</h2>

        <p>
          Simple Modifications and Complex Modifications are independent. Thus, Simple Modifications does not affect above priority.<br />
          <a href="document.html#event-modification-chaining">Input event modification chaining (Simple Modifications, Complex Modifications, Function Keys Modifications) description.</a>
        </p>
      </section>

      <section>
        <div class="page-header">
          <h1 id="complex_modifications-manipulator-definition">complex_modifications manipulator definition</h1>
        </div>

        <table class="table">
          <tbody>
            <tr>
              <th>Name</th>
              <th>Required</th>
              <th>Description</th>
            </tr>
            <tr>
              <td><code>type</code></td>
              <td><code class="required">required</code></td>
              <td>Always <code>"type": "basic"</code></td>
            </tr>
            <tr>
              <td><code>from</code></td>
              <td><code class="required">required</code></td>
              <td>
                The name of key code, consumer key code or pointing button which you want to change.
                <a href="#from-event-definition">(detail)</a>
              </td>
            </tr>
            <tr>
              <td><code>to</code></td>
              <td><code class="optional">optional</code></td>
              <td>events which are sent when you press <code>from</code> key.</td>
            </tr>
            <tr>
              <td><code>to_if_alone</code></td>
              <td><code class="optional">optional</code></td>
              <td>events which are sent when you press <code>from</code> key alone.</td>
            </tr>
            <tr>
              <td><code>to_if_held_down</code></td>
              <td><code class="optional">optional</code></td>
              <td>
                events which are sent when you hold down <code>from</code> key.
              </td>
            </tr>
            <tr>
              <td><code>to_after_key_up</code></td>
              <td><code class="optional">optional</code></td>
              <td>events which are sent after you release <code>from</code> key.</td>
            </tr>
            <tr>
              <td><code>to_delayed_action</code></td>
              <td><code class="optional">optional</code></td>
              <td>
                <code>to_delayed_action</code> sends <code>to_delayed_action &gt; to_if_invoked</code> events after 500 milliseconds at you press <code>from</code> key.<br />
                <code>to_delayed_action &gt; to_if_canceled</code> events are sent if you press another key between <code>from</code> key and to_delayed_action invoked. (<code>to_if_invoked</code> events are not sent if <code>to_if_canceled</code> events are sent.)
              </td>
            </tr>
            <tr>
              <td><code>description</code></td>
              <td><code class="optional">optional</code></td>
              <td>A manipulator description for human.</td>
            </tr>
            <tr>
              <td><code>conditions</code></td>
              <td><code class="optional">optional</code></td>
              <td>
                Manipulator is applied only if condition is matched. (The frontmost application, device, etc.)
              </td>
            </tr>
            <tr>
              <td><code>parameters</code></td>
              <td><code class="optional">optional</code></td>
              <td>
                Override parameters such as <code>to_delayed_action_delay_milliseconds</code>.
              </td>
            </tr>
          </tbody>
        </table>

        {{! ================================================================================ }}

        <h2 id="from-event-definition">from event definition</h2>

        {{#indented_json}}
          |{
          |    "key_code": "The name of key_code",
          |    "consumer_key_code": "The name of consumer_key_code",
          |    "pointing_button": "The name of pointing_button",
          |    "any": "key_code or consumer_key_code or pointing_button",
          |
          |    "modifiers": {
          |        "mandatory": [
          |            modifier,
          |            modifier,
          |            ...
          |        ],
          |        "optional": [
          |            modifier,
          |            modifier,
          |            ...
          |        ]
          |    },
          |
          |    "simultaneous": [
          |        {
          |           "key_code, consumer_key_code, pointing_button or any"
          |        },
          |        {
          |           "key_code, consumer_key_code, pointing_button or any"
          |        },
          |        ...
          |    ]
          |}
        {{/indented_json}}

        <div class="alert alert-info" role="alert">
          <p>
            Note:<br />
            <code>key_code</code>, <code>consumer_key_code</code>, <code>pointing_button</code> and <code>any</code>
            are exclusive.
            You can specify one of them.
          </p>
        </div>

        <table class="table">
          <tbody>
            <tr>
              <th>Name</th>
              <th>Required</th>
              <th>Description</th>
            </tr>
            <tr>
              <td><code>key_code</code></td>
              <td><code class="optional">optional</code></td>
              <td>
                <a href="document.html#eventviewer">You can find key_code by EventViewer.</a>
                <a href="https://github.com/tekezo/Karabiner-Elements/blob/master/src/apps/PreferencesWindow/PreferencesWindow/Resources/simple_modifications.json">(list)</a>
              </td>
            </tr>
            <tr>
              <td><code>consumer_key_code</code></td>
              <td><code class="optional">optional</code></td>
              <td></td>
            </tr>
            <tr>
              <td><code>pointing_button</code></td>
              <td><code class="optional">optional</code></td>
              <td>
                <div class="alert alert-warning" role="alert">
                  Caution:<br />
                  Be careful when manipulating <code>button1</code> to avoid losing the left click button.
                </div>
              </td>
            </tr>
            <tr>
              <td><code>any</code></td>
              <td><code class="optional">optional</code></td>
              <td>
                You can use <code>any</code> as follows.<br />
                These matches all key codes, consumer key codes or pointing buttons.
                <ul>
                  <li><code>"any": "key_code"</code></li>
                  <li><code>"any": "consumer_key_code"</code></li>
                  <li><code>"any": "pointing_button"</code></li>
                </ul>

                <div class="alert alert-warning" role="alert">
                  Caution:<br />
                  Be careful when using <code>"any": "pointing_button"</code> to avoid losing the left click button.
                </div>
              </td>
            </tr>
            <tr>
              <td><code>modifiers</code></td>
              <td><code class="optional">optional</code></td>
              <td>
                Specify modifiers. (e.g., "change control-h to delete")
                <a href="#from-event-definition-modifiers">(detail)</a>
              </td>
            </tr>
            <tr>
              <td><code>simultaneous</code></td>
              <td><code class="optional">optional</code></td>
              <td>
                <p><span class="label label-primary">Available in beta versions (since version 11.5.5)</span></p>

                Specify multiple events which are pressed simultaneously.

                <div class="alert alert-info" role="alert">
                  <p>
                    Note:<br />
                    <code>simultaneous</code> brings input event delay (50 milliseconds) in order to detect multiple input events pressed instantaneously.<br />
                    You can adjust the delay milliseconds by <code>parameters &gt; basic.simultaneous_threshold_milliseconds</code>.<br />
                  </p>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <h3 id="from-event-definition-modifiers">modifiers in from event definition</h3>

        <code>modifiers</code> works as follows.

        <table class="table">
          <tbody>
            <tr>
              <th>When <code>modifiers</code> is omitted</th>
              <td>
                Events are manipulated only if modifier keys are not pressed.
              </td>
            </tr>
            <tr>
              <th>When <code>modifiers &gt; mandatory</code> is specified</th>
              <td>
                Events are manipulated if mandatory modifiers are pressed. <br />
                Mandatory modifiers are omitted from <code>to events</code>.
              </td>
            </tr>
            <tr>
              <th>When <code>modifiers &gt; optional</code> is specified</th>
              <td>
                Events are also manipulated even if optional modifiers are pressed.<br />
                Optional modifiers are kept in <code>to events</code>.
              </td>
            </tr>
          </tbody>
        </table>

        <h3 id="from-event-definition-examples">Examples</h3>

        <div class="panel panel-default">
          <div class="panel-body">
            <p>Change escape to tab without <code>modifiers</code></p>

            {{#indented_json}}
              |{
              |    "type": "basic",
              |    "from": {
              |        "key_code": "escape"
              |    },
              |    "to": [
              |        {
              |            "key_code": "tab"
              |        }
              |    ]
              |}
            {{/indented_json}}

            <table class="table">
              <tbody>
                <tr>
                  <th>key</th>
                  <th>manipulated</th>
                  <th>result</th>
                </tr>
                <tr>
                  <td>escape</td>
                  <td><b>manipulated</b></td>
                  <td>tab</td>
                </tr>
                <tr>
                  <td>left_shift + escape</td>
                  <td>not manipulated</td>
                  <td>left_shift + escape</td>
                </tr>
                <tr>
                  <td>left_control + escape</td>
                  <td>not manipulated</td>
                  <td>left_control + escape</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <p>Change escape to tab with <code>optional modifiers</code></p>

            {{#indented_json}}
              |{
              |    "type": "basic",
              |    "from": {
              |        "key_code": "escape",
              |        "modifiers": {
              |            "optional": [
              |                "left_shift",
              |                "left_control"
              |            ]
              |        }
              |    },
              |    "to": [
              |        {
              |            "key_code": "tab"
              |        }
              |    ]
              |}
            {{/indented_json}}

            <table class="table">
              <tbody>
                <tr>
                  <th>key</th>
                  <th>manipulated</th>
                  <th>result</th>
                </tr>
                <tr>
                  <td>escape</td>
                  <td><b>manipulated</b></td>
                  <td>tab</td>
                </tr>
                <tr>
                  <td>left_shift + escape</td>
                  <td><b>manipulated</b></td>
                  <td>left_shift + tab</td>
                </tr>
                <tr>
                  <td>left_control + escape</td>
                  <td><b>manipulated</b></td>
                  <td>left_control + tab</td>
                </tr>
                <tr>
                  <td>left_option + escape</td>
                  <td>not manipulated</td>
                  <td>left_option + escape</td>
                </tr>
                <tr>
                  <td>left_shift + left_option + escape</td>
                  <td>not manipulated</td>
                  <td>
                    left_shift + left_option + escape<br />
                    (because left_option is not in optional modifiers)
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <p>Change control-h to delete without <code>optional modifiers</code></p>

            {{#indented_json}}
              |{
              |    "type": "basic",
              |    "from": {
              |        "key_code": "h",
              |        "modifiers": {
              |            "mandatory": [
              |                "control"
              |            ]
              |        }
              |    },
              |    "to": [
              |        {
              |            "key_code": "delete_or_backspace"
              |        }
              |    ]
              |}
            {{/indented_json}}

            <table class="table">
              <tbody>
                <tr>
                  <th>key</th>
                  <th>manipulated</th>
                  <th>result</th>
                </tr>
                <tr>
                  <td>h</td>
                  <td>not manipulated</td>
                  <td>h</td>
                </tr>
                <tr>
                  <td>left_control + h</td>
                  <td><b>manipulated</b></td>
                  <td>delete_or_backspace</td>
                </tr>
                <tr>
                  <td>left_control + left_option + h</td>
                  <td>not manipulated</td>
                  <td>
                    left_control + left_option + h<br />
                    (because left_option is not in optional modifiers)
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <p>Change control-h to delete with <code>optional modifiers</code></p>

            {{#indented_json}}
              |{
              |    "type": "basic",
              |    "from": {
              |        "key_code": "h",
              |        "modifiers": {
              |            "mandatory": [
              |                "control"
              |            ],
              |            "optional": [
              |                "caps_lock",
              |                "option"
              |            ]
              |        }
              |    },
              |    "to": [
              |        {
              |            "key_code": "delete_or_backspace"
              |        }
              |    ]
              |}
            {{/indented_json}}

            <table class="table">
              <tbody>
                <tr>
                  <th>key</th>
                  <th>manipulated</th>
                  <th>result</th>
                </tr>
                <tr>
                  <td>h</td>
                  <td>not manipulated</td>
                  <td>h</td>
                </tr>
                <tr>
                  <td>left_control + h</td>
                  <td><b>manipulated</b></td>
                  <td>delete_or_backspace</td>
                </tr>
                <tr>
                  <td>left_control + left_option + h</td>
                  <td><b>manipulated</b></td>
                  <td>left_option + delete_or_backspace</td>
                </tr>
                <tr>
                  <td>left_control + left_shift + h</td>
                  <td>not manipulated</td>
                  <td>
                    left_control + left_shift + h<br />
                    (because left_shift is not in optional modifiers)
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <h3 id="from-event-definition-modifiers-list">The list of modifiers in from definition</h3>

        <table class="table">
          <tbody>
            <tr>
              <th>name</th>
              <th>description</th>
            </tr>
            <tr>
              <td><code>caps_lock</code></td>
              <td></td>
            </tr>
            <tr>
              <td><code>left_command</code></td>
              <td></td>
            </tr>
            <tr>
              <td><code>left_control</code></td>
              <td></td>
            </tr>
            <tr>
              <td><code>left_option</code></td>
              <td></td>
            </tr>
            <tr>
              <td><code>left_shift</code></td>
              <td></td>
            </tr>
            <tr>
              <td><code>right_command</code></td>
              <td></td>
            </tr>
            <tr>
              <td><code>right_control</code></td>
              <td></td>
            </tr>
            <tr>
              <td><code>right_option</code></td>
              <td></td>
            </tr>
            <tr>
              <td><code>right_shift</code></td>
              <td></td>
            </tr>
            <tr>
              <td><code>fn</code></td>
              <td></td>
            </tr>
            <tr>
              <td><code>command</code></td>
              <td>left command or right command</td>
            </tr>
            <tr>
              <td><code>control</code></td>
              <td>left control or right control</td>
            </tr>
            <tr>
              <td><code>option</code></td>
              <td>left option or right option</td>
            </tr>
            <tr>
              <td><code>shift</code></td>
              <td>left shift or right shift</td>
            </tr>
            <tr>
              <td><code>any</code></td>
              <td>any modifiers</td>
            </tr>
          </tbody>
        </table>

        {{! ================================================================================ }}

        <h2 id="to-event-definition">to event definition</h2>

        {{#indented_json}}
          |{
          |    "key_code": "The name of key_code",
          |    "consumer_key_code": "The name of consumer_key_code",
          |    "pointing_button": "The name of pointing_button",
          |
          |    "shell_command": "shell command",
          |
          |    "select_input_source": {
          |        "language": "language regex",
          |        "input_source_id": "input source id regex",
          |        "input_mode_id": "input mode id regex"
          |    },
          |
          |    "set_variable": {
          |        "name": "variable name",
          |        "value": "variable value"
          |    },
          |
          |    "mouse_key": mouse_key definition,
          |
          |    "modifiers": [
          |        modifier,
          |        modifier,
          |        ...
          |    ],
          |
          |    "lazy": false,
          |    "repeat": true
          |}
        {{/indented_json}}

        <div class="alert alert-info" role="alert">
          <p>
            Note:<br />
            <code>key_code</code>, <code>consumer_key_code</code>, <code>pointing_button</code>,
            <code>shell_command</code>, <code>select_input_source</code> and <code>set_variable</code>
            are exclusive.
            You can specify one of them.
          </p>
        </div>

        <table class="table">
          <tbody>
            <tr>
              <th>Name</th>
              <th>Required</th>
              <th>Description</th>
            </tr>
            <tr>
              <td><code>key_code</code></td>
              <td><code class="optional">optional</code></td>
              <td>
                <a href="document.html#eventviewer">You can find key_code by EventViewer.</a>
                <a href="https://github.com/tekezo/Karabiner-Elements/blob/master/src/apps/PreferencesWindow/PreferencesWindow/Resources/simple_modifications.json">(list)</a>
              </td>
            </tr>
            <tr>
              <td><code>consumer_key_code</code></td>
              <td><code class="optional">optional</code></td>
              <td></td>
            </tr>
            <tr>
              <td><code>pointing_button</code></td>
              <td><code class="optional">optional</code></td>
              <td></td>
            </tr>
            <tr>
              <td><code>shell_command</code></td>
              <td><code class="optional">optional</code></td>
              <td></td>
            </tr>
            <tr>
              <td><code>select_input_source</code></td>
              <td><code class="optional">optional</code></td>
              <td>
                You can find the current input source identifiers by <b>EventViewer &gt; Variables tab</b>.<br />
                <code>language</code>, <code>input_source_id</code> and <code>input_mode_id</code> are optional.
                <code>select_input_source</code> finds the input source by the specified regexs.
              </td>
            </tr>
            <tr>
              <td><code>set_variable</code></td>
              <td><code class="optional">optional</code></td>
              <td>
                Set internal variable value by <code>set_variable</code>.<br />
                It's designed to use with <code>variable_if</code> and <code>variable_unless</code> conditions.<br />
                You can confirm the current variables state in <b>EventViewer &gt; Variables tab</b>.
              </td>
            </tr>
            <tr>
              <td><code>mouse_key</code></td>
              <td><code class="optional">optional</code></td>
              <td>
                Move mouse pointer and scroll by <code>mouse_key</code>.<br />
                You can specify operations by combination of follows.<br />
                <ul>
                  <li><code>{ "x": speed }</code></li>
                  <li><code>{ "y": speed }</code></li>
                  <li><code>{ "vertical_wheel": speed }</code></li>
                  <li><code>{ "horizontal_wheel": speed }</code></li>
                  <li><code>{ "speed_multiplier": 1.0 }</code></li>
                </ul>

                Examples:<br />
                <ul>
                  <li>move left: <code>{ "mouse_key": { "x": -1536 } }</code></li>
                  <li>move right: <code>{ "mouse_key": { "x": 1536 } }</code></li>
                  <li>move up: <code>{ "mouse_key": { "y": -1536 } }</code></li>
                  <li>move down: <code>{ "mouse_key": { "y": 1536 } }</code></li>
                  <li>scroll left: <code>{ "mouse_key": { "horizontal_wheel": 32 } }</code></li>
                  <li>scroll right: <code>{ "mouse_key": { "horizontal_wheel": -32 } }</code></li>
                  <li>scroll up: <code>{ "mouse_key": { "vertical_wheel": -32 } }</code></li>
                  <li>scroll down: <code>{ "mouse_key": { "vertical_wheel": 32 } }</code></li>
                </ul>

                <ul>
                  <li>fast move left: <code>{ "mouse_key": { "x": -3072 } }</code></li>
                  <li>fast move right: <code>{ "mouse_key": { "x": 3072 } }</code></li>
                  <li>fast move up: <code>{ "mouse_key": { "y": -3072 } }</code></li>
                  <li>fast move down: <code>{ "mouse_key": { "y": 3072 } }</code></li>
                  <li>fast scroll left: <code>{ "mouse_key": { "horizontal_wheel": 64 } }</code></li>
                  <li>fast scroll right: <code>{ "mouse_key": { "horizontal_wheel": -64 } }</code></li>
                  <li>fast scroll up: <code>{ "mouse_key": { "vertical_wheel": -64 } }</code></li>
                  <li>fast scroll down: <code>{ "mouse_key": { "vertical_wheel": 64 } }</code></li>
                </ul>

                <ul>
                  <li>speed multiplier x2: <code>{ "mouse_key": { "speed_multiplier": 2.0 } }</code></li>
                  <li>speed multiplier /2: <code>{ "mouse_key": { "speed_multiplier": 0.5 } }</code></li>
                </ul>

                <div class="alert alert-info" role="alert">
                  Note:<br />
                  Speed and direction depend on <b>System Preferences &gt; Mouse</b> configuration.
                </div>
              </td>
            </tr>
            <tr>
              <td><code>modifiers</code></td>
              <td><code class="optional">optional</code></td>
              <td>
                Specify modifiers.
              </td>
            </tr>
            <tr>
              <td><code>lazy</code></td>
              <td><code class="optional">optional</code></td>
              <td>
                <p>
                  <code>true</code> or <code>false</code>. The default value is <code>false</code>.
                </p>
                <p>
                  <code>lazy</code> parameter works with modifier. (e.g., <code>"key_code": "left_shift"</code>)<br />
                  When <code>"lazy": true</code>, the modifier works as the lazy modifier.<br />
                  The lazy modifier does not send own key events until another key is pressed together.
                </p>
              </td>
            </tr>
            <tr>
              <td><code>repeat</code></td>
              <td><code class="optional">optional</code></td>
              <td>
                <p>
                  <code>true</code> or <code>false</code>. The default value is <code>true</code>.
                </p>
                <p>
                  When <code>"repeat": false</code>, both <b>key_down</b> and <b>key_up</b> events are sent when you press the key.<br />
                  (When <code>"repeat": true</code>, <b>key_up</b> event is sent when you release the key.)
                </p>
                <p>
                  This behavior suppresses the key repeating when <code>"repeat": false</code>.
                </p>
                <div class="alert alert-info" role="alert">
                  Note:<br />
                  When you want to use <code>"repeat": false</code>, you have to set <code>repeat</code> in the last to event if you have multiple to events in a manipulator.
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <h3 id="to-event-definition-modifiers-list">The list of modifiers in to definition</h3>

        <ul>
          <li><code>caps_lock</code></li>
          <li><code>left_command</code></li>
          <li><code>left_control</code></li>
          <li><code>left_option</code></li>
          <li><code>left_shift</code></li>
          <li><code>right_command</code></li>
          <li><code>right_control</code></li>
          <li><code>right_option</code></li>
          <li><code>right_shift</code></li>
          <li><code>fn</code></li>
        </ul>

        {{! ================================================================================ }}

        <h2 id="to-if-alone">Detail of <code>to_if_alone</code></h2>

        <p>
          <code>to_if_alone</code> posts events when the <b>from key</b> is pressed alone.<br />
          The events are posted at the <b>from key</b> is released.
        </p>

        <h3>About cancellation</h3>

        <p>
          <code>to_if_alone</code> is canceled if other events (keys, buttons or scroll wheel) is happen while the <b>from key</b> is pressed down.
        </p>
        <p>
          The cancellation also happens when you press <b>from key</b> long. (The default timeout is 1000 milliseconds.)<br />
          You can adjust the timeout milliseconds by <code>parameters &gt; basic.to_if_alone_timeout_milliseconds</code>.<br />
          The following examples set the timeout 500 milliseconds.
        </p>

        {{#indented_json}}
          |{
          |    "from": ...,
          |    "to": ...,
          |    "to_if_alone": [
          |        {
          |            "key_code": "escape"
          |        }
          |    ],
          |    "parameters": {
          |        "basic.to_if_alone_timeout_milliseconds": 500
          |    },
          |    "type": "basic"
          |}
        {{/indented_json}}

        <h3>About key repeat</h3>

        <p>
          <code>to_if_alone</code> posts both <b>key_down</b> and <b>key_up</b> events at the same time.<br />
          Thus, you cannot use key repeat for <code>to_if_alone</code> events.
        </p>

        {{! ================================================================================ }}

        <h2 id="to-if-held-down">Detail of <code>to_if_held_down</code></h2>

        <p>
          <code>to_if_held_down</code> posts events when the <b>from key</b> is held down.<br />
        </p>

        <p>
          If <code>to</code> events are specified, <code>to</code> events are released before <code>to_if_held_down</code> are posted.
        </p>

        {{! ================================================================================ }}

        <h2 id="condition-definition">condition definition</h2>

        <h3 id="condition-definition-frontmost-application"><code>frontmost_application_if</code> and <code>frontmost_application_unless</code></h3>

        {{#indented_json}}
          |{
          |    "type": "frontmost_application_if",
          |    "bundle_identifiers": [
          |        bundle identifier regex,
          |        bundle identifier regex,
          |        ...
          |    ],
          |    "file_paths": [
          |        file path regex,
          |        file path regex,
          |        ...
          |    ]
          |}
        {{/indented_json}}

        <table class="table">
          <tbody>
            <tr>
              <th>Name</th>
              <th>Required</th>
              <th>Description</th>
            </tr>
            <tr>
              <td><code>type</code></td>
              <td><code class="required">required</code></td>
              <td>
                Either:
                <ul>
                  <li><code>"type": "frontmost_application_if"</code></li>
                  <li><code>"type": "frontmost_application_unless"</code></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td><code>bundle_identifiers</code></td>
              <td><code class="optional">optional</code></td>
              <td>
                bundle identifier regexs.<br />
                You can examine application's bundle identifier in <b>EventViewer &gt; Frontmost Application tab</b>.
              </td>
            </tr>
            <tr>
              <td><code>file_paths</code></td>
              <td><code class="optional">optional</code></td>
              <td>
                file path regexs.<br />
                You can examine application's file path in <b>EventViewer &gt; Frontmost Application tab</b>.
              </td>
            </tr>
            <tr>
              <td><code>description</code></td>
              <td><code class="optional">optional</code></td>
              <td>A condition description for human.</td>
            </tr>
          </tbody>
        </table>

        <h3 id="condition-definition-device"><code>device_if</code> and <code>device_unless</code></h3>

        {{#indented_json}}
          |{
          |    "type": "device_if",
          |    "identifiers": [
          |        {
          |            "vendor_id": 1111,
          |            "product_id": 2222,
          |            "description": "my keyboard 1"
          |        },
          |        {
          |            "vendor_id": 3333,
          |            "product_id": 4444,
          |            "description": "my keyboard 2"
          |        },
          |        ...
          |    ]
          |}
        {{/indented_json}}

        <table class="table">
          <tbody>
            <tr>
              <th>Name</th>
              <th>Required</th>
              <th>Description</th>
            </tr>
            <tr>
              <td><code>type</code></td>
              <td><code class="required">required</code></td>
              <td>
                Either:
                <ul>
                  <li><code>"type": "device_if"</code></li>
                  <li><code>"type": "device_unless"</code></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td><code>identifiers</code></td>
              <td><code class="required">required</code></td>
              <td>
                <p>
                  Target device designation by the following identifiers.<br />
                  You can examine them in <b>EventViewer &gt; Devices tab</b>.
                </p>

                <ul>
                  <li><code>vendor_id</code></li>
                  <li><code>product_id</code></li>
                  <li><code>location_id</code></li>
                  <li><code>is_keyboard</code></li>
                  <li><code>is_pointing_device</code></li>
                </ul>

                <p>
                  All identifiers are optional.
                </p>
              </td>
            </tr>
            <tr>
              <td><code>description</code></td>
              <td><code class="optional">optional</code></td>
              <td>A condition description for human.</td>
            </tr>
          </tbody>
        </table>

        <h3 id="condition-definition-keyboard-type"><code>keyboard_type_if</code> and <code>keyboard_type_unless</code></h3>

        {{#indented_json}}
          |{
          |    "type": "keyboard_type_if",
          |    "keyboard_types": [
          |        "ansi",
          |        "iso"
          |    ]
          |}
        {{/indented_json}}

        <div class="alert alert-info" role="alert">
          It's useful for supporting "change control-[ to escape" with all keyboard types.
          <a href="https://github.com/pqrs-org/KE-complex_modifications/blob/master/docs/json/example_keyboard_type.json">(example json)</a><br />
          Some characters have different key code for each keyboard types.<br />
          (e,g,. <b>[</b> is <code>open_bracket</code> on <b>ansi</b> and <b>iso</b>, <code>close_bracket</code> on <b>jis</b>.)
        </div>

        <table class="table">
          <tbody>
            <tr>
              <th>Name</th>
              <th>Required</th>
              <th>Description</th>
            </tr>
            <tr>
              <td><code>type</code></td>
              <td><code class="required">required</code></td>
              <td>
                Either:
                <ul>
                  <li><code>"type": "keyboard_type_if"</code></li>
                  <li><code>"type": "keyboard_type_unless"</code></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td><code>keyboard_types</code></td>
              <td><code class="required">required</code></td>
              <td>
                Target keyboard types.
                <ul>
                  <li><code>ansi</code></li>
                  <li><code>iso</code></li>
                  <li><code>jis</code></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td><code>description</code></td>
              <td><code class="optional">optional</code></td>
              <td>A condition description for human.</td>
            </tr>
          </tbody>
        </table>

        <h3 id="condition-definition-input-source"><code>input_source_if</code> and <code>input_source_unless</code></h3>

        {{#indented_json}}
          |{
          |    "type": "input_source_if",
          |    "input_sources": [
          |        {
          |            "language": "language regex",
          |            "input_source_id": "input source id regex",
          |            "input_mode_id": "input mode id regex"
          |        },
          |        {
          |            "language": "language regex",
          |            "input_source_id": "input source id regex",
          |            "input_mode_id": "input mode id regex"
          |        },
          |        ...
          |    ]
          |}
        {{/indented_json}}

        <table class="table">
          <tbody>
            <tr>
              <th>Name</th>
              <th>Required</th>
              <th>Description</th>
            </tr>
            <tr>
              <td><code>type</code></td>
              <td><code class="required">required</code></td>
              <td>
                Either:
                <ul>
                  <li><code>"type": "input_source_if"</code></li>
                  <li><code>"type": "input_source_unless"</code></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td><code>input_sources</code></td>
              <td><code class="required">required</code></td>
              <td>
                <p>
                  Target input source definitions.<br />
                  You can find the current input source identifiers by <b>EventViewer &gt; Variables tab</b>.<br />
                </p>
                <p>
                  <code>language</code>, <code>input_source_id</code> and <code>input_mode_id</code> are optional.
                </p>
              </td>
            </tr>
            <tr>
              <td><code>description</code></td>
              <td><code class="optional">optional</code></td>
              <td>A condition description for human.</td>
            </tr>
          </tbody>
        </table>

        <h3 id="condition-definition-variable"><code>variable_if</code> and <code>variable_unless</code></h3>

        {{#indented_json}}
          |{
          |    "type": "variable_if",
          |    "name": "variable name",
          |    "value": variable value
          |}
        {{/indented_json}}

        <div class="alert alert-info" role="alert">
          <code>variable_if</code> and <code>variable_unless</code> are designed to use with <code>set_variable</code>.
        </div>

        <table class="table">
          <tbody>
            <tr>
              <th>Name</th>
              <th>Required</th>
              <th>Description</th>
            </tr>
            <tr>
              <td><code>type</code></td>
              <td><code class="required">required</code></td>
              <td>
                Either:
                <ul>
                  <li><code>"type": "variable_if"</code></li>
                  <li><code>"type": "variable_unless"</code></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td><code>name</code></td>
              <td><code class="required">required</code></td>
              <td>
                Target variable name.
              </td>
            </tr>
            <tr>
              <td><code>value</code></td>
              <td><code class="required">required</code></td>
              <td>
                Target variable value.
              </td>
            </tr>
            <tr>
              <td><code>description</code></td>
              <td><code class="optional">optional</code></td>
              <td>A condition description for human.</td>
            </tr>
          </tbody>
        </table>
      </section>

    </div>
    <div class="col-md-3">
      {{> ../../pqrs_tabs }}
    </div>
  </div>
</div>
