<div class="container">
  <header>
    <div class="jumbotron">
      <h1>NoEjectDelay</h1>

      <ul>
        {{#language_en}}
          <li>NoEjectDelay eliminates the eject key delay.</li>
          <li>
            NoEjectDelay disables F12Eject feature.<br />
            (Fix peculiar behavior of f12 key in non-Apple keyboards.)
          </li>
        {{/language_en}}
        {{#language_ja}}
          <li>NoEjectDelayはEjectキーの遅延を無効化します。</li>
          <li>
            NoEjectDelayはF12Eject機能を無効化します。<br />
            （アップル製のキーボード以外でのf12キーの奇妙な挙動を改善します。）
          </li>
        {{/language_ja}}
      </ul>

      <p>
        {{#strip_html}}
          <a class="btn btn-primary btn-lg"
            href="files/NoEjectDelay-7.1.0.dmg">
            {{#language_en}}
              Download NoEjectDelay-7.1.0
            {{/language_en}}
            {{#language_ja}}
              NoEjectDelay-7.1.0をダウンロード
            {{/language_ja}}
            &nbsp;
            <span class="label label-default">
              {{#language_en}}
                For OS X 10.11
              {{/language_en}}
              {{#language_ja}}
                OS X 10.11用
              {{/language_ja}}
            </span>
          </a>
        {{/strip_html}}
      </p>

      <p>
        <a href="https://github.com/tekezo/NoEjectDelay/blob/master/LICENSE.md" target="_blank">
        <img src="/img/icon/license-public-domain.svg" alt="Public Domain" />
        </a>
      </p>

      <div class="alert alert-danger" role="alert">
        {{#language_en}}
          NoEjectDelay does not work on macOS Sierra.
        {{/language_en}}
        {{#language_ja}}
          NoEjectDelayはmacOS Sierraでは動作しません。
        {{/language_ja}}
      </div>

      <div class="alert alert-warning" role="alert">
        {{#language_en}}
          About Sparkle Updater Vulnerability:<br />
          NoEjectDelay is safe from <a href="https://sparkle-project.org/documentation/security/" class="alert-link" target="_blank">the Sparkle Updater Vulnerability</a>
          because NoEjectDelay uses HTTPS for feeds and files.
        {{/language_en}}
        {{#language_ja}}
          Sparkleフレームワークの脆弱性について:<br />
          NoEjectDelayはフィードやファイルにHTTPSを用いているので、<a href="https://sparkle-project.org/documentation/security/" class="alert-link" target="_blank">Sparkleフレームワークの脆弱性</a>の影響を受けません。安全にソフトウェア更新を行えます。
        {{/language_ja}}
      </div>

      <p style="margin-left: 1em">
        <small>
          <a href="#history">
            {{#language_en}}
              old versions and version history
            {{/language_en}}
            {{#language_ja}}
              古いバージョンのダウンロード・更新履歴
            {{/language_ja}}
          </a>
        </small>
      </p>

      <hr />

      <p>
        {{#strip_html}}
          <a class="btn btn-default"
            href="files/NoEjectDelay-6.1.0.dmg">
            {{#language_en}}
              Download NoEjectDelay-6.1.0
            {{/language_en}}
            {{#language_ja}}
              NoEjectDelay-6.1.0をダウンロード
            {{/language_ja}}
            &nbsp;
            <span class="label label-default">
              {{#language_en}}
                For OS X 10.10, 10.9
              {{/language_en}}
              {{#language_ja}}
                OS X 10.10、10.9用
              {{/language_ja}}
            </span>
          </a>
        {{/strip_html}}
      </p>
      <p>
        {{#strip_html}}
          <a class="btn btn-default"
            href="files/NoEjectDelay-5.4.0.dmg">
            {{#language_en}}
              Download NoEjectDelay-5.4.0
            {{/language_en}}
            {{#language_ja}}
              NoEjectDelay-5.4.0をダウンロード
            {{/language_ja}}
            &nbsp;
            <span class="label label-default">
              {{#language_en}}
                For OS X 10.8
              {{/language_en}}
              {{#language_ja}}
                OS X 10.8用
              {{/language_ja}}
            </span>
          </a>
        {{/strip_html}}
      </p>
      <p>
        {{#strip_html}}
          <a class="btn btn-default"
            href="files/NoEjectDelay-4.1.0.dmg">
            {{#language_en}}
              Download NoEjectDelay-4.1.0
            {{/language_en}}
            {{#language_ja}}
              NoEjectDelay-4.1.0をダウンロード
            {{/language_ja}}
            &nbsp;
            <span class="label label-default">
              {{#language_en}}
                For OS X 10.7
              {{/language_en}}
              {{#language_ja}}
                OS X 10.7用
              {{/language_ja}}
            </span>
          </a>
        {{/strip_html}}
      </p>
      <p>
        {{#strip_html}}
          <a class="btn btn-default"
            href="files/NoEjectDelay-3.6.0.dmg">
            {{#language_en}}
              Download NoEjectDelay-3.6.0
            {{/language_en}}
            {{#language_ja}}
              NoEjectDelay-3.6.0をダウンロード
            {{/language_ja}}
            &nbsp;
            <span class="label label-default">
              {{#language_en}}
                For OS X 10.6
              {{/language_en}}
              {{#language_ja}}
                OS X 10.6用
              {{/language_ja}}
            </span>
          </a>
        {{/strip_html}}
      </p>
      <p>
        {{#strip_html}}
          <a class="btn btn-default"
            href="files/NoEjectDelay-1.1.0.pkg.tar.gz">
            {{#language_en}}
              Download NoEjectDelay-1.1.0
            {{/language_en}}
            {{#language_ja}}
              NoEjectDelay-1.1.0をダウンロード
            {{/language_ja}}
            &nbsp;
            <span class="label label-default">
              {{#language_en}}
                For OS X 10.5, 10.4
              {{/language_en}}
              {{#language_ja}}
                OS X 10.5、10.4用
              {{/language_ja}}
            </span>
          </a>
        {{/strip_html}}
      </p>
    </div>
  </header>

  <div class="row">
    <div class="col-md-9 pqrs-docs-container">
      <section>
        <div class="page-header">
          <h1 id="installation">
            {{#language_en}}
              Installation
            {{/language_en}}
            {{#language_ja}}
              インストール方法
            {{/language_ja}}
          </h1>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="col-show-grid">
              <h2>Step 1</h2>

              <p>
                {{#language_en}}
                  Open a downloaded dmg file, and then open a pkg file in dmg.
                {{/language_en}}
                {{#language_ja}}
                  ダウンロードしたdmgファイルを開き、dmgの中のpkgファイルを開きます。
                {{/language_ja}}
              </p>
              <p>
                <img
                alt="dmg"
                {{#imgsrc}}
                  ../images/dmg-icon@2x.png
                {{/imgsrc}}
                />
                <img
                alt="pkg"
                {{#imgsrc}}
                  ../images/pkg-icon@2x.png
                {{/imgsrc}}
                />
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="col-show-grid">
              <h2>Step 2</h2>

              <p>
                {{#language_en}}
                  Installer is launched. Install NoEjectDelay.
                {{/language_en}}
                {{#language_ja}}
                  インストーラが起動しますので、NoEjectDelayをインストールします。
                {{/language_ja}}
              </p>
              {{#lightbox}}
                img/noejectdelay-installer@2x.png Installer
              {{/lightbox}}
              <br />
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="page-header">
          <h1 id="usage">
            {{#language_en}}
              Usage
            {{/language_en}}
            {{#language_ja}}
              使い方
            {{/language_ja}}
          </h1>
        </div>

        <p>
          {{#language_en}}
            No configuration required.
            <br />
            NoEjectDelay becomes effective immediately after installation has completed.
          {{/language_en}}
          {{#language_ja}}
            設定は必要ありません。インストールが完了した直後に有効になります。
          {{/language_ja}}
        </p>
      </section>

      <section>
        <div class="page-header">
          <h1 id="show-version">
            {{#language_en}}
              How to know the installed version
            {{/language_en}}
            {{#language_ja}}
              インストール済みのバージョンを知る方法
            {{/language_ja}}
          </h1>
        </div>

        <p>
          {{#language_en}}
            You can confirm NoEjectDelay version by "NoEjectDelay Utility.app".
          {{/language_en}}
          {{#language_ja}}
            「NoEjectDelay Utility.app」からバージョンを確認できます。
          {{/language_ja}}
        </p>

        <ol class="steps">
          <li>
            <p>
              {{#language_en}}
                Open "NoEjectDelay Utility" from Launchpad.
              {{/language_en}}
              {{#language_ja}}
                Launchpadから「NoEjectDelay Utility」を開きます。
              {{/language_ja}}
            </p>
            <p>
              <img
              alt="icon"
              {{#imgsrc}}
                img/noejectdelay-icon@2x.png
              {{/imgsrc}}
              />
            </p>
          </li>
          <li>
            <p>
              {{#language_en}}
                Then, you can confirm the version.
              {{/language_en}}
              {{#language_ja}}
                バージョンを確認できます。
              {{/language_ja}}
            </p>
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/noejectdelay-version@2x.png NoEjectDelay Utility.app
                {{/lightbox}}
              </div>
            </div>
          </li>
        </ol>
      </section>

      <section>
        <div class="page-header">
          <h1 id="uninstall">
            {{#language_en}}
              Uninstall
            {{/language_en}}
            {{#language_ja}}
              アンインストール方法
            {{/language_ja}}
          </h1>
        </div>

        <p>
          {{#language_en}}
            You can uninstall NoEjectDelay by "NoEjectDelay Utility.app".
          {{/language_en}}
          {{#language_ja}}
            「NoEjectDelay Utility.app」からアンインストールできます。
          {{/language_ja}}
        </p>

        <ol class="steps">
          <li>
            <p>
              {{#language_en}}
                Open "NoEjectDelay Utility" from Launchpad.
              {{/language_en}}
              {{#language_ja}}
                Launchpadから「NoEjectDelay Utility」を開きます。
              {{/language_ja}}
            </p>
            <p>
              <img
              alt="icon"
              {{#imgsrc}}
                img/noejectdelay-icon@2x.png
              {{/imgsrc}}
              />
            </p>
          </li>
          <li>
            <p>
              {{#language_en}}
                Then, press "Launch uninstaller" button.
              {{/language_en}}
              {{#language_ja}}
                「Launch uninstaller」ボタンを押してください。
              {{/language_ja}}
            </p>
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/noejectdelay-uninstall@2x.png NoEjectDelay Utility.app
                {{/lightbox}}
              </div>
            </div>
          </li>
        </ol>
      </section>

      <section>
        <div class="page-header">
          <h1 id="faq">
            {{#language_en}}
              Q&amp;A
            {{/language_en}}
            {{#language_ja}}
              Q&amp;A
            {{/language_ja}}
          </h1>
        </div>

        <h2>
          {{#language_en}}
            NoEjectDelay does not work on developer-only beta of OS X. Why?
          {{/language_en}}
          {{#language_ja}}
            NoEjectDelayが開発者向けのベータ版のOS Xで動作しません。なぜですか？
          {{/language_ja}}
        </h2>
        <p>
          {{#language_en}}
            We need to modify secret values of OS X to performs purpose of NoEjectDelay.
          {{/language_en}}
          {{#language_ja}}
            NoEjectDelayの機能を実現させるにはOS Xの隠された値を変更する必要があります。
          {{/language_ja}}
        </p>
        <p>
          {{#language_en}}
            It requires SDK for new OS X.
            However, SDK will not be published until new OS X is shipped.<br />
            Therefore, NoEjectDelay is intentionally disabled on beta version of OS X.
          {{/language_en}}
          {{#language_ja}}
            これには新しいOS X向けのSDKが必要です。ですが、SDKは新しいOS Xがリリースされるまでは公開されません。そのため、NoEjectDelayは意図的にベータ版のOS Xでは動かないようにしています。
          {{/language_ja}}
        </p>
        <p>
          {{#language_en}}
            Please wait until new OS X is shipped from Apple.
            And please wait new version of NoEjectDelay for new OS X.
          {{/language_en}}
          {{#language_ja}}
            Appleから新しいOS Xがリリースされ、新しいOS X向けのNoEjectDelayがリリースされるまでお待ちください。
          {{/language_ja}}
        </p>
      </section>

      <section>
        <div class="page-header">
          <h1 id="history">
            {{#language_en}}
              Version History
            {{/language_en}}
            {{#language_ja}}
              更新履歴
            {{/language_ja}}
          </h1>
        </div>

        {{#histories}}
          <h2>
            Version {{version}}
            {{#updated}}
              <small>
                {{#format_date}}
                  {{updated}}
                {{/format_date}}
              </small>
            {{/updated}}

            {{#link}}
              <a class="btn btn-default" href="{{link}}">
                {{#language_en}}
                  Download
                {{/language_en}}
                {{#language_ja}}
                  ダウンロード
                {{/language_ja}}
              </a>
            {{/link}}
          </h2>
          <div style="margin-left: 2em">
            {{{body_l10n}}}
          </div>
        {{/histories}}
      </section>
    </div>
    <div class="col-md-3">
      {{> ../../pqrs_tabs }}
    </div>
  </div>
</div>
