<div class="alert alert-danger" role="alert" id="page-top-fixed-alert">
  This application is for older macOS.<br />
</div>

<div class="container">
  <header>
    <div class="jumbotron">
      <h1>NoEjectDelay</h1>

      <ul>
        <li>NoEjectDelay eliminates the eject key delay.</li>
        <li>
          NoEjectDelay disables F12Eject feature.<br />
          (Fix peculiar behavior of f12 key in non-Apple keyboards.)
        </li>
      </ul>

      <p>
        {{#strip_html}}
          <a class="btn btn-primary btn-lg"
            href="files/NoEjectDelay-7.1.0.dmg">
            Download NoEjectDelay-7.1.0
            &nbsp;
            <span class="label label-default">
              For OS X 10.11
            </span>
          </a>
        {{/strip_html}}
      </p>

      <p>
        <a href="https://github.com/tekezo/NoEjectDelay/blob/master/LICENSE.md" target="_blank">
        <img src="/img/icon/license-public-domain.svg" alt="Public Domain" />
        </a>
      </p>

      <div class="alert alert-danger" role="alert">
        NoEjectDelay does not work on macOS Sierra.
      </div>

      <p style="margin-left: 1em">
        <small>
          <a href="#history">
            old versions and version history
          </a>
        </small>
      </p>

      <hr />

      <p>
        {{#strip_html}}
          <a class="btn btn-default"
            href="files/NoEjectDelay-6.1.0.dmg">
            Download NoEjectDelay-6.1.0
            &nbsp;
            <span class="label label-default">
              For OS X 10.10, 10.9
            </span>
          </a>
        {{/strip_html}}
      </p>
      <p>
        {{#strip_html}}
          <a class="btn btn-default"
            href="files/NoEjectDelay-5.4.0.dmg">
            Download NoEjectDelay-5.4.0
            &nbsp;
            <span class="label label-default">
              For OS X 10.8
            </span>
          </a>
        {{/strip_html}}
      </p>
      <p>
        {{#strip_html}}
          <a class="btn btn-default"
            href="files/NoEjectDelay-4.1.0.dmg">
            Download NoEjectDelay-4.1.0
            &nbsp;
            <span class="label label-default">
              For OS X 10.7
            </span>
          </a>
        {{/strip_html}}
      </p>
      <p>
        {{#strip_html}}
          <a class="btn btn-default"
            href="files/NoEjectDelay-3.6.0.dmg">
            Download NoEjectDelay-3.6.0
            &nbsp;
            <span class="label label-default">
              For OS X 10.6
            </span>
          </a>
        {{/strip_html}}
      </p>
      <p>
        {{#strip_html}}
          <a class="btn btn-default"
            href="files/NoEjectDelay-1.1.0.pkg.tar.gz">
            Download NoEjectDelay-1.1.0
            &nbsp;
            <span class="label label-default">
              For OS X 10.5, 10.4
            </span>
          </a>
        {{/strip_html}}
      </p>
    </div>
  </header>

  <div class="row">
    <div class="col-md-9 pqrs-docs-container">
      <section>
        <div class="page-header">
          <h1 id="installation">
            Installation
          </h1>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="col-show-grid">
              <h2>Step 1</h2>

              <p>
                Open a downloaded dmg file, and then open a pkg file in dmg.
              </p>
              <p>
                <img
                alt="dmg"
                {{#imgsrc}}
                  ../images/dmg-icon@2x.png
                {{/imgsrc}}
                />
                <img
                alt="pkg"
                {{#imgsrc}}
                  ../images/pkg-icon@2x.png
                {{/imgsrc}}
                />
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="col-show-grid">
              <h2>Step 2</h2>

              <p>
                Installer is launched. Install NoEjectDelay.
              </p>
              {{#lightbox}}
                img/v10/noejectdelay-installer@2x.png Installer
              {{/lightbox}}
              <br />
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="page-header">
          <h1 id="usage">
            Usage
          </h1>
        </div>

        <p>
          No configuration required.
          <br />
          NoEjectDelay becomes effective immediately after installation has completed.
        </p>
      </section>

      <section>
        <div class="page-header">
          <h1 id="show-version">
            How to know the installed version
          </h1>
        </div>

        <p>
          You can confirm NoEjectDelay version by "NoEjectDelay Utility.app".
        </p>

        <ol class="steps">
          <li>
            <p>
              Open "NoEjectDelay Utility" from Launchpad.
            </p>
            <p>
              <img
              alt="icon"
              {{#imgsrc}}
                img/v10/noejectdelay-icon@2x.png
              {{/imgsrc}}
              />
            </p>
          </li>
          <li>
            <p>
              Then, you can confirm the version.
            </p>
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/v10/noejectdelay-version@2x.png NoEjectDelay Utility.app
                {{/lightbox}}
              </div>
            </div>
          </li>
        </ol>
      </section>

      <section>
        <div class="page-header">
          <h1 id="uninstall">
            Uninstall
          </h1>
        </div>

        <p>
          You can uninstall NoEjectDelay by "NoEjectDelay Utility.app".
        </p>

        <ol class="steps">
          <li>
            <p>
              Open "NoEjectDelay Utility" from Launchpad.
            </p>
            <p>
              <img
              alt="icon"
              {{#imgsrc}}
                img/v10/noejectdelay-icon@2x.png
              {{/imgsrc}}
              />
            </p>
          </li>
          <li>
            <p>
              Then, press "Launch uninstaller" button.
            </p>
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/v10/noejectdelay-uninstall@2x.png NoEjectDelay Utility.app
                {{/lightbox}}
              </div>
            </div>
          </li>
        </ol>
      </section>

      <section>
        <div class="page-header">
          <h1 id="faq">
            Q&amp;A
          </h1>
        </div>

        <h2>
          NoEjectDelay does not work on developer-only beta of OS X. Why?
        </h2>
        <p>
          We need to modify secret values of OS X to performs purpose of NoEjectDelay.
        </p>
        <p>
          It requires SDK for new OS X.
          However, SDK will not be published until new OS X is shipped.<br />
          Therefore, NoEjectDelay is intentionally disabled on beta version of OS X.
        </p>
        <p>
          Please wait until new OS X is shipped from Apple.
          And please wait new version of NoEjectDelay for new OS X.
        </p>
      </section>

      <section>
        <div class="page-header">
          <h1 id="history">
            Version History
          </h1>
        </div>

        {{#histories}}
          <h2>
            Version {{version}}
            {{#updated}}
              <small>
                {{#format_date}}
                  {{updated}}
                {{/format_date}}
              </small>
            {{/updated}}

            {{#link}}
              <a class="btn btn-default" href="{{link}}">
                Download
              </a>
            {{/link}}
          </h2>
          <div style="margin-left: 2em">
            {{{body}}}
          </div>
        {{/histories}}
      </section>
    </div>
    <div class="col-md-3">
      {{> ../../pqrs_tabs }}
    </div>
  </div>
</div>
