<div class="container">
  <section>
    <div class="page-header">
      <h1>
        Pricing
      </h1>
    </div>

    <p style="margin: 50px 0; font-size: 120%">
      <strong>
        Karabiner is <a href="source.html">an open source software</a> and you can use it without any purchases.
      </strong>
    </p>

    <hr />

    <h2>
      Purchase to support this project
    </h2>

    <p>
      You can pay software fee via PayPal to support this project.<br />
      (It's nearly a donation, but we can not receive a donation by japanese law and the constraints on government regulation.
      Thus, it has taken the form of software fee.)<br />
      <br />
      We does not provide any difference between purchased users and not-purchased users.<br />
      Please pay if you are interested to support this project.
    </p>

    <hr />

    <div class="row">
      <div class="col-lg-2">
        <img
        class="pull-left"
        alt="PayPal" style="margin-right: 20px"
        {{#imgsrc}}
          img/PayPal_mark_180x113.gif
        {{/imgsrc}}
        />
      </div>
      <div class="col-lg-4">
        <form action="https://www.paypal.com/cgi-bin/webscr" target="_blank" method="post">
        <input type="hidden" name="cmd" value="_xclick"/>
        <input type="hidden" name="business" value="tekezo@pqrs.org"/>
        <input type="hidden" name="lc" value="US"/>
        <input type="hidden" name="item_name" value="Karabiner for macOS"/>
        <input type="hidden" name="no_note" value="0"/>
        <input type="hidden" name="no_shipping" value="1"/>
        <input type="hidden" name="currency_code" value="USD"/>
        <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest"/>
        <input type="hidden" name="amount" value="10.00"/>

        <button type="submit" class="btn btn-primary">
          Open PayPal Payments Form (Pay $10 for Karabiner)
        </button>
        </form>
      </div>
    </div>

    <div class="alert alert-warning" role="alert" style="margin-top: 40px">
      <strong>For donors:</strong>
      <p>
        I appreciate all donors. I received your donations!
      </p>

      <p>
        I'm afraid I don't have enough time to reply for donors. <br />
        (I'm giving priority to develop Karabiner-Elements at the moment.)
      </p>

      <p class="text-right">
        Jan 1, 2018<br />
        Takayama Fumihiko
      </p>
    </div>
  </section>
</div>
