<div class="alert alert-danger" role="alert" id="page-top-fixed-alert">
  This application is for older macOS.<br />
  Please use <a href="index.html">Karabiner-Elements</a> since macOS Sierra.
</div>

<div class="container">
  <header>
    <div class="jumbotron">
      <h1>Seil</h1>

      <p>
        Utility for the caps lock key and some international keys in PC keyboards.
      </p>

      <ul>
        <li>You can change the caps lock key to another key. (eg. escape key)</li>
        <li>You can activate some international keys in PC keyboard.</li>
      </ul>

      <p>
        {{#strip_html}}
          <a class="btn btn-primary btn-lg"
            href="files/Seil-12.1.0.dmg">
            Download Seil-12.1.0
            &nbsp;
            <span class="label label-default">
              For macOS 10.11
            </span>
          </a>
        {{/strip_html}}
      </p>

      <p>
        <a href="https://github.com/tekezo/Seil/blob/master/LICENSE.md" target="_blank">
        <img src="/img/icon/license-public-domain.svg" alt="Public Domain" />
        </a>
      </p>

      <div class="alert alert-danger" role="alert">
        <strong>macOS Sierra support status</strong><br />
        <br />
        Seil functions are integraded to Karabiner-Elements. Please use Karabiner-Elements.<br />
        <br />
        <a href="https://github.com/tekezo/Karabiner-Elements/blob/master/README.md" target="_blank">https://github.com/tekezo/Karabiner-Elements/blob/master/README.md</a>
      </div>

      <p style="margin-left: 1em">
        <small>
          <a href="#history">
            old versions and version history
          </a>
        </small>
      </p>

      <hr />

      <div class="alert alert-info">
        Prior to version 10.7.0, Seil was called PCKeyboardHack.
      </div>

      <p>
        {{#strip_html}}
          <a class="btn btn-default"
            href="files/Seil-11.3.0.dmg">
            Download Seil-11.3.0
            &nbsp;
            <span class="label label-default">
              For macOS 10.10, 10.9
            </span>
          </a>
        {{/strip_html}}
      </p>

      <p>
        {{#strip_html}}
          <a class="btn btn-default"
            href="files/Seil-10.11.0.dmg">
            Download Seil-10.11.0
            &nbsp;
            <span class="label label-default">
              For macOS 10.8
            </span>
          </a>
        {{/strip_html}}
      </p>

      <p>
        {{#strip_html}}
          <a class="btn btn-default"
            href="files/PCKeyboardHack-9.0.0.dmg">
            Download PCKeyboardHack-9.0.0
            &nbsp;
            <span class="label label-default">
              For macOS 10.7
            </span>
          </a>
        {{/strip_html}}
      </p>
      <p>
        {{#strip_html}}
          <a class="btn btn-default"
            href="files/PCKeyboardHack-7.4.0.dmg">
            Download PCKeyboardHack-7.4.0
            &nbsp;
            <span class="label label-default">
              For macOS 10.6
            </span>
          </a>
        {{/strip_html}}
      </p>
      <p>
        {{#strip_html}}
          <a class="btn btn-default"
            href="files/PCKeyboardHack-5.1.0.pkg.tar.gz">
            Download PCKeyboardHack-5.1.0
            &nbsp;
            <span class="label label-default">
              For macOS 10.5, 10.4
            </span>
          </a>
        {{/strip_html}}
      </p>
    </div>
  </header>

  <div class="row">
    <div class="col-md-9 pqrs-docs-container">
      <section>
        <div class="page-header">
          <h1 id="installation">
            Installation
          </h1>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <div class="col-show-grid">
              <h2>Step 1</h2>

              <p>
                Open a downloaded dmg file, and then open a pkg file in dmg.
              </p>
              <p>
                <img
                alt="dmg"
                {{#imgsrc}}
                  ../images/dmg-icon@2x.png
                {{/imgsrc}}
                />
                <img
                alt="pkg"
                {{#imgsrc}}
                  ../images/pkg-icon@2x.png
                {{/imgsrc}}
                />
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="col-show-grid">
              <h2>Step 2</h2>

              <p>
                Installer is launched. Install Seil.
              </p>
              {{#lightbox}}
                img/v10/seil-installer@2x.png installer
              {{/lightbox}}
              <div class="alert alert-warning">
                Seil will be installed into /Applications folder. <br />
              </div>

              <div class="alert alert-danger">
                Do not change the location of Seil.app from /Applications. <br />
                <br />
                For example, Seil will not work properly if you moved Seil.app into /Applications/Utils.
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="col-show-grid">
              <h2>Step 3</h2>

              <p>
                Launch Seil from Launchpad.
              </p>

              <p>
                <img
                alt="icon"
                {{#imgsrc}}
                  img/v10/seil-icon@2x.png
                {{/imgsrc}}
                />
              </p>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="page-header">
          <h1 id="usage">
            Usage
          </h1>
        </div>

        <h2>Step 1</h2>
        <p>
          Open Launchpad (or open "<span class="glyphicon glyphicon-folder-open"></span> Applications" folder from Finder).
        </p>
        <p>
          Then, click Seil.
        </p>
        <div class="row">
          <div class="col-lg-4">
            <img
            alt="icon"
            {{#imgsrc}}
              img/v10/seil-icon@2x.png
            {{/imgsrc}}
            />
          </div>
        </div>

        <br />

        <p>
          <span class="label label-info">Note</span>
          If you're using PCKeyboardHack 8.0.0 or earlier,
          <a href="files/preferencepane-pckeyboardhack.png">Preferences is in System Preferences.</a>
        </p>

        <h2>Step 2</h2>
        <p>
          Activate items and change the keycode if needed.
        </p>
        <div class="row">
          <div class="col-lg-4">
            {{#lightbox}}
              img/v10/seil-preferences@2x.png Preferences
            {{/lightbox}}
          </div>
        </div>

        <h2 id="noaction">
          Step 3
          <span class="label label-info">Important</span>
        </h2>
        <p>
          If you are using Seil to change the behavior of caps lock,
          open "System Preferences &gt; Keyboard &gt; Modifier Keys..." and
          change caps lock configuration to "No Action".
        </p>
        <p>
          You need to do this step to to reduce caps lock delay.
        </p>
        <div class="row">
          <div class="col-lg-4">
            {{#lightbox}}
              img/v10/capslock@2x.png No Action
            {{/lightbox}}
          </div>
        </div>

        <div id="noaction-multiple-devices">
          <div class="alert alert-info">
            <h3>Note:</h3>
            <p>
              If you are using multiple devices, you should choose devices at "No Action" configuration.
            </p>
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/v10/seil-noaction-multiple-devices@2x.png No Action
                {{/lightbox}}
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="page-header">
          <h1 id="uninstall">
            Uninstall
          </h1>
        </div>

        <ol class="steps">
          <li>
            Press the "Launch uninstaller" button in Seil Preferences.
            <div class="row">
              <div class="col-lg-4">
                {{#lightbox}}
                  img/v10/seil-uninstall@2x.png Seil
                {{/lightbox}}
              </div>
            </div>
          </li>
        </ol>
      </section>

      <section>
        <div class="page-header">
          <h1 id="faq">
            Q&amp;A
          </h1>
        </div>

        <h2 id="specify-device">
          How to change the caps lock key only in specified keyboards (retain an internal keyboard)?
        </h2>

        <p>
          Seil changes key behavior in all keyboards. <br />
          So, you cannot specify enabled devices in Seil.
        </p>
        <p>
          But you can change keys only in specified devices by using Karabiner and Seil together. <br />
          First, change the caps lock key to f19 key in Seil, and then change f19 key in Karabiner.
        </p>

        <p>
          Steps:
        </p>

        <ol class="steps">
          <li>
            <p>
              Change key code of the caps lock key to "80" in Seil. <br />
              (Do not forget <a href="#usage">"No Action" configuration.</a>)
            </p>
            <p>
              Then the caps lock key works as f19 key.
            </p>
          </li>
          <li>
            <p>
              Change f19 key in Karabiner with <a href="xml.html#devicedef">&lt;device_only&gt; tag.</a>
            </p>
            <p>
              Please use the following private.xml with replacing &lt;vendorid&gt; and &lt;productid&gt;.<br />
              (<a href="document_v10.html#privatexml">How to use private.xml.</a>)
            </p>
          </li>
        </ol>

        {{#indented_xml}}
          |<?xml version="1.0"?>
          |<root>
          |
          |  <devicevendordef>
          |    <vendorname>My_Keyboard_VendorID</vendorname>
          |    <!-- *** Replace this value with yours. *** -->
          |    <vendorid>0x05ac</vendorid>
          |  </devicevendordef>
          |
          |  <deviceproductdef>
          |    <productname>My_Target_Keyboard_ProductID</productname>
          |    <!-- *** Replace this value with yours. *** -->
          |    <productid>0x0245</productid>
          |  </deviceproductdef>
          |
          |  <item>
          |    <name>Change f19 key to delete key</name>
          |    <appendix>(Change f19 key to caps lock key in internal keyboard.)</appendix>
          |    <identifier>private.f19_hack</identifier>
          |    <block>
          |      <!-- change f19 key to delete key -->
          |      <device_only>
          |        DeviceVendor::My_Keyboard_VendorID,
          |        DeviceProduct::My_Target_Keyboard_ProductID
          |      </device_only>
          |      <autogen>__KeyToKey__ KeyCode::F19, KeyCode::DELETE</autogen>
          |    </block>
          |    <block>
          |      <!-- change f19 key to caps lock key in other devices -->
          |      <autogen>__KeyToKey__ KeyCode::F19, KeyCode::CAPSLOCK</autogen>
          |    </block>
          |  </item>
          |
          |</root>
        {{/indented_xml}}


        <h2 id="beta-os-x">
          Seil does not work on developer-only beta of macOS. Why?
        </h2>
        <p>
          We need to modify secret values of macOS to performs purpose of Seil.
        </p>
        <p>
          However, we cannot access those secret values via SDK which Apple provides.
          We need <a href="http://opensource.apple.com/">source code of macOS</a> to modify these values.
        </p>
        <p>
          This source code will not be published until new macOS is shipped.
          Therefore, Seil is intentionally disabled on beta version of macOS.
        </p>
        <p>
          Please wait until new macOS is shipped from Apple.
          And please wait new version of Seil for new macOS.
        </p>
      </section>

      <section>
        <div class="page-header">
          <h1 id="commandlineinterface">
            Command line interface
          </h1>
        </div>

        <p>
          Seil provides a command line interface. (seil command)
        </p>
        <ul>
          <li>
            You can change settings.
          </li>
          <li>
            You can export configuration.
          </li>
        </ul>

        <h2>
          How to show help
        </h2>
        <p>
          Execute seil with no argument.
        </p>
        <pre>{{#strip_indented_lines}}
          |$ /Applications/Seil.app/Contents/Library/bin/seil
          |Usage:
          |  seil export
          |  seil relaunch
          |  seil set IDENTIFIER VALUE
          |
          |Example:
          |  seil export
          |  seil relaunch
          |  seil set keycode_capslock 80
        {{/strip_indented_lines}}</pre>

        <h2 id="export">
          About "export" option
        </h2>
        <ol>
          <li>
            Export configuration by "export" option.
            <br />
            The output is a shell script.
            <pre>{{#strip_indented_lines}}
              |$ /Applications/Seil.app/Contents/Library/bin/seil export > ~/Desktop/seil-import.sh
            {{/strip_indented_lines}}</pre>
          </li>
          <li>
            You can import it from Terminal.
            <pre>{{#strip_indented_lines}}
              |$ sh ~/Desktop/seil-import.sh
              |...........................................
            {{/strip_indented_lines}}</pre>
          </li>
        </ol>
      </section>

      <section>
        <div class="page-header">
          <h1 id="history">
            Version History
          </h1>
        </div>

        {{#histories}}
          <h2>
            Version {{version}}
            {{#updated}}
              <small>
                {{#format_date}}
                  {{updated}}
                {{/format_date}}
              </small>
            {{/updated}}

            {{#link}}
              <a class="btn btn-default" href="{{link}}">
                Download
              </a>
            {{/link}}
          </h2>
          <div style="margin-left: 2em">
            {{{body}}}
          </div>
        {{/histories}}
      </section>
    </div>
    <div class="col-md-3">
      {{> ../../pqrs_tabs }}
    </div>
  </div>
</div>
