<div class="container">
  <section>
    <div class="page-header">
      <h1>
        {{#language_en}}
          License &amp; Repository
        {{/language_en}}
        {{#language_ja}}
          ライセンス・リポジトリ
        {{/language_ja}}
      </h1>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>
            {{#language_en}}
              Project
            {{/language_en}}
            {{#language_ja}}
              プロジェクト
            {{/language_ja}}
          </th>
          <th>
            {{#language_en}}
              License
            {{/language_en}}
            {{#language_ja}}
              ライセンス
            {{/language_ja}}
          </th>
          <th>
            {{#language_en}}
              Repository
            {{/language_en}}
            {{#language_ja}}
              リポジトリ
            {{/language_ja}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Karabiner-Elements</td>
          <td>Public Domain</td>
          <td>
            <a target="_blank" href="https://github.com/tekezo/Karabiner-Elements">https://github.com/tekezo/Karabiner-Elements</a>
          </td>
        </tr>
        <tr>
          <td>Karabiner</td>
          <td>Public Domain</td>
          <td>
            <a target="_blank" href="https://github.com/tekezo/Karabiner">https://github.com/tekezo/Karabiner</a>
          </td>
        </tr>
        <tr>
          <td>Seil</td>
          <td>Public Domain</td>
          <td>
            <a target="_blank" href="https://github.com/tekezo/Seil">https://github.com/tekezo/Seil</a>
          </td>
        </tr>
        <tr>
          <td>NoEjectDelay</td>
          <td>Public Domain</td>
          <td>
            <a target="_blank" href="https://github.com/tekezo/NoEjectDelay">https://github.com/tekezo/NoEjectDelay</a>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
