<div class="container">
  <section>
    <div class="page-header">
      <h1>
        License &amp; Repository
      </h1>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>
            Project
          </th>
          <th>
            License
          </th>
          <th>
            Repository
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Karabiner-Elements</td>
          <td>Public Domain</td>
          <td>
            <a target="_blank" href="https://github.com/pqrs-org/Karabiner-Elements">https://github.com/pqrs-org/Karabiner-Elements</a>
          </td>
        </tr>
        <tr>
          <td>Karabiner</td>
          <td>Public Domain</td>
          <td>
            <a target="_blank" href="https://github.com/tekezo/Karabiner">https://github.com/tekezo/Karabiner</a>
          </td>
        </tr>
        <tr>
          <td>Seil</td>
          <td>Public Domain</td>
          <td>
            <a target="_blank" href="https://github.com/tekezo/Seil">https://github.com/tekezo/Seil</a>
          </td>
        </tr>
        <tr>
          <td>NoEjectDelay</td>
          <td>Public Domain</td>
          <td>
            <a target="_blank" href="https://github.com/tekezo/NoEjectDelay">https://github.com/tekezo/NoEjectDelay</a>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
