<div class="container">
  <section>
    <div class="page-header">
      <h1>
        Controls
      </h1>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h2>
          At Main Menu
        </h2>
        <dl class="dl-horizontal">
          <dt>A Button</dt>
          <dd>Choose.</dd>

          <dt>B Button</dt>
          <dd>Cancel.</dd>

          <dt>Control Pad</dt>
          <dd>Move cursor.</dd>
        </dl>
      </div>
      <div class="col-lg-6">
        <img alt="Title" {{#imgsrc}}img/title.png{{/imgsrc}} />
      </div>
    </div>
    <hr width="50%" />
    <div class="row">
      <div class="col-lg-6">
        <h2>
          In Game
        </h2>
        <dl class="dl-horizontal">
          <dt>B Button</dt>
          <dd>Back to Main Menu.</dd>

          <dt>R Button</dt>
          <dd>Skip to next barrage. (You cannot skip in Shooting Mode.)</dd>

          <dt>Start,Select</dt>
          <dd>Toggle slow mode.</dd>

          <dt>Control Pad</dt>
          <dd>Move.</dd>
        </dl>
      </div>
      <div class="col-lg-6">
        <img alt="Game" {{#imgsrc}}img/normal.png{{/imgsrc}} />
      </div>
    </div>
  </section>

  <section>
    <div class="page-header">
      <h1>
        Modes
      </h1>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <dl class="dl-horizontal">
          <dt>Select Barrage</dt>
          <dd>
            Select the barrage from the list.
          </dd>

          <dt>
            Shooting Level 1-4
          </dt>
          <dd>
            Destroy the boss.
          </dd>

          <dt>BulletsMorph</dt>
          <dd>
            Generate the barrage automatically.
          </dd>
        </dl>
      </div>
      <div class="col-lg-6">
        <img alt="Title" {{#imgsrc}}img/title.png{{/imgsrc}} />
      </div>
    </div>
  </section>

  <section>
    <div class="page-header">
      <h1>
        Slow Mode
      </h1>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <p>
          You can toggle slow mode by START or SELECT.
        </p>
        <ul>
          <li>Bullets will be slowed down to 1/4 speed.</li>
          <li>The color of the bullets becomes purple.</li>
        </ul>
        <p>
          You need "Jewel" to enter slow mode.
          Slow mode will be canceled when jewel becomes zero or you are bombarded.
        </p>
      </div>
      <div class="col-lg-6">
        <img alt="Normal"
        {{#imgsrc}}
          img/shooting.png
        {{/imgsrc}}
        />
        <img alt="Slow"
        {{#imgsrc}}
          img/slowmode.png
        {{/imgsrc}}
        />
      </div>
    </div>
  </section>
</div>
