<div class="container">
  <section>
    <div class="page-header">
      <h1>
        Source Code
      </h1>
    </div>
    <p>
      {{#strip_html}}
        <a class="btn btn-default btn-small"
          href="files/bulletgba-5.0.tar.gz">
          Download Source Code
        </a>
      {{/strip_html}}
    </p>
  </section>

  <section>
    <div class="page-header">
      <h1>
        How to build
      </h1>
    </div>
    <h2>
      Requirements
    </h2>
    <ul>
      <li>
        <a href="http://sourceforge.net/projects/devkitpro/" target="_blank">devkitPro r18 (buildscripts 20060412)</a>
        (You need to use version r18. Do not use the latest release!)
      </li>
    </ul>
    <h2>
      Steps
    </h2>
    <ol>
      <li>
        Execute the following commands in Terminal.
        <pre>{{#strip_lines}}
          $ tar ztf bulletgba-5.0.tar.gz
          $ cd bulletgba-5.0/bulletgba/
          $ make
        {{/strip_lines}}</pre>
      </li>
    </ol>
  </section>

  <section>
    <div class="page-header">
      <h1>
        How to replace graphic resources
      </h1>
    </div>
    <h2>
      Steps
    </h2>
    <ol>
      <li>
        Download <a href="files/tools.tar.gz">tools.tar.gz</a>.
      </li>
      <li>
        Execute following commands to setup gba-tools.
        <pre>{{#strip_lines}}
          $ mkdir ~/gba
          $ cd ~/gba
          $ tar zxf tools.tar.gz
          $ cd tools/bmp2c
          $ make clean all
        {{/strip_lines}}</pre>
      </li>
      <li>
        Modify graphic resources under bulletgba/images.
      </li>
      <li>
        Execute following commands to convert graphic resources.
        <pre>{{#strip_lines}}
          $ cd bulletgba-5.0/bulletgba/images/
          $ ./conv.sh
        {{/strip_lines}}</pre>
      </li>
    </ol>
  </section>

  <section>
    <div class="page-header">
      <h1>
        How to add BulletML
      </h1>
    </div>
    <h2>
      Requirements
    </h2>
    <ul>
      <li>
        You need PHP 5.0+ to convert BulletML to C++.
      </li>
    </ul>
    <h2>
      Steps
    </h2>
    <ol>
      <li>
        Extract source code.
      </li>
      <li>
        Put BulletML to bulletgba-5.0/bulletgba/generator/data/xml/user/.
      </li>
      <li>
        Execute following commands to convert BulletML into C++.
        <pre>{{#strip_lines}}
          $ tar ztf bulletgba-5.0.tar.gz
          $ cd bulletgba-5.0/bulletgba/generator/
          $ make copy all
        {{/strip_lines}}</pre>
      </li>
    </ol>
  </section>

  <section>
    <div class="page-header">
      <h1>
        Supported BulletML
      </h1>
    </div>
    <p>
      The most BulletML are supported. But there are little exception.
    </p>
    <ul>
      <li>&lt;accel&gt; does not work properly.</li>
      <li>
        &lt;*Ref&gt; which contains $rand in &lt;param&gt; does not work properly.
        {{#indented_xml}}
          |<fireRef>
          |  <param>1.0 * 3.4 + 4.2</param>     <!-- *** This line works fine. *** -->
          |  <param>$rand + 1</param>           <!-- *** This line does not work properly. *** -->
          |</fireRef>
        {{/indented_xml}}
    </ul>
  </section>

  <section>
    <div class="page-header">
      <h1>
        Thanks
      </h1>
    </div>
    <p>
      BulletGBA uses following softwares and data.
    </p>
    <ul>
      <li><a target="_blank" href="http://www.devkitpro.org/">devkitPro</a></li>
      <li><a target="_blank" href="http://www.asahi-net.or.jp/~cs8k-cyu/bulletml/index_e.html">BulletML</a></li>
      <li><a target="_blank" href="http://shinh.skr.jp/sdmkun/zipup.cgi">弾幕やさん</a></li>
      <li><a target="_blank" href="http://www.math.sci.hiroshima-u.ac.jp/~m-mat/MT/emt.html">Mersenne Twister</a></li>
      <li><a target="_blank" href="http://www.graphicartsunit.com/gaupra/">GAU Cube Bold</a></li>
    </ul>
  </section>

</div>
