<div id="nav-list">
  <ul class="nav nav-list affix">
    {{#tabs}}
      <li>
        <a href="{{href}}">
          <i class="icon-chevron-right"></i>
          {{name_l10n}}
        </a>
      </li>
    {{/tabs}}
  </ul>
</div>
