<div class="bs-sidebar" id="bs-sidebar">
  <ul class="nav bs-sidenav">
    {{#tabs}}
      {{#href}}
        <li>
          <a href="{{href}}">
            <i class="icon-chevron-right"></i>
            {{name_l10n}}
          </a>
        </li>
      {{/href}}
      {{^href}}
        <li class="nav-header">{{name_l10n}}</li>
      {{/href}}
    {{/tabs}}
  </ul>
</div>
