<div class="container">
  <section>
    <div class="page-header">
      <h1>{{title}}</h1>
    </div>

    <div class="col-lg-2">
      <img src="/img/profile.jpg"
      {{#language_en}}
        alt="Profile Photo"
      {{/language_en}}
      {{#language_ja}}
        alt="プロフィール写真"
      {{/language_ja}}
      class="img-responsive" />
    </div>
    <div class="col-lg-10">
      <dl class="dl-horizontal">
        {{#language_en}}
          <dt>Name</dt>
          <dd>
            Takayama Fumihiko<br />
            ("高山 扶美彦" in kanji)
          </dd>
          <dt>Email</dt><dd>tekezo@pqrs.org</dd>
        {{/language_en}}
        {{#language_ja}}
          <dt>名前</dt><dd>高山 扶美彦</dd>
          <dt>メールアドレス</dt><dd>tekezo@pqrs.org</dd>
        {{/language_ja}}
        <dt>SNS</dt><dd><a target="_blank" href="https://plus.google.com/109301982467023673245/posts">Google+</a></dd>
      </dl>
    </div>
  </section>
</div>
