<div class="container">
  <section>
    <div class="page-header">
      <h1>{{title}}</h1>
    </div>
    <div class="row">
      <div class="span8">
        {{#language_en}}
          <p>Name: Takayama Fumihiko</p>
          <p>Email: tekezo@pqrs.org</p>
        {{/language_en}}
        {{#language_ja}}
          <p>名前: 高山 扶美彦</p>
          <p>メールアドレス: tekezo@pqrs.org</p>
        {{/language_ja}}
        <p><a target="_blank" href="https://plus.google.com/109301982467023673245/posts">Google+</a></p>
      </div>
      <div class="span4">
        <img class="pull-right" src="/img/profile.jpg"
        {{#language_en}}
          alt="Profile Photo"
        {{/language_en}}
        {{#language_ja}}
          alt="プロフィール写真"
        {{/language_ja}}
        width="200" height="200" />
      </div>
    </div>
  </section>
</div>
